<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <title>Hire Azure Developers</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link href="wisehands/services/services.css" rel="stylesheet"/>

    <link rel="icon"
          type="image/png"
          href="wisehands/assets/images/favicon.png">
</head>
<body>
<div class="header">
    <div class="header-block">
        <div class="header-logo">
            <img src="wisehands/assets/images/main_logo_black.png">
            <p>WiseHands</p>
        </div>
        <div class="header-logo-text">
            <div class="dropdown">
                <button class="dropbtn"><a href="/hire-frontend-developers">Frontend</a></button>
                <div class="dropdown-content">
                    <a href="/hire-react-developers">React</a>
                    <a href="/hire-angular-developers">Angular</a>
                    <a href="/hire-vuejs-developers">Vue</a>
                    <a href="/hire-polymer-developers">Polymer</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn"><a href="/hire-backend-developers">Backend</a></button>
                <div class="dropdown-content">
                    <a href="/hire-go-developers">Go</a>
                    <a href="/hire-java-developers">Java</a>
                    <a href="/hire-nodejs-developers">Node.js</a>
                    <a href="/hire-python-developers">Python</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn"><a href="/hire-devops-developers">Devops</a></button>
                <div class="dropdown-content">
                    <a href="/hire-aws-developers">AWS</a>
                    <a href="/hire-googlecloud-developers">Google Cloud</a>
                    <a href="/hire-azure-developers">Azure</a>
                    <a href="/hire-kubernetes-developers">Kubernetes</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn"><a href="/hire-mobile-developers">Mobile</a></button>
                <div class="dropdown-content">
                    <a href="/hire-ios-developers">IOS</a>
                    <a href="/hire-android-developers">Android</a>
                </div>
            </div>
        </div>
    </div>


    <div class="burger-menu" >
        <i id="mobile-menu" class="fa fa-bars" style="font-size:36px; color: #000"></i>
    </div>
</div>
</body>
</html>