<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="hire backend developers">
    <meta name="Keywords" content="hire backend developers, hire web developers, web developers, web technologies, wisehands developers">

    <title>Hire Backend Developers</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link href="wisehands/services/services.css" rel="stylesheet"/>

    <link rel="icon"
          type="image/png"
          href="wisehands/assets/images/favicon.png">
</head>
<body>
#{services-header /}


    <div class="services-container">
        <div class="services-top-block services-backend">
            <div class="services-banner services-banner-mob">
                <h1>Hire Backend Developers</h1>
            </div>
        </div>
        <div class="services-content">
            <div class="services-about">
                <h4>Delivering world-class customer experience while executing understandable, maintainable, well tested
                    code.</h4>
                <h4>Backend engineers who can move incredibly fast while delivering a quality product.</h4>
                <h4>We combine the vision of product with the art of programming. </h4>
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet turpis in neque sagittis fermentum. In a sapien a odio ultrices pulvinar. Praesent eget blandit felis. Etiam viverra quis nulla laoreet hendrerit. Sed mauris libero, semper vel quam sit amet, tincidunt porttitor risus.</p>-->
            </div>
            <h2>Our Technologies</h2>
            <div class="services-stack">
                <div class="stack-item">
                    <a href="/hire-go-developers"><img src="../../../../wisehands/services/images/Go.png"></a>
                </div>
                <div class="stack-item">
                    <a href="/hire-java-developers"><img src="../../../../wisehands/services/images/Java.png"></a>
                </div>
                <div class="stack-item">
                    <a href="/hire-nodejs-developers"><img src="../../../../wisehands/services/images/NodeJs.png"></a>
                </div>
                <div class="stack-item">
                    <a href="/hire-python-developers"><img src="../../../../wisehands/services/images/python.png"></a>
                </div>
            </div>
        </div>
    </div>
<div class="services-contact-btn">
    <a href="/main#contactForm"><button type="button">Contact Us</button></a>
</div>

</body>
</html>