<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <title>Hire Google Cloud Developers</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link href="wisehands/services/services.css" rel="stylesheet"/>

    <link rel="icon"
          type="image/png"
          href="wisehands/assets/images/favicon.png">
</head>
<body>
#{services-header /}

</body>
</html>