<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="hire java developers">
    <meta name="Keywords" content="hire java     developers, hire backend developers, hire web developers, web developers, web technologies, wisehands developers">

    <title>Hire Java Developers</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link href="wisehands/services/services.css" rel="stylesheet"/>

    <link rel="icon"
          type="image/png"
          href="wisehands/assets/images/favicon.png">
</head>
<body>
#{services-header /}

<div class="services-container">
    <div class="services-top-block services-java">
        <div class="services-banner services-banner-mob">
            <h1>Hire Java Developers</h1>
        </div>
    </div>
    <div class="services-content">
        <h4>Experienced and versatile, product minded Java Developers ready to join your team.</h4>

        <p>Proficiency we offer:</p>
        <ul>
           <li>Building and scaling-up a product that will impact the lives for your customers</li>
           <li>Understand you customers and the impact product is making in their lives - through data analysis and user research - to drive our team and product roadmap</li>
           <li>Ownership and empowerment.</li>
        </ul>
    </div>
</div>

<div class="services-contact-btn">
    <a href="/main#contactForm"><button type="button">Contact Us</button></a>
</div>

</body>
</html>