<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <title>Hire Frontend Developers</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link href="wisehands/services/services.css" rel="stylesheet"/>

    <link rel="icon"
          type="image/png"
          href="wisehands/assets/images/favicon.png">
</head>
#{services-header /}


    <div class="services-container">
        <div class="services-top-block services-frontend">
            <div class="services-banner">
                <h1>Hire Frontend Developers</h1>
            </div>
        </div>
        <div class="services-content">
            <div class="services-about">
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet turpis in neque sagittis fermentum. In a sapien a odio ultrices pulvinar. Praesent eget blandit felis. Etiam viverra quis nulla laoreet hendrerit. Sed mauris libero, semper vel quam sit amet, tincidunt porttitor risus.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet turpis in neque sagittis fermentum. In a sapien a odio ultrices pulvinar. Praesent eget blandit felis. Etiam viverra quis nulla laoreet hendrerit. Sed mauris libero, semper vel quam sit amet, tincidunt porttitor risus.</p>
            </div>
            <h2>Our Technologies</h2>
            <div class="services-stack">
                <div class="stack-item">
                    <a href="/hire-react-developers"><img src="../../../../wisehands/services/images/react.png"></a>
                </div>
                <div class="stack-item">
                    <a href="/hire-angular-developers"><img src="../../../../wisehands/services/images/angular.png"></a>
                </div>
                <div class="stack-item">
                    <a href="/hire-vuejs-developers"><img src="../../../../wisehands/services/images/vue.png"></a>
                </div>
                <div class="stack-item">
                    <a href="/hire-polymer-developers"><img src="../../../../wisehands/services/images/polymer.png"></a>
                </div>
            </div>
        </div>
    </div>


    <script>
        document.getElementById("mobile-menu").addEventListener("click", showMenu);
        function showMenu() {
            document.querySelector("#overlay-mobile").style.display = 'block';
            document.querySelector(".sidebar-mobile").classList.remove('sibebar-swipe-off');
        }
    </script>

</body>
</html>