<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <title>Hire Devops Developers</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link href="wisehands/services/services.css" rel="stylesheet"/>

    <link rel="icon"
          type="image/png"
          href="wisehands/assets/images/favicon.png">
</head>
<body>
    <div class="header">
        <div class="header-block">
            <div class="header-logo">
                <img src="wisehands/assets/images/main_logo_black.png">
                <p>WiseHands</p>
            </div>
            <div class="header-logo-text">
                <div class="dropdown">
                    <button class="dropbtn"><a href="/hire-frontend-developers">Frontend</a></button>
                    <div class="dropdown-content">
                        <a href="#home">React</a>
                        <a href="#about">Angular</a>
                        <a href="#contact">Vue</a>
                        <a href="#contact">Polymer</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn"><a href="/hire-backend-developers">Backend</a></button>
                    <div class="dropdown-content">
                        <a href="#home">Go</a>
                        <a href="#about">Java</a>
                        <a href="#contact">Node.js</a>
                        <a href="#contact">Python</a>
                        <a href="#contact">.Net</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn"><a href="/hire-devops-developers">Devops</a></button>
                    <div class="dropdown-content">
                        <a href="#home">AWS</a>
                        <a href="#about">Google Cloud</a>
                        <a href="#contact">Azure</a>
                        <a href="#contact">Kubernetes</a>
                        <a href="#contact">Terraform</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn"><a href="/hire-mobile-developers">Mobile</a></button>
                    <div class="dropdown-content">
                        <a href="#home">IOS</a>
                        <a href="#about">Android</a>
                    </div>
                </div>
            </div>
            <!--<div class="header-links">-->
            <!--<a href="/ua/signin"><p>Вхід</p></a>-->
            <!--<a href="/ua/signup"><p>Реєстрація</p></a>-->
            <!--</div>-->
        </div>


        <div class="burger-menu" >
            <i id="mobile-menu" class="fa fa-bars" style="font-size:36px; color: #000"></i>
        </div>
    </div>
</body>
</html>