<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <title>Hire Angular Developers</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link href="wisehands/services/services.css" rel="stylesheet"/>

    <link rel="icon"
          type="image/png"
          href="wisehands/assets/images/favicon.png">
</head>
<body>
#{services-header /}

<div class="services-container">
    <div class="services-top-block services-angular">
        <div class="services-banner">
            <h1>Hire Angular Developers</h1>
        </div>
    </div>
    <div class="services-content">
        <h4>React is a JavaScript library for building user interfaces.  React.js has grasped the interest of the open source community and it is here to stay. However, the nuances and idiosyncrasies of React.js require extra caution when distinguishing between good JavaScript developers and true experienced React.js developers.</h4>

        <p>Developing the latest user-facing features using React.js</p>
        <p>Building reusable components and front-end libraries for future use</p>
        <p>Translating designs and wireframes into high-quality code</p>
        <p>Learn and understand user interactions</p>
        <p>Optimizing components for maximum performance across a vast array of web-capable devices and browsers</p>
    </div>
</div>

</body>
</html>