body, p, h1, h2, h3, h4, h5, h6, i {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
}
body a {
    text-decoration: none;
    color: inherit;
}
.header {
    margin: 0 auto;
    padding: 0 0.5rem;
}
.header-block {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    padding: 0.5rem;
}
.header-logo-text, .header-links {
    display: flex;
    align-items: center;
}
.header-block img {
    width: 50px;
    height: 50px;
    padding-right: 1rem;
}

.dropbtn {
    background-color: #fff;
    color: #000;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    color: lightseagreen;
    outline: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a:hover {
    background-color: #fff
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {
    color: lightseagreen;
}

.header-logo-text {
    justify-content: space-between;
}
.header-logo-text a {
    text-decoration: none;
}
.header-logo-text p, .header-links p {
    font-size: 1.2rem;
    padding: 0 1.5rem;
    cursor: pointer;
}

.services-container {
    max-width: 1200px;
    margin: 0 auto;
}
.services-top-block {
    background:  linear-gradient(to right,#fff 35%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 58%), url("/wisehands/services/images/frontendbg.jpg");
    background-position: center;
    background-size: cover;
    height: 50vh;
    position: relative;
}
.services-banner {
    position: absolute;
    top: 40%;
    left: 3rem;
}
.services-banner h1 {
    font-size: 4.5rem;
    font-size: 700;
    color: #212529;
}
.services-content {
    margin-top: 3rem;
    padding: 1rem;
}
.services-content h4 {
    font-size: 1.3rem;
    line-height: 1.4;
    font-weight: 500;
    padding-bottom: 1rem;
}
.services-content p {
    line-height: 1.5;
    font-weight: 400;
}
.services-stack {
    display: flex;
    justify-content: space-between;
}
.services-content h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: 3rem;
}
.stack-item {
    margin: 2rem 0;
}
.stack-item img {
    max-width: 200px;
    margin: 0 auto;
    border: 1px solid #bdbdbd;
    padding: 2rem;
    filter: grayscale(100%);
}
.stack-item img:hover {
    filter: grayscale(0%);
}