body, p, h1, h2, h3, h4, h5, h6, i, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
}
body a {
    text-decoration: none;
    color: inherit;
}

.burger-menu {
    display: none;
    padding: 1rem;
}
.burger-menu:hover {
    cursor: pointer;
}
#overlay-mobile {
    display: none;
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    padding: 0;
    margin: 0;
}
.sidebar-mobile {
    width: 80%;
    height: 100%;
    background-color: rgba(255,255,255,1);
    opacity: 1;
    animation: sidebarmove 0.3s linear;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 2px 3px 0 rgba(0, 0, 0, .12);
}
@keyframes sidebarmove {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.sibebar-swipe-off {
    width: 0%;
    height: 100%;
    background-color: rgba(255,255,255,1);
    opacity: 1;
    transition-delay: 0.3s;
    animation: sidebarswipeoff 0.3s linear;
}
@keyframes sidebarswipeoff {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(-100%, 0, 0);
    }
}
.sidebar-logo {
    display: flex;
    align-items: center;
    height: 58px;
    padding: 0.5rem;
}
.sidebar-logo img {
    width: 36px;
    height: 36px;
    padding-right: 5px;
}
.sidebar-logo p {
    font-size: 2rem;
    margin-bottom: 0;
}
.sidebar-panel {
    display: flex;
    flex-direction: column;
    line-height: 2;
    padding: 10px;
    font-size: 1.2rem;
}
.sidebar-item i {
    padding-right: 10px;
}
.sub-menu {
    display: none;
    width: 100%;
    padding-left: 10px;
}
.dropdown-btn {
    padding: 5px 0;
    text-decoration: none;
    font-size: 1.3rem;
    color: #262626;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
.fa-angle-down{
    float: right;
    padding-top: 10px;
}
.sidebar-panel a {
    color: #262626;
    line-height: 2.5;
}
.sidebar-panel a:hover {
    color: lightseagreen;
}
.sidebar-panel p {
    font-size: 1.3rem;
    margin-bottom: 0;
}
.sidebar-panel p, .sidebar-panel button {
    padding: 0 .2em;
}
.sub-menu li {
    padding: 3px .2em;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*.sidebar-panel p:hover, .sidebar-panel button:hover, .sidebar-panel ul li:hover {*/
    /*background-color: lightgrey;*/
/*}*/
.header {
    margin: 0 auto;
    padding: 0 0.5rem;
}
.header-block {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    padding: 0.5rem;
}

.header-logo-text, .header-logo {
    display: flex;
    align-items: center;
}
.header-block img {
    width: 50px;
    height: 50px;
    padding-right: 1rem;
}
.header-logo p {
    font-size: 1.2rem;
}
.dropbtn {
    background-color: #fff;
    color: #000;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    color: lightseagreen;
    outline: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a:hover {
    background-color: #fff
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {
    color: lightseagreen;
}

.header-logo-text {
    justify-content: space-between;
}
.header-logo-text a {
    text-decoration: none;
}
.header-logo-text p, .header-links p {
    font-size: 1.2rem;
    padding: 0 1.5rem;
    cursor: pointer;
}

.services-container {
    max-width: 1200px;
    margin: 0 auto;
}
.services-frontend {
    background:  linear-gradient(to right,#fff 35%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 58%), url("/wisehands/services/images/frontendbg.jpg");
}
.services-backend {
    background:  linear-gradient(to right,#fff 35%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 58%), url("/wisehands/services/images/backendbg.jpg");
}
.services-devops {
    background:  linear-gradient(to right,#fff 35%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 58%), url("/wisehands/services/images/devopsbg.jpg");
}
.services-mobile {
    background:  linear-gradient(to right,#fff 35%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 58%), url("/wisehands/services/images/mobilebg.jpg");
}
.services-react {
    background:  linear-gradient(to right,#fff 35%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 58%), url("/wisehands/services/images/reactbg.jpg");
}
.services-angular {
    background:  linear-gradient(to right,#fff 35%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 58%), url("/wisehands/services/images/angularbg.jpg");
}
.services-vuejs {
    background:  linear-gradient(to right,#fff 35%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 58%), url("/wisehands/services/images/vuebg.jpg");
}
.services-polymer {
    background:  linear-gradient(to right,#fff 35%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 58%), url("/wisehands/services/images/polymerbg.jpg");
}
.services-go {
    background:  linear-gradient(to right,#fff 35%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 58%), url("/wisehands/services/images/gobg.jpg");
}
.services-java {
    background:  linear-gradient(to right,#fff 35%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 58%), url("/wisehands/services/images/javabg.jpg");
}
.services-nodejs {
    background:  linear-gradient(to right,#fff 35%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 58%), url("/wisehands/services/images/nodebg.jpg");
}
.services-python {
    background:  linear-gradient(to right,#fff 35%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 58%), url("/wisehands/services/images/pythonbg.jpg");
}
.services-aws {
    background:  linear-gradient(to right,#fff 35%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 58%), url("/wisehands/services/images/awsbg.jpg");
}
.services-googlecloud {
    background:  linear-gradient(to right,#fff 35%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 58%), url("/wisehands/services/images/googlebg.jpg");
}
.services-azure {
    background:  linear-gradient(to right,#fff 35%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 58%), url("/wisehands/services/images/azurebg.jpg");
}
.services-kubernetes {
    background:  linear-gradient(to right,#fff 35%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 58%), url("/wisehands/services/images/kubernetesbg.jpg");
}
.services-ios {
    background:  linear-gradient(to right,#fff 35%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 58%), url("/wisehands/services/images/iosbg.jpg");
}
.services-android {
    background:  linear-gradient(to right,#fff 35%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 58%), url("/wisehands/services/images/androidbg.jpg");
}

.services-top-block {
    background-position: center;
    background-size: cover;
    height: 50vh;
    position: relative;
}
.services-banner {
    position: absolute;
    top: 40%;
    left: 1rem;
}
.services-banner h1 {
    font-size: 4.5rem;
    font-size: 700;
    color: #212529;
    max-width: 600px;
}
.services-content {
    margin-top: 3rem;
    padding: 1rem;
}
.services-content h4 {
    font-size: 1.3rem;
    line-height: 1.6;
    font-weight: 500;
    padding-bottom: 1rem;
}
.services-content p {
    line-height: 1.5;
    font-weight: 400;
}
.services-stack {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 -1rem;
}
.services-content h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: 3rem;
}
.services-content ul li {
    line-height: 1.8;
    margin-left: 2rem;
}
.stack-item {
    margin: 2rem 0;
}
.stack-item img {
    max-width: 200px;
    margin: 0 auto;
    border: 1px solid #bdbdbd;
    padding: 2rem;
    filter: grayscale(100%);
}
.stack-item img:hover {
    filter: grayscale(0%);
}
.services-contact-btn {
    display: flex;
    justify-content: center;
}
.services-contact-btn button {
    margin: 1.5rem 0;
    padding: 0.5rem 2rem;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    text-transform: uppercase;
    cursor: pointer;
}
.services-contact-btn button:hover {
    background-color: #000;
    color: #fff;
}
@media screen and (max-width: 768px) {
    .header-block {
        display: none;
    }
    .burger-menu {
        display: block;
    }
    .services-banner {
        display: none;
        top: 25%;
        left: 0;
    }
    .services-banner-mob {
        display: block;
    }
    .services-banner-mob h1 {
        font-size: 2.5rem;
        text-align: center;
        background: #fff;
        padding: 1rem;
        margin: 1rem;
        border-radius: 0.5rem;
    }
}