/*TO CREATE SPACE BETWEEN ROW*/
p {
    padding-top: 1em;
    padding-bottom: 1em;
}
.wellSideMargin {
    margin-right: 0.9em;
    margin-left: 0.9em;

}
.vcenter {
    margin-top: 0.4em;
    display: none;
}
@media only screen and (max-device-width : 480px) {
    .vcenter {
        display: inline;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
}
.vertcialCentering {
    margin-top: 1.1em;
}
.rowBackground {
    background-color: #f8f8f8;
    box-sizing: border-box;
    border-radius: 0.5em;
    margin-bottom: 1em;
    border: 1px solid lightgrey;
}
.orderState {
    margin-bottom: 0;
    border: none;
}
.dropdown-menu {
    left: -9em;
}
.dropdown-menu li {
    margin: 0.7em 0;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.parentTextCentering {
    margin-top: 1em;
}
.childTextCentering {
    margin-top: 0.55em;
}