/*TO CREATE SPACE BETWEEN ROW*/
.margin-well {
    margin-left: 1.5em;
    margin-right: 1.5em;
}
p {
    padding-top: 1em;
    padding-bottom: 1em;
}
.orderListSideMargin {
    margin-right: 1em;
    margin-left: 1em;

}
.vcenter {
    margin-top: 0.4em;
    display: none;
}
@media only screen and (max-device-width : 480px) {
    .vcenter {
        display: inline;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
}
