<div class="row">
    <div class="container">
        <h2 class="title">Wise Hands</h2>
        <form class="form-signin" name="loginForm">
            <div class="row">
                <div class="column">
                    <label>Create your own web-store in 2 minutes!</label>
                </div>
            </div>
            <a href="#/register"><input class="button-submit full-width buttonStyling" value="REGISTER"></a>
            <a href="#/login"><input class="button-submit full-width buttonStyling" value="LOG IN"></a>
        </form>
    </div>
</div>