<div class="row">
    <div class="container">
        <h2 class="title">Wise Hands</h2>
        <form class="form-signin" name="loginForm">
            <div class="row">
                <div class="column">
                    <label>Create your own web-store in 2 minutes!</label>
                </div>
            </div>
            <a href="#/register"><button class="button-submit full-width buttonStyling">REGISTER</button></a>
            <a href="#/login"><button class="button-submit full-width buttonStyling">LOG IN</button></a>
        </form>
    </div>
</div>