<div class="row">
    <div class="container">
        <a href="#/"><h2 class="title title-hover">Wise Hands</h2></a>
        <div class="aboutContainer" name="loginForm">
                <div class="row">
                    <div class="column labelBotMargin">
                        <h4>We offer platform for web-store creation and management. Receive your payments online directly to your account. Easily integrate Google Analytics into your store. Share access between multiple users.
                        </h4>
                    </div>
                    <div id="map" class="column"></div>
                    <div class="column contactsContainer">
                        <h5>ADDRESS</h5>
                        <p>Lviv, Vimens'ka st., 15</p>
                        <h5>E-MAIL</h5>
                        <p>patlavovach@gmail.com</p>
                        <h5>PHONE</h5>
                        <p>0631206871</p>
                    </div>
                </div>
            <!--<div class="row">-->
                <!--<a class="forgot" ng-show="showShopList">Choose proper web-store</a>-->
            <!--</div>-->
            <!--<div ng-repeat="shop in user.shopList">-->
                <!--<button class="button-submit full-width buttonStyling" ng-click="properShop(shop)">{{shop.shopName}}</button>-->
            <!--</div>-->
        </div>
    </div>
</div>