<div class="row">
    <div class="container">
        <a href="#/"><h2 class="title title-hover">Wise Hands</h2></a>
        <div class="aboutContainer" name="loginForm">
            <div class="row">
                <div class="column labelBotMargin">
                    <h4>{{'main.description' | translate}}
                    </h4>
                </div>
                <div id="map" class="column"></div>
                <div class="column contactsContainer">
                    <h5>{{'main.address' | translate}}</h5>
                    <p>{{'main.address2' | translate}}</p>
                    <h5>E-MAIL</h5>
                    <p>patlavovach@gmail.com</p>
                    <h5>{{'main.phone' | translate}}</h5>
                    <p>0631206871</p>
                </div>
            </div>
        </div>
    </div>
</div>