<div class="row">
    <div class="container">
        <a href="#/"><h2 class="title title-hover">Wise Hands</h2></a>
        <form class="form-signin" name="loginForm">
            <div class="row">
                <a href="#/register"><button class="button-submit full-width buttonStyling">{{'main.register' | translate}}</button></a>
                <a href="#/login"><button class="button-submit full-width buttonStyling">{{'main.login' | translate}}</button></a>
            </div>
        </form>
    </div>
</div>