<div class="row" ng-cloak>
    <div class="container">
        <a href="#/emailsignin"><h2 class="title title-hover">Wise Hands</h2></a>
        <form class="form-signin" name="loginForm" ng-submit="logIn()">
            <div ng-hide="showShopList">
                <div class="row">
                    <div class="column">
                        <label>E-MAIL </label>
                        <input id="email" class="full-width" type="email" placeholder="E-mail" ng-model="email" required>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label>{{'main.password' | translate}} </label>
                        <input id="password" class="full-width" type="password" placeholder="Password" ng-model="password" required>
                    </div>
                </div>
                <br/>
                <button class="button-submit full-width buttonStyling" type="submit">{{'main.login' | translate}}</button>
                <p class="deniedMsg" ng-show="deniedMsg" ng-cloak>{{accessDeniedMessage}}</p>

            </div>
            <div class="row">
                <a href="#" class="forgot" ng-show="showShopList">{{'main.chooseShop' | translate}}</a>
            </div>
            <div ng-repeat="shop in user.shopList">
                <button class="button-submit full-width buttonStyling" ng-click="properShop(shop)">{{shop.shopName}}</button>
            </div>
        </form>
    </div>
</div>