<div class="row">
    <div class="container">
        <h2 class="title">Wise Hands</h2>
        <form class="form-signin" name="loginForm">
            <div ng-hide="showShopList">
                <div class="row">
                    <div class="column labelBotMargin">
                        <label>Create your own web-store in 2 minutes!</label>
                    </div>
                    <div class="column">
                        <button class="button-submit full-width buttonStyling" ng-click="googleSignIn()">SIGN IN WITH GOOGLE</button>
                    </div>
                    <div class="column">
                        <a href="#/emailsignin"><label class="cursorPointer">Click here to use email/password or register new account</label></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <a href="#" class="forgot">About</a>
            </div>
            <div class="row">
                <a href="#" class="forgot" ng-show="showShopList">Choose proper web-store</a>
            </div>
            <div ng-repeat="shop in user.shopList">
                <button class="button-submit full-width buttonStyling" ng-click="properShop(shop)">{{shop.shopName}}</button>
            </div>
        </form>
    </div>
</div>