<div class="row">
    <div class="container">
        <a href="#/emailsignin"><h2 class="title title-hover">Wise Hands</h2></a>
        <form class="form-signin" name="loginForm" ng-submit="signIn()">
            <div class="row">
                <div class="column">
                    <label>{{'main.name' | translate}} </label>
                    <input id="name" class="full-width" type="text" placeholder="{{'main.name' | translate}}" ng-model="user.name" required>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label>{{'main.phone' | translate}} </label>
                    <input id="phonenumber"
                           class="full-width"
                           type="tel"
                           placeholder="Phone number"
                           ng-model="phone"
                           pattern="^380[0-9]{9,9}$"
                           ng-value="+380"
                           required>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label>E-MAIL </label>
                    <input id="email" class="full-width" type="email" placeholder="E-mail" ng-model="user.email" required>
                </div>
            </div>
            <div class="row" ng-hide="user.isGoogleSignIn">
                <div class="column">
                    <label>{{'main.password' | translate}} </label>
                    <input id="password" class="full-width" type="password" placeholder="{{'main.password' | translate}}" ng-model="password" ng-required="!user.isGoogleSignIn">
                </div>
            </div>
            <div class="row" ng-hide="user.isGoogleSignIn">
                <div class="column">
                    <label>{{'main.confirm' | translate}} </label>
                    <input id="confirmationpassword" class="full-width" type="password" placeholder="{{'main.confirm' | translate}}" ng-model="confirmPassword" ng-required="!user.isGoogleSignIn">
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label>{{'main.shopname' | translate}} </label>
                    <input id="shopname" class="full-width" type="text" placeholder="{{'main.shopname' | translate}}" ng-model="shopName" required>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label>{{'main.domain' | translate}} </label>
                    <p>{{'main.domainTips' | translate}}</p>
                    <input id="domain" class="full-width" type="text" placeholder="{{'main.domain' | translate}}" ng-model="domain" pattern="^[a-z0-9-]+$" required>
                    <p ng-show="domain">{{'main.domainTips2' | translate}}:</p>
                    <p ng-show="domain">http://{{domain}}.wisehands.me</p>
                </div>
            </div>
            <br/>
            <p class="deniedMsg">{{error}}</p>
            <button class="button-submit full-width buttonStyling" type="submit">{{'main.signUp' | translate}}</button>
        </form>
    </div>
</div>