<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'additionMenu.title' | translate}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding"
              type="button"
              href="#/newaddition">
               <i class="fa fa-plus-circle pull-right whiteColor">
               </i>
            </a>
        </div>
    </div>
</nav>

<!-- add card with shop info ng-repeat="qrCode in qrCodeList" -->
<div class="admin-container admin-column qr-code-block">
    <div class="qr-title-container">
        <img class="img-present-qr" src="\wisehands\assets\images\qr_code.svg">
        <div class="qr-title-text">
            <p class="additions-title"> {{'additionMenu.titleInfo' | translate}} </p>
        </div>
    </div>
    <div ng-show="additionList.length === 0">
        <p>{{'additionMenu.noAddition' | translate}}</p>
    </div>
    <div class="qr-list-container" ng-show="additionList">
        <div ng-repeat="addition in additionList | filter: addition.isDeleted === false" on-finish-render="ngRepeatFinished">
            <a href="#/additionedit/{{addition.uuid}}" >
                <div class="admin-card addition-item">
                    <img class="addition-img" src="{{addition.imagePath}}">
                    <p>{{addition.title}}</p>
                    <p>{{addition.price}}</p>
                </div>
            </a>
        </div>
    </div>




</div>
