<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               href="#/shops">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>
            <a class="col-xs-8 text-center">
                <h5 class="white-text">{{'addNewShops.createNetworkShops' | translate}}</h5>
            </a>
            <div class="col-xs-2 noRightPadding">
                <button class="fa fa-save whiteColor pull-right saveProductButtonStyling"
                        ng-click="submitNetworkShops()">
                </button>
            </div>
        </div>
    </div>
</nav>
<div class="flex-row">
    <div class="input-field col-md-6">
        <div class="col-xs-6">
            <p style="margin-bottom: 0px">{{'sideNav.Shops' | translate}}</p>
            <select class="form-control col-md-6"
                    ng-model="selectedShop"
                    ng-change="shopSelected(shop)"
                    ng-options="shop as shop.shopName for shop in shops">
            </select>
        </div>

    </div>
    <div class="input-field col-md-6">
        <input id="shopNetworkName" type="text" ng-model="shopNetworkName" required>
        <label for="shopNetworkName">{{'addShopsNetwork.netName' | translate}}</label>
    </div>
</div>
<div class="container-fluid noSidePadding cardTopPadding">

    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="shop in shopList">
            <div class="card card-product hoverable">
                <div class="view overlay hm-white-slight z-depth-1">
                    <a href="#/shops/details/{{shop.uuid}}">
                    <img ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{getLat(shop)}},{{getLng(shop)}}&zoom=15&size=600x300&maptype=roadmap&markers=color:red%7Clabel:S%7C{{getLat(shop)}},{{getLng(shop)}}&key={{activeShop.googleStaticMapsApiKey}}" class="img-responsive">
                    <!--<div class="mask waves-effect activator"></div>-->
                    </a>
                </div>
                <div class="flex-info">
                    <div class="flex-column">
                        <h5 class="truncate normal-400 shopCardInfo">{{shop.shopName}}</h5>
                        <h6 class="grey-text normal-400">{{shop.contact.phone}}</h6>
                        <h6 class="truncate shopCardInfo" style="font-size: medium; font-weight: 400">{{shop.contact.description}}</h6>
                        <h6 class="grey-text">{{shop.contact.email}}</h6>
                    </div>
                    <div class="flex-checkbox">
                        <input id="shopCheckNetbox" type="checkbox" class="filled-in checkBoxStyling" ng-model="shop.selected" />
                        <label for="shopCheckNetbox">{{'settings.addShopToNet' | translate}}</label>
                    </div>
                </div>
            </div>
    </div>

</div>

    <!--<div class="row text-center">-->
        <!--<spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>-->
    <!--</div>-->
    <!--<form class="col-md-12 noSidePadding" ng-submit="submitNetworkShops()" id="addNewShopsForm" name="addNewShopsForm" ng-hide="loading">-->

        <!--<div class="input-field col-md-6">-->
            <!--<input id="shopName" type="text" ng-model="shop.shopName" required>-->
            <!--<label for="shopName">{{'addNewShops.shopName' | translate}}</label>-->
        <!--</div>-->

        <!--<div class="input-field col-md-6">-->
            <!--<input id="shopAddress" type="text" ng-model="shop.shopAddress" required>-->
            <!--<label for="shopAddress">{{'addNewShops.shopAddress' | translate}}</label>-->
        <!--</div>-->

        <!--<div class="input-field col-md-6">-->
            <!--<input id="shopGmail" type="text" ng-model="shop.shopGmail" required>-->
            <!--<label for="shopGmail">{{'addNewShops.shopGmail' | translate}}</label>-->
        <!--</div>-->

        <!--<div class="input-field col-md-6">-->
            <!--<input id="shopPhoneAdmin" type="text" ng-model="shop.shopPhoneAdmin" required>-->
            <!--<label for="shopPhoneAdmin">{{'addNewShops.shopPhoneAdmin' | translate}}</label>-->
        <!--</div>-->

        <!--<div class="input-field col-md-6">-->
            <!--<input id="coords" type="text" ng-model="shop.coords" required>-->
            <!--<label for="coords">{{'addNewShops.coords' | translate}} {{shopList.shopName}}</label>-->
        <!--</div>-->

    <!--</form>-->

