<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               href="#/products">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>

            <a class="col-xs-8 text-center">
                <h5 class="white-text">Додати</h5>
            </a>
            <div class="col-xs-2 noRightPadding">
                <button class="fa fa-save whiteColor pull-right saveProductButtonStyling"
                        type="submit"
                        form="addNewProductForm">
                </button>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid noSidePadding">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <form class="col-md-12 noSidePadding" ng-submit="submitProduct()" id="addNewProductForm" name="addNewProductForm" ng-hide="loading">
        <div class="input-field col-md-6">
            <input id="product_name" type="text" class="validate" ng-model="product.name" required>
            <label for="product_name">Назва товару</label>
        </div>
        <div class="input-field col-md-6">
            <input id="product_price" type="number" class="validate" ng-model="product.price" required>
            <label for="product_price">Ціна товару</label>
        </div>
        <div class="input-field col-md-12">
            <textarea id="textarea1" class="materialize-textarea" ng-model="product.description" required></textarea>
            <label for="textarea1">Опис товару</label>
        </div>
        <div class="file-field input-field col-xs-12">
            <button type="button" class="btn btn-default waves-effect waves-light pull-right">
                <span>Додати фото товару</span>
                <input name="imageLoader" type="file" id="imageLoader" required/>
            </button>
        </div>
    </form>
    <canvas id="imageCanvas" class="productImage"></canvas>
</div>