<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               href="#/products">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>

            <a class="col-xs-8 text-center">
                <h5 class="white-text">Додати</h5>
            </a>
            <div class="col-xs-2 noRightPadding">
                <button class="fa fa-save whiteColor pull-right saveProductButtonStyling"
                        type="submit"
                        form="addNewProductForm">
                </button>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid noSidePadding">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <form class="col-md-12 noSidePadding" ng-submit="submitProduct()" id="addNewProductForm" name="addNewProductForm" ng-hide="loading">

        <div class="input-field col-md-6">
            <input id="product_name" type="text" class="validate" ng-model="product.name" required>
            <label for="product_name">Назва товару</label>
        </div>
        <div class="input-field col-md-6">
            <input id="product_price" type="number" class="validate" ng-model="product.price" required>
            <label for="product_price">Ціна товару</label>
        </div>
        <div class="input-field col-md-12">
            <textarea id="textarea1" class="materialize-textarea" ng-model="product.description" required></textarea>
            <label for="textarea1">Опис товару</label>
        </div>
        <div class="input-field col-md-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading cursorPointer" data-toggle="collapse"  data-target="#collapse3">
                        <h4 class="panel-title text-center">
                            Додатково
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="input-field">
                                <input type="checkbox" class="filled-in" id="filled-in-box" ng-model="product.isActive" ng-init="product.isActive=true" />
                                <label for="filled-in-box">Показувати в магазині</label>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="input-field col-md-6">
                                <input id="oldPrice" type="number" class="validate" ng-model="product.oldPrice">
                                <label for="oldPrice">Стара ціна</label>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="input-field col-md-6">
                                <input id="productOrder" type="number" class="validate" ng-model="product.sortOrder">
                                <label for="productOrder">Порядок відображення</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-field col-xs-12" ng-show="categories.length === 0">
            <p class="text-center">У вас не створено жодної категорії. Будь ласка, створіть категорію</p>
        </div>
        <div class="input-field col-xs-12 z-index" ng-show="categories.length >= 1">
            <label for="category" class="active categoryLabelFontSize">Категорія</label>
            <select class="form-control"
                    id="category"
                    ng-model="product.category"
                    ng-options="category as category.name for category in categories track by category.uuid" required>
                <option></option>
            </select>
        </div>
        <div class="input-field col-xs-12">
            <button type="button" class="btn btn-default waves-effect waves-light pull-right accentColor btn-block" data-toggle="modal" data-target="#categoryModal"">
            <span>Створити категорію</span>
            </button>
        </div>
        <div class="file-field input-field col-xs-12">
            <button type="button" class="btn btn-default waves-effect waves-light pull-right accentColor btn-block" ng-click="loadImage()">
                <span>Додати фото товару</span>
            </button>
            <input name="imageLoader" type="file" id="imageLoader" required/>
        </div>
    </form>
    <div id="car-gall" class="carousel slide carousel-fade carousel-thumbnails carousel-gallery">

        <!--Main image-->
        <div class="col-sm-7">
            <div class="carousel-inner hoverable" role="listbox">
                <!-- First slide -->
                <div class="item active" ng-show="productImages.length >= 1">
                    <img class="center-block" ng-src="{{productImages[product.mainPhoto]}}" alt="slide1">
                </div>
                <!-- /.item -->
            </div>
            <!-- /.carousel-inner -->
        </div>
        <!--/.Main image-->

        <!-- Indicators -->
        <div class="col-sm-5">
            <ul class="carousel-indicators" ng-show="productImages.length >= 2">
                <li class="imageFlex" data-slide-to="{{$index}}"  ng-repeat="image in productImages" ng-class="{'active' : $index === product.mainPhoto}">
                    <img ng-src="{{image}}"
                         class="img-responsive z-depth-1 hoverable"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="Зробити головною"
                         ng-click="setMainPhotoIndex($index); $event.stopPropagation();">
                    <div class="label label-danger photoLabelStyle hoverable"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="Видалити"
                         ng-click="removeImage($index); $event.stopPropagation();">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Indicators -->

    </div>
    <canvas id="imageCanvas" class="productImage"></canvas>
</div>
<div class="modal fade" id="categoryModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form name="categoryForm" ng-submit="createCategory()">
                    <div class="row">
                        <div class="input-field col-md-12">
                            <input id="password" type="text" class="validate" ng-model="newCategory.name" required>
                            <label for="password">Назва категорії</label>
                        </div>
                        <div class="input-field col-md-12">
                            <textarea id="textarea1" class="materialize-textarea"  ng-model="newCategory.description"></textarea>
                            <label for="textarea1">Опис категорії</label>
                        </div>
                        <spinner class="col-xs-offset-11" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="loading"></spinner>
                        <button type="submit" class="btn btn-default pull-right" ng-hide="loading">Створити</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
