<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               href="#/products">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>

            <a class="col-xs-8 text-center">
                <h5 class="white-text">Додати</h5>
            </a>
            <div class="col-xs-2 noRightPadding">
                <button class="fa fa-save whiteColor pull-right saveProductButtonStyling"
                        type="submit"
                        form="addNewProductForm">
                </button>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid noSidePadding">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <form class="col-md-12 noSidePadding" ng-submit="submitProduct()" id="addNewProductForm" name="addNewProductForm" ng-hide="loading">
        <div class="input-field col-md-6">
            <input id="product_name" type="text" class="validate" ng-model="product.name" required>
            <label for="product_name">Назва товару</label>
        </div>
        <div class="input-field col-md-6">
            <input id="product_price" type="number" class="validate" ng-model="product.price" required>
            <label for="product_price">Ціна товару</label>
        </div>
        <div class="input-field col-md-12">
            <textarea id="textarea1" class="materialize-textarea" ng-model="product.description" required></textarea>
            <label for="textarea1">Опис товару</label>
        </div>
        <div class="file-field input-field col-xs-12">
            <button type="button" class="btn btn-default waves-effect waves-light pull-right accentColor" ng-click="loadImage()">
                <span>Додати фото товару</span>
            </button>
            <input name="imageLoader" type="file" id="imageLoader" required/>
        </div>
    </form>
    <div id="car-gall" class="carousel slide carousel-fade carousel-thumbnails carousel-gallery">

        <!--Main image-->
        <div class="col-xs-8">
            <!-- Wrapper for slides -->
            <div class="carousel-inner z-depth-1 hoverable" role="listbox">
                <!-- First slide -->
                <div class="item active" ng-show="productImages.length >= 1">
                    <img ng-src="{{productImages[0]}}" alt="slide1">
                </div>
                <!-- /.item -->

                <!-- Second slide -->
                <div class="item" ng-repeat="image in productImages.slice(1,productImages.length)">
                    <img ng-src="{{image}}" alt="slide2">
                </div>
            </div>
            <!-- /.carousel-inner -->
        </div>
        <!--/.Main image-->

        <!-- Indicators -->
        <div class="col-xs-4">
            <ul class="carousel-indicators">
                <li data-target="#car-gall" data-slide-to="0" class="active">
                    <div class="label label-success photoLabelStyle" ng-show="productImages.length >= 1" data-toggle="tooltip" data-placement="top" title="Зробити головною">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                    </div>
                    <img ng-src="{{productImages[0]}}" class="img-responsive z-depth-1 hoverable">
                    <div class="label label-danger photoLabelStyle" ng-show="productImages.length >= 1" data-toggle="tooltip" data-placement="top" title="Видалити">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </div>
                </li>
                <li data-target="#car-gall" data-slide-to="{{$index+1}}"  ng-repeat="image in productImages.slice(1,productImages.length)">
                    <div class="label label-success photoLabelStyle" data-toggle="tooltip" data-placement="top" title="Видалити">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                    </div>
                    <img ng-src="{{image}}" class="img-responsive z-depth-1 hoverable">
                    <div class="label label-danger photoLabelStyle">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Indicators -->

    </div>
    <canvas id="imageCanvas" class="productImage"></canvas>
</div>