<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               href="#/products/details/{{uuid}}/edit">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>

            <div class="col-xs-8 text-center">
                <h5 class="white-text">{{'editProduct.property' | translate}}</h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right"
                   ng-click="updateProduct()">
                </i>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid noSidePadding">
    <form class="col-md-12 noSidePadding" ng-submit="submitProduct()" id="addNewProperty" name="addNewProperty">
        <div class="col-md-offset-3 input-field col-md-6 col-sm-8 col-sm-offset-2">
            <input id="property_name" type="text" ng-model="property.name" required>
            <label for="property_name">{{'editProduct.propertyName' | translate}}</label>
        </div>
        <div class="input-field col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <tags-input ng-model="tags"></tags-input>
        </div>
    </form>
</div>
