<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               href="#/products/details/{{productUuid}}/edit">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>

            <div class="col-xs-8 text-center">
                <h5 class="white-text">{{'editProduct.property' | translate}}</h5>
            </div>
            <div class="col-xs-2 noRightPadding">
                <button class="fa fa-save whiteColor pull-right saveProductButtonStyling"
                        type="submit"
                        form="addNewProperty">
                </button>
            </div>
        </div>
    </div>
</nav>
<div class="admin-container addition-block container-fluid  noSidePadding">
    <div class="admin-column">
        <div class="admin-card">
            <div class="addition-block-product-image">
                <h5 id="name" class="product-title">{{product.name}}</h5>
                <h5 id="price">{{product.categoryName}}</h5>
                <h5>{{product.price}} {{'products.currency' | translate}}</h5>
                <img ng-src="public/product_images/{{activeShop}}/{{product.images[selected].filename}}" alt="slide1">
            </div>
        </div>
    </div>
    <div class="admin-column">
        <form ng-show="!loading" class="admin-card noSidePadding" id="addNewProperty" name="addNewProperty" ng-submit="createProperty()">
            <div class=" input-field">
                <p>{{'editProduct.additionProduct' | translate}}{{product.name}}</p>
            </div>
            <div class=" input-field">
                <input id="addition_title" type="text" ng-model="addition.title" required>
                <label for="addition_title">{{'editProduct.additionTitle' | translate}}</label>
            </div>
            <div class=" input-field">
                <input id="addition_price" type="text" ng-model="addition.price" required>
                <label for="addition_price">{{'editProduct.additionPrice' | translate}}</label>
            </div>
            <div class=" input-field">
                <h6>{{'editProduct.additionAddPhoto' | translate}}</h6>
                <input ng-model="addition.file" name="imageLoader" type="file" id="imageLoader" required/>
            </div>

        </form>
    </div>
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
</div>
