<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               href="#/products/details/{{productUuid}}/edit">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>

            <div class="col-xs-8 text-center">
                <h5 class="white-text">{{'editProduct.property' | translate}}</h5>
            </div>
            <div class="col-xs-2 noRightPadding">
                <button class="fa fa-save whiteColor pull-right saveProductButtonStyling"
                        type="submit"
                        form="addNewProperty">
                </button>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid noSidePadding">
    <form ng-show="!loading" class="col-md-12 noSidePadding" id="addNewProperty" name="addNewProperty" ng-submit="createProperty()">
        <div class="col-md-offset-3 input-field col-md-6 col-sm-8 col-sm-offset-2">
            <p>{{product.name}}</p>
        </div>
        <div class="col-md-offset-3 input-field col-md-6 col-sm-8 col-sm-offset-2">
            <input id="addition_title" type="text" ng-model="addition.title" required>
            <label for="addition_title">{{'editProduct.additionTitle' | translate}}</label>
        </div>
        <div class="col-md-offset-3 input-field col-md-6 col-sm-8 col-sm-offset-2">
            <input id="addition_price" type="text" ng-model="addition.price" required>
            <label for="addition_price">{{'editProduct.additionPrice' | translate}}</label>
        </div>
        <div class="col-md-offset-3 input-field col-md-6 col-sm-8 col-sm-offset-2">
            <h6>{{'editProduct.additionAddPhoto' | translate}}</h6>
            <input ng-model="addition.file" name="imageLoader" type="file" id="imageLoader" required/>
        </div>

    </form>
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
</div>
