<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    Аналітика
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding nav-link dropdown-toggle"
               id="dropdownMenu1"
               type="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                <i class="fa fa-edit whiteColor pull-right">
                </i>
                <div class="dropdown-menu pull-right col-xs-1" aria-labelledby="dropdownMenu1">
                    <a class="col-xs-12 text-left" ng-click="getMainAnalyticsData('')" ng-class="{activeAnal: days === ''}"><p>7 днів</p></a>
                    <a class="col-xs-12 text-left" ng-click="getMainAnalyticsData('/30')" ng-class="{activeAnal: days === '/30'}"><p>30 днів</p></a>
                    <a class="col-xs-12 text-left" ng-click="getMainAnalyticsData('/90')" ng-class="{activeAnal: days === '/90'}"><p>90 днів</p></a>
                    <a class="col-xs-12 text-left" ng-click="getMainAnalyticsData('/180')" ng-class="{activeAnal: days === '/180'}"><p>180 днів</p></a>
                    <a class="col-xs-12 text-left" ng-click="getMainAnalyticsData('/360')" ng-class="{activeAnal: days === '/360'}"><p>365 днів</p></a>
                </div>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid analyticsContainer">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <div ng-hide="loading">
        <div class="col-sm-offset-1 col-sm-10 topAnalMargin">
            <canvas id="line" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-series="series" chart-options="options"
                    chart-dataset-override="datasetOverride" chart-click="onClick">
            </canvas>
            </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
            <div class="card primary-color darken-1">
                <div class="card-content white-text">
                    <p class="card-title">Покупок:</p>
                    <p>{{analytics.countToday}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
            <div class="card primary-color darken-1">
                <div class="card-content white-text">
                    <p class="card-title">Всього:</p>
                    <p>{{analytics.count}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
            <div class="card primary-color darken-1">
                <div class="card-content white-text">
                    <p class="card-title">Замовлено:</p>
                    <p>{{analytics.totalToday}} грн</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
            <div class="card primary-color darken-1">
                <div class="card-content white-text">
                    <p class="card-title">Всього:</p>
                    <p>{{analytics.total}} грн</p>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row" ng-hide="loading">-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-body">A Basic Panel</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-body">A Basic Panel</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
