<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    Аналітика
                </h5>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid analyticsContainer">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>

    <div class="row text-center" ng-hide="loading">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="card teal darken-1">
                <div class="card-content white-text">
                    <p class="card-title">Покупок:</p>
                    <p>{{analytics.countToday}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="card teal darken-1">
                <div class="card-content white-text">
                    <p class="card-title">Всього:</p>
                    <p>{{analytics.count}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="card teal darken-1">
                <div class="card-content white-text">
                    <p class="card-title">Замовлено:</p>
                    <p>{{analytics.totalToday}} грн</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="card teal darken-1">
                <div class="card-content white-text">
                    <p class="card-title">Всього:</p>
                    <p>{{analytics.total}} грн</p>
                </div>
            </div>
        </div>
        <div class="container"></div>
    </div>
    <!--<div class="row" ng-hide="loading">-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-body">A Basic Panel</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-body">A Basic Panel</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
