<nav class="admin-nav" role="navigation">
    <div class="nav-menu">
        <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
    </div>
    <div class="nav-title">
        <h5>{{'banners.title' | translate}}</h5>
    </div>
    <div class="admin-nav-save-btn">
        <i class="fa fa-save whiteColor pull-right"
           ng-click="updateBanners()">
        </i>
    </div>
</nav>

<div class="row text-center">
    <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif"
             show="loading"></spinner>
</div>
<div class="admin-container">

    <div class="admin-card hoverable settings-shopcart-banner col-sm-12">
      <div class="banner-title-save-container">
        <h4>{{'banners.productOfDay' | translate}}</h4>
        <div class="admin-nav-save-btn">
            <i class="fa fa-save blackColor pull-right"
               ng-click="setBannerForProductOfDay()">
            </i>
        </div>
      </div>


        <p>{{'banners.productOfDayCheck' | translate}}</p>
        <input id="banner-product-of-day" type="checkbox" class="filled-in checkBoxStyling"
               ng-model="bannerProductOfDay.isForDishOfDayOn"/>
        <label for="banner-product-of-day">{{'settings.isShoppingCartBannerOn' | translate}}</label>
        <input type="text"
               ng-model="bannerProductOfDay.name"
               placeholder="{{'settings.enterBannerText' | translate}}">
        <input type="number"
               ng-model="bannerProductOfDay.discount"
               placeholder="{{'banners.productOfDayDiscount' | translate}}">

    </div>

    <div class="admin-card hoverable settings-shopcart-banner col-sm-12">
        <div class="banner-title-save-container">
          <h4>{{'settings.shoppingCartBanner' | translate}}</h4>
          <div class="admin-nav-save-btn">
              <i class="fa fa-save blackColor pull-right"
                 ng-click="setBannerForShopBasket()">
              </i>
          </div>
        </div>
        <p>{{'settings.shoppingCartBannerText' | translate}}</p>
        <input id="banner-for-shop-basket" type="checkbox" class="filled-in checkBoxStyling"
               ng-model="bannerForShopBasket.isBannerOn"/>
        <label for="banner-for-shop-basket">{{'settings.isShoppingCartBannerOn' | translate}}</label>
        <input type="text"
               ng-show="bannerForShopBasket.isBannerOn"
               ng-model="bannerForShopBasket.bannerName"
               placeholder="{{'settings.enterBannerTitle' | translate}}">
        <textarea name="bannerText"
                  id="shoppingCartBannerText" cols="30" rows="10"
                  ng-model="bannerForShopBasket.description" ng-show="bannerForShopBasket.isBannerOn"
                  placeholder="{{'settings.enterBannerText' | translate}}">
        </textarea>
    </div>

</div>
