<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <form class="col-xs-9 waves-effect waves-light">
                <input class="form-control noMarginForSearchInput" type="text" placeholder="Пошук" ng-model="query">
            </form>
            <a class="col-xs-1 noRightPadding"
               type="button"
               data-toggle="modal"
               data-target="#newCategoryModal">
                <i class="fa fa-plus-circle pull-right whiteColor">
                </i>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid cardTopPadding noSidePadding">
    <h4 class="text-center"><i>{{status}}</i></h4>
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <div class="btn-group btn-group-justified col-xs-12" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <a href="#/products" type="button" class="btn btn-primary">Продукти</a>
        </div>
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-primary active disabled">Категорії</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default" ng-repeat="category in categories">
                <div class="cursorPointer" data-toggle="collapse"  data-target="#collapse{{$index}}">
                    <a class="collection-item blue vcentering">
                        <h4 class="white-text col-xs-10">{{category.name}} <span class="badge green">{{category.products.length}}</span></h4>
                        <div class="col-xs-2 z-index">
                            <button class="btn-floating btn-xsmall waves-effect waves-light primary-color-dark pull-right" data-toggle="modal" data-target="#categoryModal" ng-click="getCategory(category)"><i class="material-icons">mode_edit</i></button>
                            <button class="btn-floating btn-xsmall waves-effect waves-light red pull-right" data-toggle="modal" data-target="#deleteCategory" ng-click="getCategory(category)"><i class="material-icons"><i class="material-icons">delete_forever</i></i></button>
                        </div>
                    </a>
                </div>
                <div id="collapse{{$index}}" class="panel-collapse collapse">
                    <div class="collection">
                        <a href="#/product/details/{{product.uuid}}" class="collection-item" ng-repeat="product in category.products">{{product.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="categoryModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="input-field col-md-12">
                        <input id="categoryName" type="text" class="validate" ng-model="thisCategory.name" required>
                        <label class="active" for="categoryName">Назва категорії</label>
                    </div>
                    <div class="input-field col-md-12">
                        <textarea id="textarea1" class="materialize-textarea"  ng-model="thisCategory.description"></textarea>
                        <label class="active" for="textarea1">Опис категорії</label>
                    </div>
                    <spinner class="col-xs-offset-11" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="loading"></spinner>
                    <button class="btn btn-default pull-right" ng-hide="loading" ng-click="updateCategory()">Зберегти</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="newCategoryModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form name="categoryForm" ng-submit="createCategory()">
                    <div class="row">
                        <div class="input-field col-md-12">
                            <input id="password" type="text" class="validate" ng-model="newCategory.name" required>
                            <label for="password">Назва категорії</label>
                        </div>
                        <div class="input-field col-md-12">
                            <textarea id="textarea2" class="materialize-textarea"  ng-model="newCategory.description"></textarea>
                            <label for="textarea2">Опис категорії</label>
                        </div>
                        <spinner class="col-xs-offset-11" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="loading"></spinner>
                        <button type="submit" class="btn btn-default pull-right" ng-hide="loading">Створити</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteCategory" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="col-xs-12 text-center">
                    <p><i>{{deleteMessage}}</i></p>
                    <p ng-hide="succesfullDelete"><b>{{deleteCategoryWarning}}</b></p>
                </div>
                <div class="col-xs-9">
                    <spinner class="col-xs-offset-8" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="modalSpinner"></spinner>
                </div>
                <div class="col-xs-offset-2 col-xs-8">
                    <button type="button" class="btn btn-danger btn-sm btn-block " ng-click="deleteCategory()" ng-show="deleteButton">Видалити</button>
                </div>
                <a href="#/products" class="col-xs-offset-4 col-xs-4 noUnderline">
                    <button type="button" class="btn btn-success btn-sm btn-block" ng-show="succesfullDelete" ng-click="hideModal3()">Ok</button>
                </a>
            </div>
        </div>
    </div>
</div>