<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <a class=" col-xs-offset-9 col-xs-1 noRightPadding"
               type="button"
               data-toggle="modal"
               data-target="#newCategoryModal">
                <i class="fa fa-plus-circle pull-right whiteColor">
                </i>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid noSidePadding">
    <h4 ng-show="categories.length === 0" class="text-center"><i>{{'categories.noCategory' | translate}}</i></h4>
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <div class="btn-group btn-group-justified col-xs-12" role="group" aria-label="..." ng-hide="loading">
        <div class="btn-group" role="group">
            <a href="#/products" type="button" class="btn secondaryColor">{{'products.products' | translate}}</a>
        </div>
        <div class="btn-group" role="group">
            <a type="button" class="btn white-text disabled">{{'products.categories' | translate}}</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12" ng-hide="loading">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default" ng-repeat="category in categories">
                <a class="collection-item primaryColor vcentering">
                    <h4 class="white-text col-xs-10" data-toggle="collapse"  data-target="#collapse{{$index}}">{{category.name}} <span class="badge lightseagreen">{{category.products.length}}</span></h4>
                    <div class="col-xs-2">
                        <!--<button class="btn-floating btn-xsmall waves-effect waves-light lightseagreen pull-right" data-toggle="modal" data-target="#deleteCategory" ng-click="getCategory(category)"><i class="material-icons">delete_forever</i></button>-->
                        <button class="btn-floating btn-xsmall waves-effect waves-light lightseagreen pull-right" data-toggle="modal" data-target="#categoryModal" ng-click="getCategory(category)"><i class="material-icons">mode_edit</i></button>
                    </div>
                </a>
                <div id="collapse{{$index}}" class="panel-collapse collapse">
                    <div class="collection">
                        <a href="#/product/details/{{product.uuid}}" class="collection-item black-text" ng-repeat="product in category.products | orderBy:'sortOrder'">{{product.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="categoryModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="input-field col-md-12">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <input id="categoryName" type="text" ng-model="thisCategory.name" required>
                        <label class="active" for="categoryName">{{'categories.categoryName' | translate}}</label>
                    </div>
                    <div class="input-field col-md-12">
                        <textarea id="textarea1" class="materialize-textarea"  ng-model="thisCategory.description"></textarea>
                        <label class="active" for="textarea1">{{'categories.categoryDescription' | translate}}</label>
                    </div>
                    <spinner class="col-xs-offset-11" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="loading"></spinner>
                    <button class="btn secondaryColor pull-right" ng-hide="loading" ng-click="updateCategory()">{{'categories.save' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="newCategoryModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form name="categoryForm" ng-submit="createCategory()">
                    <div class="row">
                        <div class="input-field col-md-12">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <input id="password" type="text" ng-model="newCategory.name" required>
                            <label for="password">{{'categories.categoryName' | translate}}</label>
                        </div>
                        <div class="input-field col-md-12">
                            <textarea id="textarea2" class="materialize-textarea"  ng-model="newCategory.description"></textarea>
                            <label for="textarea2">{{'categories.categoryDescription' | translate}}</label>
                        </div>
                        <spinner class="col-xs-offset-11" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="loading"></spinner>
                        <button type="submit" class="btn secondaryColor pull-right" ng-hide="loading">{{'categories.create' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteCategory" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="col-xs-12 text-center">
                    <p ng-hide="succesfullDelete"><i>{{'categories.deleteMessage1' | translate}}</i></p>
                    <p ng-show="succesfullDelete"><i>{{'categories.deleteMessage2' | translate}}</i></p>
                    <p ng-hide="succesfullDelete"><b>{{'categories.deleteMessage1Warning' | translate}}</b></p>
                </div>
                <div class="col-xs-9">
                    <spinner class="col-xs-offset-8" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="modalSpinner"></spinner>
                </div>
                <div class="col-xs-offset-2 col-xs-8">
                    <button type="button" class="btn secondaryColor btn-sm btn-block " ng-click="deleteCategory()" ng-show="deleteButton">{{'singleOrder.Delete' | translate}}</button>
                </div>
                <a class="col-xs-offset-4 col-xs-4 noUnderline">
                    <button type="button" class="btn secondaryColor btn-sm btn-block" ng-show="succesfullDelete" ng-click="hideModal3()">Ok</button>
                </a>
            </div>
        </div>
    </div>
</div>