<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'contacts.contacts' | translate}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right"
                   ng-click="updateContacts()">
                </i>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid noSidePadding">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <form class="col-md-12 noSidePadding" id="contactsForm" name="contactsForm" ng-hide="loading">
        <div class="input-field col-md-6">
            <p>{{'contacts.phone' | translate}}</p>
            <input class="form-control validate" id="phone_number" type="tel" ng-model="contacts.phone" placeholder="380123456789" ng-value="+380" pattern="^380[0-9]{9,9}$" required>
        </div>
        <div class="input-field col-md-6">
            <p>E-mail</p>
            <input id="email" type="email" ng-model="contacts.email" placeholder="your email here">
        </div>
        <div class="input-field col-md-6 set-address-container">
            <p>{{'contacts.address' | translate}}</p>
            <input id="addressCity" type="text" ng-model="contacts.addressCity" placeholder="City">
            <input id="addressStreet" type="text" ng-model="contacts.addressStreet" placeholder="Street">
            <input id="addressNumberHouse" type="text" ng-model="contacts.addressNumberHouse" placeholder="Number house">
        </div>
        <div class="input-field col-md-6 flex-column-container">
            <p>{{'contacts.coords' | translate}}</p>
<!--            <input id="coords" type="text" ng-model="contacts.latLng" placeholder="49.848596,24.0229203">-->

            <a href="/ua/shop-location">
                {{'categories.create' | translate}}
            </a>
        </div>
        <div class="input-field col-md-12">
            <p>{{'contacts.description' | translate}}</p>
            <textarea id="textarea1" class="materialize-textarea pdd-0" ng-model="contacts.description"></textarea>
        </div>
        <br>
        <hr>
        <div class="input-field col-md-6">
            <p>{{'contacts.linkfacebook' | translate}}</p>
            <input id="linkfacebook" type="text" ng-model="contacts.linkfacebook" placeholder="facebook.com">
        </div>
        <div class="input-field col-md-6">
            <p>{{'contacts.linkinstagram' | translate}}</p>
            <input id="linkinstagram" type="text" ng-model="contacts.linkinstagram" placeholder="instagram.com">
        </div>
        <div class="input-field col-md-6">
            <p>{{'contacts.linkyoutube' | translate}}</p>
            <input id="linkyoutube" type="text" ng-model="contacts.linkyoutube" placeholder="youtube.com">
        </div>
    </form>
</div>
