<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'contacts.contacts' | translate}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right"
                   ng-click="updateContacts()">
                </i>
            </a>
        </div>
    </div>
</nav>

<div class="noSidePadding">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <form class="col-md-12 noSidePadding" id="contactsForm" name="contactsForm" ng-hide="loading">
        <div class="admin-container admin-all-orders ">
            <div class="admin-column">
                <div class="admin-card hoverable">
                    <h4>{{'editProduct.general' | translate}}</h4>
                    <div class="input-field">
                        <p>{{'contacts.phone' | translate}}</p>
                        <input class="form-control validate" id="phone_number" type="tel" ng-model="contacts.phone" placeholder="380123456789" ng-value="+380" pattern="^380[0-9]{9,9}$" required>
                    </div>
                    <div class="input-field">
                        <p>E-mail</p>
                        <input id="email" type="email" ng-model="contacts.email" placeholder="your email here">
                    </div>
                </div>
                <div class="admin-card hoverable">
                    <h4>{{'contacts.socialNetworks' | translate}}</h4>
                    <div class="input-field">
                        <p>{{'contacts.linkfacebook' | translate}}</p>
                        <input id="linkfacebook" type="text" ng-model="contacts.linkfacebook" placeholder="facebook.com">
                    </div>
                    <div class="input-field">
                        <p>{{'contacts.linkinstagram' | translate}}</p>
                        <input id="linkinstagram" type="text" ng-model="contacts.linkinstagram" placeholder="instagram.com">
                    </div>
                    <div class="input-field">
                        <p>{{'contacts.linkyoutube' | translate}}</p>
                        <input id="linkyoutube" type="text" ng-model="contacts.linkyoutube" placeholder="youtube.com">
                    </div>
                </div>
            </div>
            <div class="admin-column">
                <div class="admin-card hoverable">
                    <h4>{{'contacts.address' | translate}}</h4>
                    <div class="translation-flex-row">
                        <p>{{'contacts.city' | translate}}:</p>
                        <div class="flex-row">
                            <p id="city" class="text-align-right"></p>
                            <button class="btn-floating btn-xsmall waves-effect waves-light lightseagreen pull-right"
                                    ng-click="redirectToTranslationForContactCity()"><i class="material-icons">translate</i>
                            </button>
                        </div>
                    </div>
                    <div class="translation-flex-row">
                        <p>{{'contacts.street' | translate}}:</p>
                        <div class="flex-row">
                            <p id="street" class="text-align-right"></p>
                            <button class="btn-floating btn-xsmall waves-effect waves-light lightseagreen pull-right"
                                    ng-click="redirectToTranslationForContactStreet()"><i class="material-icons">translate</i>
                            </button>
                        </div>
                    </div>
                    <div class="translation-flex-row">
                        <p>{{'contacts.numberHouse' | translate}}:</p>
                        <div class="input-field">
                            <input id="addressNumberHouse" class="text-align-right" type="text" ng-model="contacts.addressNumberHouse" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="admin-card hoverable admin-contacts-card-gps">
                    <h4>{{'contacts.gps' | translate}}</h4>
                    <div class="admin-contacts-card-no-gps" ng-show="!contacts.shopLocation">
                        <a href="#/shop/location">
                            <p>{{'contacts.setGps' | translate}}</p>
                        </a>
                    </div>
                    <div class="view overlay hm-white-slight z-depth-1" ng-show="contacts.shopLocation">
                        <a href="#/shop/location">
                            <img
                                ng-src="https://maps.googleapis.com/maps/api/staticmap?zoom=16&center={{shopLocation.latitude}},{{shopLocation.longitude}}&size=600x300&maptype=roadmap&markers=color:red|label:S|{{shopLocation.latitude}},{{shopLocation.longitude}}&key={{activeShop.googleStaticMapsApiKey}}"
                                class="img-responsive"
                                alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
