<nav class="admin-nav" role="navigation">
    <a class="admin-nav-back-btn"
       type="button"
       href="#/delivery">
        <i class="fa fa-arrow-circle-left whiteColor pull-left"></i>
    </a>
    <div class="nav-title">
        <h5>{{'translationPage.title' | translate}}</h5>
    </div>
    <a class="admin-nav-save-btn">
        <i class="fa fa-save whiteColor pull-right"
           ng-click="setTranslation()">
        </i>
    </a>
</nav>

<div class="admin-container noSidePadding">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <div class="admin-card noSidePadding"
       ng-hide="loading">
        <h4>{{'translationPage.ukrainian' | translate}}</h4>
        <div class="input-field">
            <p>{{'translationPage.toUkrainian' | translate}}</p>
        </div>
        <div class="delivery-message input-field">
            <textarea id="uk" class="materialize-textarea"></textarea>
        </div>
    </div>
    <div class="admin-card noSidePadding"
         ng-hide="loading">
        <h4>{{'translationPage.english' | translate}}</h4>
        <div class="input-field">
            <p>{{'translationPage.toEnglish' | translate}}</p>
        </div>
        <div class="delivery-message input-field">
            <textarea id="en"  class="materialize-textarea"
                      rows="1"></textarea>
        </div>
    </div>
    <!--<div class="admin-card noSidePadding"-->
         <!--ng-hide="loading">-->
        <!--<h4>{{'translationPage.polish' | translate}}</h4>-->
        <!--<div class="input-field">-->
        <!--<p>{{'translationPage.toEnglish' | translate}}</p>-->
        <!--</div>-->
        <!--<div class="delivery-message input-field">-->
            <!--<textarea id="translatePolish" class="materialize-textarea" ng-model="delivery.newPostText"-->
                      <!--rows="1"></textarea>-->
        <!--</div>-->
    <!--</div>-->
</div>