<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               href="#/delivery">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>

            <div class="col-xs-8 text-center">
                <h5 class="white-text">{{'delivery.courier' | translate}}</h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right"
                   ng-click="setDeliveryOptions()">
                </i>
            </a>
        </div>
    </div>
</nav>
<div class="admin-container courier-block noSidePadding">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <form class="admin-card admin" ng-submit="submitProduct()" id="addNewProductForm" name="addNewProductForm" ng-hide="loading">
        <h4>{{'editProduct.general' | translate}}</h4>
        <div class="input-field">
            <input type="checkbox" class="filled-in pull-left checkBoxStyling" id="filled-in-box" ng-model="delivery.isCourierAvailable" />
            <label for="filled-in-box">{{'delivery.enabled' | translate}}</label>
        </div>
        <div class=" input-field">
            <p>{{'delivery.deliveryPrice' | translate}}</p>
            <input id="deliveryPrice" type="number" ng-model="delivery.courierPrice" />
        </div>

        <div class=" input-field">
            <p>{{'delivery.freeDeliveryPrice' | translate}}</p>
            <input id="freeDelivery" type="number" ng-model="delivery.courierFreeDeliveryLimit">
        </div>
        <div class=" input-field">
            <p>{{'delivery.messageText' | translate}}</p>
            <textarea id="textarea1" class="materialize-textarea" ng-model="delivery.courierText"></textarea>
        </div>
        <div>
            <a href="#/deliveryboundaries">
                <button type="button" class="btn btn-primary">
                    {{'courierDelivery.deliveryBoundaries' | translate}}
                </button>
            </a>
        </div>
    </form>

</div>