<nav class="admin-nav" role="navigation">
    <div class="nav-menu">
        <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
    </div>
    <div class="nav-title">
        <h5>{{'delivery.delivery' | translate}}</h5>
    </div>
    <div class="admin-nav-save-btn">
        <i class="fa fa-save whiteColor pull-right"
           ng-click="setDeliveryOptions()">
        </i>
    </div>
</nav>

<div class="container-fluid">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <div class="delivery-list row text-center " ng-hide="loading">
        <div class="delivery-list-item">
        <a href="#/delivery/newPost">
            <div class="delivery-list-item-bg">
                <img src="\wisehands\assets\images\delivey-img\newpost.svg">
            </div>
            <div class="card-panel secondaryColor darken-3 hoverable">
                <h5 class="white-text">{{'delivery.newPost' | translate}}</h5>
            </div>
        </a>
    </div>
        <div class="delivery-list-item">
            <a href="#/delivery/personal">
                <div class="delivery-list-item-bg">
                    <img src="\wisehands\assets\images\delivey-img\personal.svg">
                </div>
                <div class="card-panel secondaryColor darken-3 hoverable">
                    <h5 class="white-text">{{'delivery.personal' | translate}}</h5>
                </div>
            </a>
        </div>
        <div class="delivery-list-item">
            <a href="#/delivery/courier">
                <div class="delivery-list-item-bg">
                    <img src="\wisehands\assets\images\delivey-img\coruier.svg">
                </div>
                <div class="card-panel secondaryColor hoverable">
                    <h5 class="white-text">{{'delivery.courier' | translate}}</h5>
                </div>
            </a>
        </div>
        <div class="delivery-list-item">
            <a href="#/delivery/selfTake">
                <div class="delivery-list-item-bg">
                    <img src="\wisehands\assets\images\delivey-img\selftake.svg">
                </div>
                <div class="card-panel secondaryColor hoverable">
                    <h5 class="white-text">{{'delivery.selftake' | translate}}</h5>
                </div>
            </a>
        </div>
        <div class="order-message input-field" ng-hide="loading">
            <p>{{'delivery.orderMessage' | translate}}</p>
            <textarea id="textarea1" class="materialize-textarea" ng-model="delivery.orderMessage"></textarea>
        </div>
    </div>

</div>
