<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               href="#/delivery/courier">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>

            <div class="col-xs-8 text-center">
                <h5 class="white-text">{{'courierDelivery.deliveryBoundaries' | translate}}</h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right"
                       ng-click="saveDeliveryBoundaries()">
                </i>
            </a>
        </div>
    </div>
</nav>
<main class="container" style="padding-top: 20px">

    <h5 class="text-center">Click on <img src="../wisehands/assets/images/logoimages/drawshape.png"> and draw delivery boundaries on the map.</h5>
    <div id="googleMap" class="z-depth-1-half map-container wow fadeInUp" data-wow-delay="0.1s" style="height: 500px"></div>

</main>
