<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
                <a  data-activates="slide-out" class="button-collapse deliveryViewCentering"><i class="fa fa-bars"></i></a>
        </div>
        <div class="row vcentering">
            <div class="col-xs-offset-1 col-xs-10 text-center white-text">
                <h5>
                    Доставка
                </h5>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row text-center">
        <a href="#/delivery/newPost" class="col-sm-4">
            <div class="card hoverable black-text">
                <h5>Нова Пошта</h5>
            </div>
        </a>
        <a href="#/delivery/courier" class="col-sm-4">
            <div class="card hoverable black-text">
                <h5>Кур'єр</h5>
            </div>
        </a>
        <a href="#/delivery/selfTake" class="col-sm-4">
            <div class="card hoverable black-text">
                <h5>Самовивіз</h5>
            </div>
        </a>
    </div>
</div>