<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'delivery.delivery' | translate}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right"
                   ng-click="setDeliveryOptions()">
                </i>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <div class="row text-center" ng-hide="loading">
        <a href="#/delivery/newPost">
            <div class="col-sm-4 text-center">
                <div class="card-panel secondaryColor darken-3 hoverable">
                    <h5 class="white-text">{{'delivery.newPost' | translate}}</h5>
                </div>
            </div>
        </a>
        <a href="#/delivery/courier">
            <div class="col-sm-4 text-center">
                <div class="card-panel secondaryColor hoverable">
                    <h5 class="white-text">{{'delivery.courier' | translate}}</h5>
                </div>
            </div>
        </a>
        <a href="#/delivery/selfTake">
            <div class="col-sm-4 text-center">
                <div class="card-panel secondaryColor hoverable">
                    <h5 class="white-text">{{'delivery.selftake' | translate}}</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-12 input-field" ng-hide="loading">
        <p>{{'delivery.orderMessage' | translate}}</p>
        <textarea id="textarea1" class="materialize-textarea" ng-model="delivery.orderMessage"></textarea>
    </div>
</div>
