<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               href="#/payment">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>

            <div class="col-xs-8 text-center">
                <h5 class="white-text">{{'productDetails.details' | translate}}</h5>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid discountContainer">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <div class="col-sm-6" ng-repeat="coupon in coupons.couponIds">
        <div class="card card-primary text-xs-center z-depth-2 secondaryColorHover">
            <div class="row">
                <div class="card-block vcentering">
                    <div class=" col-xs-10 col-sm-10">
                        <h5 class="white-text text-left discountLeftMargin">{{coupon.couponId}}</h5>
                    </div>
                    <div class=" col-xs-2 col-sm-2">
                        <button class="btn-floating btn-xsmall waves-effect waves-light lightseagreen pull-right" ng-click="deleteCoupon(coupon.uuid, $index)"><i class="material-icons"><i class="material-icons">delete_forever</i></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>