<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               href="#/product/details/{{product.uuid}}">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>

            <a class="col-xs-8 text-center">
                <h5 class="white-text">Редагувати</h5>
            </a>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right"
                        ng-click="updateProduct()">
                </i>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <div class="col-md-12 noSidePadding" ng-hide="loading">
        <div class="card card-min hoverable">
            <div class="card-image waves-effect waves-block waves-light view overlay hm-white-slight col-sm-6">
                <canvas class="img-responsive center-block landscapeImageScale" id="editCanvas" ng-click="uploadNewProductImage()"></canvas>
                    <input id="imageLoader"
                    class="input-file hiddenFileInput"
                    type="file"/>
            </div>
            <div class="card-content col-sm-6">
                <h5><textarea id="textarea1" class="materialize-textarea" ng-model="product.name"></textarea></h5>
                <h5><textarea id="textarea2" class="materialize-textarea" ng-model="product.price"></textarea> грн</h5>
                <textarea id="textarea3" class="materialize-textarea" ng-model="product.description"></textarea>
            </div>
        </div>
    </div>
</div>
