<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               ng-click="goBack()">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>

            <div class="col-xs-8 text-center">
                <h5 class="white-text">{{'editPage.title' | translate}}</h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right"
                   ng-click="saveThisPage()">
                </i>
            </a>
        </div>
    </div>
</nav>
<div class="row text-center">
    <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
</div>
<div class="admin-container">
    <div class="container-fluid">
        <div class="col-sm-6 flex-baseline">
            <p class="mb-0">{{'addNewPage.setTitle' | translate}}</p>
            <button class="btn-floating btn-xsmall waves-effect waves-light lightseagreen pull-right" ng-click="redirectToTranslationTitlePage(pageUuid)"><i class="material-icons">translate</i></button>

        </div>
        <!--<div class="col-sm-6">-->
            <!--<p class="mb-0">{{'addNewPage.setUrl' | translate}}</p>-->
            <!--<input id="setUrl" type="text" ng-model="url">-->
        <!--</div>-->
    </div>
    <div class="container-fluid">
        <div class="col-sm-6 flex-baseline flex-baseline">
            <p>{{'addNewPage.setBody' | translate}}</p>
            <button class="btn-floating btn-xsmall waves-effect waves-light lightseagreen pull-right" ng-click="redirectToTranslationBodyPage(pageUuid)"><i class="material-icons">translate</i></button>

        </div>
    </div>
</div>
<!--<div class="file-field input-field col-xs-12 white-text">-->
    <!--<button type="button" class="btn secondaryColor waves-effect waves-light pull-right btn-block" ng-click="loadImage()">-->
        <!--<span>{{'editPage.addPhoto' | translate}}</span>-->
    <!--</button>-->
    <!--<input type="file" name="imageLoader" id="imageLoader" fileread="uploadme"/>-->
<!--</div>-->
<!--<div class="flex-row">-->
    <!--<img src="{uploadme}" class="img-setting">-->
<!--</div>-->
<!--<canvas id="imageCanvas" class="productImage"></canvas>-->