<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               href="#/product/details/{{product.uuid}}">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>

            <a class="col-xs-8 text-center">
                <h5 class="white-text">Редагувати</h5>
            </a>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right"
                        ng-click="updateProduct()">
                </i>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <div class="col-md-12 noSidePadding" ng-hide="loading">
        <div class="card card-min hoverable">
            <div class="card-image waves-effect waves-block waves-light view overlay hm-white-slight col-sm-6">
                <div id="car-gall" class="carousel slide carousel-fade carousel-thumbnails carousel-gallery">
                    <!--Main image-->
                    <div class="col-xs-8">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner z-depth-1 hoverable" role="listbox">
                            <!-- First slide -->
                            <div class="item active">
                                <img src="{{productImages[product.mainPhoto].dataURL}}" alt="slide1" ng-click="uploadNewProductImage()">
                            </div>
                            <canvas class="img-responsive center-block landscapeImageScale" id="editCanvas" ng-click="uploadNewProductImage()" style="display: none"></canvas>
                            <input id="imageLoader"
                                   class="input-file hiddenFileInput"
                                   type="file"/>
                            <!-- /.item -->

                            <!-- Second slide -->
                            <!--<div class="item" ng-repeat="image in productImages">-->
                                <!--<img src="{{image}}" alt="slide2">-->
                            <!--</div>-->
                            <!-- /.item -->
                        </div>
                        <!-- /.carousel-inner -->
                    </div>
                    <!--/.Main image-->

                    <!-- Indicators -->
                    <div class="col-xs-4">
                        <ul class="carousel-indicators correctImageDisplay" ng-show="productImages.length >= 2">
                            <li class="imageFlex" data-slide-to="{{$index}}"  ng-repeat="image in productImages" ng-class="{'active' : $index === product.mainPhoto}">
                                <img src="{{image.dataURL}}"
                                     class="img-responsive z-depth-1 hoverable"
                                     data-toggle="tooltip"
                                     data-placement="top"
                                     title="Зробити головною"
                                     ng-click="setMainPhotoIndex($index, image.uuid); $event.stopPropagation();">
                                <div class="label label-danger photoLabelStyle hoverable"
                                     data-toggle="tooltip"
                                     data-placement="top"
                                     title="Видалити"
                                     ng-click="removeImage(image.uuid); $event.stopPropagation();">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Indicators -->

                </div>

            </div>
            <div class="card-content col-sm-6">
                <div class="col-md-12" ng-show="categories.length >= 1">
                    <label for="categories">Категорія</label>
                </div>
                <div class="input-field col-md-12" ng-show="categories.length >= 1">
                    <select id="categories"
                            class="form-control"
                            ng-model="product.category"
                            ng-change="changeCategory()"
                            ng-options="category as category.name for category in categories track by category.uuid">
                    </select>
                </div>
                <div class="input-field col-md-12">
                    <input id="name" type="text" class="validate" ng-model="product.name">
                    <label class="active" for="name">Назва продукту</label>
                </div>
                <div class="input-field col-md-12">
                    <input id="price" type="text" class="validate" ng-model="product.price">грн
                    <label class="active" for="price">Ціна продукту</label>
                </div>
                <div class="input-field col-md-12">
                    <textarea id="description" class="materialize-textarea" ng-model="product.description"></textarea>
                    <label class="active" for="description">Опис продукту</label>
                </div>
                <div class="input-field col-md-12">
                    <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#categoryModal">Створити категорію</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="categoryModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form name="categoryForm" ng-submit="createCategory()">
                    <div class="row">
                        <div class="input-field col-md-12">
                            <input id="password" type="text" class="validate" ng-model="newCategory.name" required>
                            <label for="password">Назва категорії</label>
                        </div>
                        <div class="input-field col-md-12">
                            <textarea id="textarea1" class="materialize-textarea"  ng-model="newCategory.description"></textarea>
                            <label for="textarea1">Опис категорії</label>
                        </div>
                        <spinner class="col-xs-offset-11" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="loading"></spinner>
                        <button type="submit" class="btn btn-default pull-right" ng-hide="loading">Створити</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
