<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               ng-click="goBack()">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>

            <div class="col-xs-8 text-center">
                <h5 class="white-text">{{property.title}}</h5>
            </div>
            <a class="col-xs-2 noRightPadding nav-link dropdown-toggle"
               id="dropdownMenu1"
               type="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">

                <i class="fa fa-cog whiteColor pull-right">
                </i>
                <div class="dropdown-menu pull-right col-xs-1 rightDropdown" aria-labelledby="dropdownMenu1">
                    <a class="col-xs-12 text-left" ng-click="updateProperty()"><p>{{'categories.save' | translate}}</p></a>
                    <a class="col-xs-12 text-left deleteOrderTopMargin" data-toggle="modal" data-target="#deleteProperty"><p>{{'productDetails.delete' | translate}}</p></a>
                </div>
            </a>
        </div>
    </div>
</nav>
<div class="admin-container edit-property-block noSidePadding">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <div class="admin-column">
        <div class="admin-card">
            <form ng-show="!loading" class="col-md-12 noSidePadding" id="addNewProperty" name="addNewProperty">
                <h4>{{'addproperty.option' | translate}}</h4>
                <div class="input-field   propertyOptionsContainer">
                    <input id="property_name" type="text" ng-model="property.title" required>
                    <label class="active" for="property_name">{{'editProduct.additionTitle' | translate}}</label>
                </div>
                <div class="input-field propertyOptionsContainer">
                    <input id="property_price" type="text" ng-model="property.price" required>
                    <label class="active" for="property_name">{{'editProduct.additionPrice' | translate}}</label>
                </div>
            </form>
        </div>
    </div>
    <div class="admin-column">
        <div class="admin-card">
            <h4>{{'editProduct.additionImage' | translate}}</h4>
            <div class="carousel-inner  " role="listbox" ng-click="uploadNewProductImage()">
                <div class="item active add-option-image">
                    <img id="property_img" src="{{property.imagePath}}" alt="slide1">
                    <p class="add-option-image-text">{{'editProduct.additionAddPhoto' | translate}}</p>
                </div>
                <input id="imageLoader"
                       onchange="fileSelected()"
                       class="input-file hiddenFileInput"
                       type="file"/>
            </div>
        </div>
    </div>
    </div>
<div class="modal fade" id="deletePropertyOption" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="col-xs-12 text-center">
                    <p ng-show="deleteButton"><i>{{'editproperty.deleteMessage1' | translate}}</i></p>
                    <p ng-show="succesfullDelete"><i>{{'editproperty.deleteMessage2' | translate}}</i></p>
                </div>
                <div class="col-xs-9">
                    <spinner class="col-xs-offset-8" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="modalSpinner"></spinner>
                </div>
                <div class="col-xs-offset-3 col-xs-6">
                    <button type="button" class="btn secondaryColor btn-sm btn-block white-text" ng-click="deletePropertyOption()" ng-show="deleteButton">{{'singleOrder.Delete' | translate}}</button>
                </div>
                <a class="col-xs-offset-4 col-xs-4 noUnderline">
                    <button type="button" class="btn secondaryColor btn-sm btn-block white-text" ng-show="succesfullDelete" ng-click="hideModal()">Ok</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteProperty" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="col-xs-12 text-center">
                    <p ng-show="deleteButton2"><i>{{'deleteproperty.deleteMessage1' | translate}}</i></p>
                    <p ng-show="succesfullDelete2"><i>{{'deleteproperty.deleteMessage2' | translate}}</i></p>
                </div>
                <div class="col-xs-9">
                    <spinner class="col-xs-offset-8" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="modalSpinner"></spinner>
                </div>
                <div class="col-xs-offset-3 col-xs-6">
                    <button type="button" class="btn secondaryColor btn-sm btn-block white-text" ng-click="deleteProperty()" ng-show="deleteButton2">{{'singleOrder.Delete' | translate}}</button>
                </div>
                <a class="col-xs-offset-4 col-xs-4 noUnderline">
                    <button type="button" class="btn secondaryColor btn-sm btn-block white-text" ng-show="succesfullDelete2" ng-click="hideModal2()">Ok</button>
                </a>
            </div>
        </div>
    </div>
</div>
