<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>

            <div class="col-xs-8 text-center">
                <h5 class="white-text">{{'hourssetting.title' | translate}}</h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right"
                   ng-click="setWorkingHour()">
                </i>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid noSidePadding flex-table" style="border: 1px solid black;">
    <table>
        <tr>
            <th class="table-day">day</th>
            <th>start time</th>
            <th>end time</th>
            <th>Closed</th>
        </tr>
        <tr>
            <td class="table-day">Monday</td>
            <td>09:00</td>
            <td>19:00</td>
            <td>check</td>
        </tr>
        <tr>
            <td class="table-day">Tuesday</td>
            <td>09:00</td>
            <td>19:00</td>
            <td>check</td>
        </tr>
        <tr>
            <td class="table-day">Wednesday</td>
            <td>09:00</td>
            <td>19:00</td>
            <td>check</td>
        </tr>
        <tr>
            <td class="table-day">Thursday</td>
            <td>09:00</td>
            <td>19:00</td>
            <td>check</td>
        </tr>
        <tr>
            <td class="table-day">Friday</td>
            <td>09:00</td>
            <td>19:00</td>
            <td>check</td>
        </tr>
        <tr>
            <td class="table-day">Saturday</td>
            <td>09:00</td>
            <td>19:00</td>
            <td>check</td>
        </tr>
        <tr>
            <td class="table-day">Sunday</td>
            <td>09:00</td>
            <td>19:00</td>
            <td>check</td>
        </tr>
    </table>
</div>
