<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>

            <div class="col-xs-8 text-center">
                <h5 class="white-text">{{'hourssetting.title' | translate}}</h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right"
                   ng-click="setWorkingHour()">
                </i>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid noSidePadding flex-table" style="border: 1px solid black;">
    <table>
        <tr>
            <th>{{'hourssetting.day' | translate}}</th>
            <th>{{'hourssetting.start' | translate}}start time</th>
            <th>{{'hourssetting.end' | translate}}end time</th>
            <th>{{'hourssetting.closed' | translate}}Closed</th>
        </tr>
        <tr>
            <td class="table-day">{{'hourssetting.monday' | translate}}</td>
            <td>09:00</td>
            <td>19:00</td>
            <td>check</td>
        </tr>
        <tr>
            <td class="table-day">{{'hourssetting.tuesday' | translate}}</td>
            <td>09:00</td>
            <td>19:00</td>
            <td>check</td>
        </tr>
        <tr>
            <td class="table-day">{{'hourssetting.wednesday' | translate}}</td>
            <td>09:00</td>
            <td>19:00</td>
            <td>check</td>
        </tr>
        <tr>
            <td class="table-day">{{'hourssetting.thursday' | translate}}</td>
            <td>09:00</td>
            <td>19:00</td>
            <td>check</td>
        </tr>
        <tr>
            <td class="table-day">{{'hourssetting.friday' | translate}}</td>
            <td>09:00</td>
            <td>19:00</td>
            <td>check</td>
        </tr>
        <tr>
            <td class="table-day">{{'hourssetting.saturday' | translate}}</td>
            <td>09:00</td>
            <td>19:00</td>
            <td>check</td>
        </tr>
        <tr>
            <td class="table-day">{{'hourssetting.sunday' | translate}}</td>
            <td>09:00</td>
            <td>19:00</td>
            <td>check</td>
        </tr>
    </table>
</div>
