<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    LiqPay
                </h5>
            </div>
            <div class="col-xs-2 noRightPadding">
                <button class="fa fa-save whiteColor pull-right saveProductButtonStyling"
                   type="submit"
                   form="liqPayPaymentForm" >
                </button>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid noSidePadding">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>

    <form class="col-md-12 noSidePadding" ng-submit="setLiqPayPaymentOpts()" id="liqPayPaymentForm" name="liqPayPaymentForm">
        <hr class="margin-hr">

        <div class="col-sm-6">
            <p>{{'settings.publicKey' | translate}}</p>
            <input id="publicLiqPay" type="text" ng-model="liqpay.liqpayPublicKey" required>
        </div>
        <div class="col-sm-6">
            <p>{{'settings.privateKey' | translate}}</p>
            <input id="privateLiqPay" type="password" ng-model="liqpay.liqpayPrivateKey" required>
        </div>
        <div class="col-sm-6 check-box-commission-container">
            <input id="filled-in-box" type="checkbox" class="filled-in checkBoxStyling" ng-model="activeShop.alwaysOpen" />
            <label for="filled-in-box">{{'settings.commissionForClient' | translate}}</label>
        </div>
    </form>

</div>
