<nav class="admin-nav" role="navigation">
    <div class="nav-menu">
        <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
    </div>
    <div class="nav-title">
        <h5>LiqPay</h5>
    </div>
    <div class="admin-nav-save-btn">
        <button class="fa fa-save whiteColor pull-right saveProductButtonStyling"
                type="submit"
                form="liqPayPaymentForm" >
        </button>
    </div>
</nav>

<div class="admin-container">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>

    <form class="col-md-12 noSidePadding" ng-submit="setLiqPayPaymentOpts()" id="liqPayPaymentForm" name="liqPayPaymentForm">
        <hr class="margin-hr">

        <div class="col-sm-6">
            <p>{{'settings.publicKey' | translate}}</p>
            <input id="publicLiqPay" type="text" ng-model="liqpay.liqpayPublicKey" required>
        </div>
        <div class="col-sm-6">
            <p>{{'settings.privateKey' | translate}}</p>
            <input id="privateLiqPay" type="password" ng-model="liqpay.liqpayPrivateKey" required>
        </div>
        <div class="col-sm-6 check-box-commission-container">
            <input id="filled-in-box" type="checkbox" class="filled-in checkBoxStyling"
                   ng-model="liqpay.clientPaysProcessingCommission" />
            <label for="filled-in-box">{{'settings.commissionForClient' | translate}}</label>
        </div>
    </form>

</div>
