<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{networkName}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding nav-link dropdown-toggle"
               id="dropdownMenu1"
               type="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                <i class="fa fa-edit whiteColor pull-right">
                </i>
                <div class="dropdown-menu pull-right col-xs-1 rightDropdown" aria-labelledby="dropdownMenu1">
                    <a class="col-xs-12 text-left" href="#/networkshoplist/{{uuid}}/add"><p>{{'networkShopListPage.addShop' | translate}}</p></a>
                    <a class="col-xs-12 text-left" href="#/networkshoplist/{{uuid}}/delete"><p>{{'networkShopListPage.deleteShop' | translate}}</p></a>
                    <a class="col-xs-12 text-left" data-toggle="modal" data-target="#deleteNetwork"><p>{{'networkShopListPage.deleteNetwork' | translate}}</p></a>

                </div>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid noSidePadding cardTopPadding">
    <div class="col-lg-4 col-md-6 col-sm-6" style="height: auto !important;" ng-repeat="shop in networkShopList">
        <div class="card card-product hoverable set-card column" style="justify-content: space-between">
            <div class="flex-card-part flex-column" style="margin: 10px;">
                <h5 class="truncate shopCardInfo" style="font-size: medium; font-weight: 400; margin-bottom: 7px; margin-top: 7px;">{{shop.shopName}}</h5>
                <h6 class="grey-text normal-400" style="margin-bottom: 0px;">{{shop.contact.address}}</h6>
            </div>
            <div class="view overlay hm-white-slight z-depth-1 card-maps" style="width: inherit !important;">
                <img class="img-responsive"  ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{getLat(shop)}},{{getLng(shop)}}&zoom=15&size=608x300&maptype=roadmap&markers=color:red%7Clabel:S%7C{{getLat(shop)}},{{getLng(shop)}}&key={{activeShop.googleStaticMapsApiKey}}">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteNetwork" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="col-xs-12 text-center">
                    <p ng-show="deleteButton"><i>{{'networkShopListPage.deleteMessage1' | translate}}</i></p>
                    <p ng-show="succesfullDelete"><i>{{'networkShopListPage.deleteMessage2' | translate}}</i></p>
                </div>
                <div class="col-xs-9">
                    <spinner class="col-xs-offset-8" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="modalSpinner"></spinner>
                </div>
                <div class="col-xs-offset-2 col-xs-8">
                    <button type="button" class="btn secondaryColor btn-sm btn-block " ng-click="deleteProduct()" ng-show="deleteButton">Видалити</button>
                </div>
                <a href="#/products" class="col-xs-offset-4 col-xs-4 noUnderline">
                    <button type="button" class="btn secondaryColor btn-sm btn-block" ng-show="succesfullDelete" ng-click="hideModal()">Ok</button>
                </a>
            </div>
        </div>
    </div>
</div>