<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 white-text text-center">
                <h5>{{'orderList.orders' | translate}}</h5>
            </div>
            <!--<form class="col-xs-8 waves-effect waves-light">-->
                <!--<input class="form-control noMarginForSearchInput" type="text" placeholder="{{'orderList.Search' | translate}}" ng-model="query">-->
            <!--</form>-->
            <!--<a class="col-xs-2"-->
               <!--ng-click="isSortingActive=!isSortingActive; setSortOption()"-->
               <!--ng-show="isSortingActive">-->
                <!--<i class="fa fa-sort-amount-desc pull-right whiteColor"></i>-->
            <!--</a>-->
            <!--<a class="col-xs-2"-->
               <!--ng-click="isSortingActive=!isSortingActive; setSortOption()"-->
               <!--ng-hide="isSortingActive">-->
                <!--<i class="fa fa-sort-amount-asc pull-right whiteColor"></i>-->
            <!--</a>-->
            <!--<a class="col-xs-2 noRightPadding"-->
               <!--type="button"-->
               <!--data-toggle="collapse"-->
               <!--data-target="#filterOptions"-->
               <!--aria-expanded="false"-->
               <!--aria-controls="filterOptions">-->
                <!--<i class="fa fa-filter pull-right" ng-style="{ 'color': isFilterOn() }">-->
                <!--</i>-->
            <!--</a>-->
        </div>
        <!--<div class="container-fluid">-->
            <!--<div class="collapse row" id="filterOptions">-->
                <!--<div class="filter-option-all">-->
                    <!--<div class="filter-option-item">-->
                        <!--<input type="checkbox"-->
                               <!--class="filled-in"-->
                               <!--id="checkbox1"-->
                               <!--ng-click="orderStateFilter('NEW')"-->
                               <!--ng-checked="isOptionChecked('NEW')">-->
                        <!--<label class="white-text whiteCheckBox" for="checkbox1">{{'orderList.New' | translate}}</label>-->
                    <!--</div>-->
                    <!--<div class="filter-option-item">-->
                        <!--<input type="checkbox"-->
                               <!--class="filled-in"-->
                               <!--id="checkbox2"-->
                               <!--ng-click="orderStateFilter('PAYED')"-->
                               <!--ng-checked="isOptionChecked('PAYED')">-->
                        <!--<label class="white-text whiteCheckBox" for="checkbox2">{{'orderList.Paid' | translate}}</label>-->
                    <!--</div>-->
                    <!--<div class="filter-option-item">-->
                        <!--<input type="checkbox"-->
                               <!--class="filled-in"-->
                               <!--id="checkbox3"-->
                               <!--ng-click="orderStateFilter('MANUALLY_PAYED')"-->
                               <!--ng-checked="isOptionChecked('MANUALLY_PAYED')">-->
                        <!--<label class="white-text whiteCheckBox" for="checkbox3">{{'orderList.Postpay' | translate}}</label>-->
                    <!--</div>-->
                    <!--<div class="filter-option-item">-->
                        <!--<input type="checkbox"-->
                               <!--class="filled-in"-->
                               <!--id="checkbox4"-->
                               <!--ng-click="orderStateFilter('CANCELLED')"-->
                               <!--ng-checked="isOptionChecked('CANCELLED')">-->
                        <!--<label class="white-text whiteCheckBox" for="checkbox4">{{'orderList.Canceled' | translate}}</label>-->
                    <!--</div>-->
                    <!--<div class="filter-option-item">-->
                        <!--<input type="checkbox"-->
                               <!--class="filled-in"-->
                               <!--id="checkbox5"-->
                               <!--ng-click="orderStateFilter('SHIPPED')"-->
                               <!--ng-checked="isOptionChecked('SHIPPED')">-->
                        <!--<label class="white-text whiteCheckBox" for="checkbox5">{{'orderList.Shipped' | translate}}</label>-->
                    <!--</div>-->
                    <!--<div class="filter-option-item">-->
                        <!--<input type="checkbox"-->
                               <!--class="filled-in"-->
                               <!--id="checkbox6"-->
                               <!--ng-click="orderStateFilter('PAYMENT_ERROR')"-->
                               <!--ng-checked="isOptionChecked('PAYMENT_ERROR')">-->
                        <!--<label class="white-text whiteCheckBox" for="checkbox6">{{'orderList.Error' | translate}}</label>-->
                    <!--</div>-->
                <!--</div>-->

         <!--</div>-->
     <!--</div>-->
    </div>
</nav>
<ul class="collection visible-xs-block">
    <li class="collection-item" ng-if="item.state !== 'DELETED'" ng-repeat="item in orders | filter:orderFilter | filter:search | orderBy:'time':isSortingActive">
        <a href ="#/details/{{item.uuid}}">
            <div class="row vcentering">
                <div class="col-xs-3 datePriceContainer">
                    <p class="normal-400 black-text">{{'orderList.Currency' | translate}}{{item.total}}</p>
                    <p class="secondaryOrderFont" ng-show="!item.yesterdayString">{{item.properDate}}</p>
                    <p class="secondaryOrderFont" ng-show="item.yesterdayString">{{'orderList.yesterday' | translate}}</p>
                </div>
                <div class="col-xs-7 namePhoneContainer">
                    <p class="truncate normal-400 black-text">{{item.name}}</p>
                    <p class="secondaryOrderFont">{{item.phone}}</p>
                </div>
                <div class="col-xs-2">
                    <b class="material-icons pull-right materialIcon">{{orderPaymentType(item)}}</b>
                </div>
            </div>
        </a>
    </li>
</ul>
<div class="container-fluid admin-all-orders ">
    <div class="all-order-item hidden-xs" ng-if="item.state !== 'DELETED'" ng-repeat="item in orders | filter:orderFilter | filter:search | orderBy:'time':isSortingActive">
        <a href ="#/details/{{item.uuid}}">
            <div class="card elegant-card hoverable">
                <div ng-show="item.clientAddressStreetLng && item.deliveryType === 'COURIER'" class="view overlay hm-white-slight z-depth-1">
                    <img
                            ng-src="https://maps.googleapis.com/maps/api/staticmap?zoom=16&center={{item.clientAddressStreetLat}},{{item.clientAddressStreetLng}}&size=600x300&maptype=roadmap&markers=color:red|label:C|{{item.clientAddressStreetLat}},{{item.clientAddressStreetLng}}&key={{activeShop.googleStaticMapsApiKey}}"
                            class="img-responsive"
                            alt="">
                    <div class="mask waves-effect activator"></div>
                </div>
                <div ng-show="item.deliveryType === 'COURIER' && !item.clientAddressStreetLng" class="view overlay hm-white-slight z-depth-1">
                    <img src="wisehands/assets/images/logoimages/no_map.png" class="img-responsive" alt="">
                    <div class="mask waves-effect activator"></div>
                </div>
                <div ng-show="item.deliveryType === 'POSTSERVICE'" class="view overlay hm-white-slight z-depth-1">
                    <img src="wisehands/assets/images/logoimages/nova-poshta-logo2.png" class="img-responsive" alt="">
                    <div class="mask waves-effect activator"></div>
                </div>
                <div ng-show="item.deliveryType === 'SELFTAKE'" class="view overlay hm-white-slight z-depth-1">
                    <img ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{shopLatLng}}&zoom=16&size=600x300&maptype=roadmap&markers=color:red%7Clabel:S%7C{{shopLatLng}}&key={{activeShop.googleStaticMapsApiKey}}" class="img-responsive" alt="">
                    <div class="mask waves-effect activator"></div>
                </div>
                <div ng-show="!item.deliveryType" class="admin-order-card-row qr-name-in-order">
                    <h5>{{'singleOrder.qrCodeName' | translate}}: </h5>
                    <p>{{item.qrName}}</p>
                </div>
                <div class="card-content">
                    <div class="row vcentering">
                        <div class="col-sm-8 text-left noSidePadding">
                            <h5 class="truncate normal-400">{{item.name}}</h5>
                            <h6 class="grey-text">{{item.phone}}</h6>
                        </div>
                        <div class="col-sm-4 text-right noSidePadding">
                            <h5 class="normal-400">{{'orderList.Currency' | translate}}{{item.total}}</h5>
                            <h6 class="grey-text" ng-show="!item.yesterdayString">{{item.properDate}}</h6>
                            <h6 class="grey-text" ng-show="item.yesterdayString">{{'orderList.yesterday' | translate}}</h6>
                        </div>
                    </div>

                    <div class="row">
                        <p ng-show="item.paymentType === 'CASHONDELIVERY'" class="np-order-card">{{'singleOrder.paymentTypeCash' | translate}}</p>
                        <p ng-show="item.paymentType === 'CREDITCARD'" class="np-order-card">{{'singleOrder.paymentTypeOnline' | translate}}
                            <i ng-show="item.paymentState === 'PENDING'">{{'singleOrder.paymentStatePending' | translate}}</i>
                            <i ng-show="item.paymentState === 'PAYED'">{{'singleOrder.paymentStatePaid' | translate}}</i>
                            <i ng-show="item.paymentState === 'PAYMENT_ERROR'">{{'singleOrder.paymentStateError' | translate}}</i>
                        </p>
                    </div>
                    <div class="row">
                        <p ng-show="item.deliveryType === 'COURIER'" class="truncate np-order-card">
                            {{'orderList.courier' | translate}} <i>{{item.clientAddressStreetName}}, {{item.clientAddressBuildingNumber}}</i></p>
                        <p ng-show="item.deliveryType === 'POSTSERVICE'" class="truncate np-order-card">
                            {{'orderList.postservice' | translate}}<i>{{item.clientCity}}, {{item.clientPostDepartmentNumber}}</i></p>
                        <p ng-show="item.deliveryType === 'SELFTAKE'">{{'orderList.selftake' | translate}}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <!--<div class="container-fluid topMarginBalanceWarning" ng-show="balanceWarning">-->
    <!--<a href="#/settings"><div class="panel panel-danger hoverable">-->
    <!--<div class="panel-heading">У Вас від'ємний рахунок! Поповніть його, будь ласка!</div>-->
    <!--<div class="panel-body noAnchorStyle">На даний момент Ваш рахунок рівний: {{balance.balance | number:2}} грн!</div>-->
    <!--</div></a>-->
    <!--</div>-->




    <h4 ng-show="wrongMessage" class="text-center"><i>{{'orderList.wrongMessage' | translate}}</i></h4>
    <h4 class="text-center" ng-show="(orders | filter:orderFilter).length == 0 && orders.length != 0">
        <i>{{'orderList.NoFilterMatches' | translate}}</i>
    </h4>
    <div class="spinner-block">
        <spinner class="center-spinner" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
</div>
<h4 ng-show="orders.length === 0 || isAllOrdersDeleted" >
    <div class="no-items-store">
        <img src="/wisehands/assets/images/no-items.svg">
        <p>{{'orderList.noOrders' | translate}}</p>
    </div>
</h4>
<div ng-show="!hideMoreButton" class="text-center">
    <button ng-click="moreOrders()" class="btn waves-effect waves-light secondaryColor">{{'orderList.more' | translate}}</button>
</div>
