<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <form class="col-xs-7 waves-effect waves-light">
                <input class="form-control noMarginForSearchInput" type="text" placeholder="{{'orderList.Search' | translate}}" ng-model="query">
            </form>
            <a class="col-xs-2"
               ng-click="isSortingActive=!isSortingActive; setSortOption()"
               ng-show="isSortingActive">
                <i class="fa fa-sort-amount-desc pull-right whiteColor"></i>
            </a>
            <a class="col-xs-2"
               ng-click="isSortingActive=!isSortingActive; setSortOption()"
               ng-hide="isSortingActive">
                <i class="fa fa-sort-amount-asc pull-right whiteColor"></i>
            </a>
            <a class="col-xs-1 noRightPadding"
               type="button"
               data-toggle="collapse"
               data-target="#filterOptions"
               aria-expanded="false"
               aria-controls="filterOptions">
                <i class="fa fa-filter pull-right" ng-style="{ 'color': isFilterOn() }">
                </i>
            </a>
        </div>
        <div class="container-fluid">
            <div class="collapse row" id="filterOptions">
                <div class="col-xs-6 col-sm-4">
                        <input type="checkbox"
                               class="filled-in"
                               id="checkbox1"
                               ng-click="orderStateFilter('NEW')"
                               ng-checked="isOptionChecked('NEW')">
                        <label class="white-text whiteCheckBox" for="checkbox1">{{'orderList.New' | translate}}</label>
                </div>
                <div class="col-xs-6 col-sm-4 ">
                     <input type="checkbox"
                            class="filled-in"
                            id="checkbox2"
                            ng-click="orderStateFilter('PAYED')"
                            ng-checked="isOptionChecked('PAYED')">
                     <label class="white-text whiteCheckBox" for="checkbox2">{{'orderList.Paid' | translate}}</label>
                </div>
                <div class="col-xs-6 col-sm-4">
                     <input type="checkbox"
                            class="filled-in"
                            id="checkbox3"
                            ng-click="orderStateFilter('MANUALLY_PAYED')"
                            ng-checked="isOptionChecked('MANUALLY_PAYED')">
                     <label class="white-text whiteCheckBox" for="checkbox3">{{'orderList.Postpay' | translate}}</label>
                </div>
                <div class="col-xs-6 col-sm-4">
                     <input type="checkbox"
                            class="filled-in"
                            id="checkbox4"
                            ng-click="orderStateFilter('CANCELLED')"
                            ng-checked="isOptionChecked('CANCELLED')">
                     <label class="white-text whiteCheckBox" for="checkbox4">{{'orderList.Canceled' | translate}}</label>
                </div>
                <div class="col-xs-6 col-sm-4">
                     <input type="checkbox"
                            class="filled-in"
                            id="checkbox5"
                            ng-click="orderStateFilter('SHIPPED')"
                            ng-checked="isOptionChecked('SHIPPED')">
                     <label class="white-text whiteCheckBox" for="checkbox5">{{'orderList.Shipped' | translate}}</label>
                </div>
                <div class="col-xs-6 col-sm-4">
                     <input type="checkbox"
                            class="filled-in"
                            id="checkbox6"
                            ng-click="orderStateFilter('PAYMENT_ERROR')"
                            ng-checked="isOptionChecked('PAYMENT_ERROR')">
                     <label class="white-text whiteCheckBox" for="checkbox6">{{'orderList.Error' | translate}}</label>
                </div>
         </div>
     </div>
    </div>
</nav>
<div class="container-fluid noSidePadding">
    <!--<div class="container-fluid topMarginBalanceWarning" ng-show="balanceWarning">-->
        <!--<a href="#/settings"><div class="panel panel-danger hoverable">-->
            <!--<div class="panel-heading">У Вас від'ємний рахунок! Поповніть його, будь ласка!</div>-->
            <!--<div class="panel-body noAnchorStyle">На даний момент Ваш рахунок рівний: {{balance.balance | number:2}} грн!</div>-->
        <!--</div></a>-->
    <!--</div>-->
    <h4 class="text-center"><i>{{status}}</i></h4>
    <h4 class="text-center" ng-show="(orders | filter:orderFilter).length == 0 && orders.length != 0" ng-class="{noMatchesMargin: (orders | filter:orderFilter).length == 0 && orders.length != 0}">
         <i>{{'orderList.NoFilterMatches' | translate}}</i>
     </h4>
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" on-loaded="getResource()"></spinner>
    </div>
    <div id="ptr"></div>
    <div id="content">
     <div ng-if="item.state !== 'DELETED'" class="col-sm-6" ng-repeat="item in orders | filter:orderFilter | filter:search | orderBy:'time':isSortingActive">
         <div class="card card-primary text-xs-center z-depth-2"
              ng-style="{'background-color': orderState(item)}"
              >
             <a href ="#/details/{{item.uuid}}">
                 <div class="row">
                     <div class="card-block vcentering">
                         <div class=" col-xs-8 col-sm-8">
                             <p class="truncate text-center white-text paragraphPadding"><i>{{item.name}}</i></p>
                         </div>
                         <div class="col-xs-4 col-sm-4">
                             <p class="text-center white-text paragraphPadding"><b>{{item.total}}</b> {{'orderList.Currency' | translate}}</p>
                         </div>
                     </div>
                 </div>
             </a>
         </div>
     </div>
    </div>
</div>