<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a  data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>
        <div class="row vcentering">
            <form class="col-xs-offset-1 col-xs-8 waves-effect waves-light">
                <input class="form-control noMarginForSearchInput" type="text" placeholder="Пошук" ng-model="query">
            </form>
            <a class="col-xs-2"
               ng-click="isSortingActive=!isSortingActive; setSortOption()"
               ng-show="isSortingActive">
                <i class="fa fa-sort-amount-desc pull-right whiteColor"></i>
            </a>
            <a class="col-xs-2"
               ng-click="isSortingActive=!isSortingActive; setSortOption()"
               ng-hide="isSortingActive">
                <i class="fa fa-sort-amount-asc pull-right whiteColor"></i>
            </a>
            <a class="col-xs-1 noRightPadding"
               type="button"
               data-toggle="collapse"
               data-target="#filterOptions"
               aria-expanded="false"
               aria-controls="filterOptions">
                <i class="fa fa-filter pull-right" ng-style="{ 'color': isFilterOn() }">
                </i>
            </a>
        </div>
        <div class="container-fluid">
            <div class="collapse row" id="filterOptions">
                <div class="col-xs-6 col-sm-4">
                        <input type="checkbox"
                               class="filled-in"
                               id="checkbox1"
                               ng-click="orderStateFilter('NEW')"
                               ng-checked="isOptionChecked('NEW')">
                        <label class="white-text whiteCheckBox" for="checkbox1">Нові</label>
                </div>
                <div class="col-xs-6 col-sm-4 ">
                     <input type="checkbox"
                            class="filled-in"
                            id="checkbox2"
                            ng-click="orderStateFilter('PAYED')"
                            ng-checked="isOptionChecked('PAYED')">
                     <label class="white-text whiteCheckBox" for="checkbox2">Оплачені</label>
                </div>
                <div class="col-xs-6 col-sm-4">
                     <input type="checkbox"
                            class="filled-in"
                            id="checkbox3"
                            ng-click="orderStateFilter('MANUALLY_PAYED')"
                            ng-checked="isOptionChecked('MANUALLY_PAYED')">
                     <label class="white-text whiteCheckBox" for="checkbox3">Післяоплата</label>
                </div>
                <div class="col-xs-6 col-sm-4">
                     <input type="checkbox"
                            class="filled-in"
                            id="checkbox4"
                            ng-click="orderStateFilter('CANCELLED')"
                            ng-checked="isOptionChecked('CANCELLED')">
                     <label class="white-text whiteCheckBox" for="checkbox4">Скасовані</label>
                </div>
                <div class="col-xs-6 col-sm-4">
                     <input type="checkbox"
                            class="filled-in"
                            id="checkbox5"
                            ng-click="orderStateFilter('SHIPPED')"
                            ng-checked="isOptionChecked('SHIPPED')">
                     <label class="white-text whiteCheckBox" for="checkbox5">Відправлені</label>
                </div>
                <div class="col-xs-6 col-sm-4">
                     <input type="checkbox"
                            class="filled-in"
                            id="checkbox6"
                            ng-click="orderStateFilter('PAYMENT_ERROR')"
                            ng-checked="isOptionChecked('PAYMENT_ERROR')">
                     <label class="white-text whiteCheckBox" for="checkbox6">Помилка</label>
                </div>
         </div>
     </div>
    </div>
</nav>
<ul id="slide-out" class="side-nav admin-side-nav dark-side-nav">
 <div class="logo-wrapper">
     <img src="{{profile.profileUrl}}" class="img-responsive img-circle">
     <div class="rgba-stylish-strong">
         <p class="user white-text">
             <a href="{{getUrl(activeShop)}}" class="white-text">{{activeShop.shopName}}</a>
         <div class="col-xs-12"><p class="noTopPadding">{{profile.email}}</p></div>

         </p>
     </div>
 </div>

 <ul class="collapsible collapsible-accordion">
     <li ng-class="{active: $route.current.activetab == 'orderlist'}"><a href="#/" class="waves-effect waves-light"><i class="fa fa-tasks"></i> Замовлення</a></li>
     <li><a href="#/products" class="waves-effect waves-light"><i class="fa fa-cart-plus"></i> Товари</a></li>
     <li><a href="#/delivery" class="waves-effect waves-light"><i class="fa fa-fighter-jet"></i> Доставка</a></li>
     <li><a href="#/contacts" class="waves-effect waves-light"><i class="fa fa-envelope"></i> Контакти</a></li>
     <li><a href="#/settings" class="waves-effect waves-light"><i class="fa fa-gears"></i> Налаштування</a></li>
     <li><a href="#/usersettings" class="waves-effect waves-light"><i class="fa fa-users"></i> Користувачі</a></li>
     <li ng-click="signOut()" target="_self"><a class="waves-effect waves-light"><i class="fa fa-sign-out"></i> Вийти</a></li>
 </ul>
</ul>

<div class="container-fluid noSidePadding">
     <h4 class="text-center"><i>{{status}}</i></h4>
     <h4 class="text-center" ng-show="(orders | filter:orderFilter).length == 0 && orders.length != 0">
         <i>Нема жодного замовлення, яке б відповідало критеріям пошуку</i>
     </h4>
 <div class="row text-center">
     <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" on-loaded="getResource()"></spinner>
 </div>
 <div id="ptr"></div>
 <div id="content">
     <div class="col-sm-6" ng-repeat="item in orders | filter:orderFilter | filter:search | orderBy:'time':isSortingActive">
         <div class="card card-primary text-xs-center z-depth-2"
              ng-style="{'background-color': orderState(item)}">
             <a href ="#/details/{{item.uuid}}">
                 <div class="row">
                     <div class="card-block vcentering">
                         <div class=" col-xs-8 col-sm-8">
                             <p class="truncate text-center white-text paragraphPadding"><i>{{item.name}}</i></p>
                         </div>
                         <div class="col-xs-4 col-sm-4">
                             <p class="text-center white-text paragraphPadding">₴ <b>{{item.total}}</b></p>
                         </div>
                     </div>
                 </div>
             </a>
         </div>
     </div>
 </div>
</div>