<style>
    .pages-list {
        display: flex;
        flex-flow: row wrap;
    }
    .pages-list-item {
        width: 200px;
        padding: 0.3rem 0;
        margin: 1rem;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        text-align: center;
        }
    .pages-list-item a {
        color: #000;
    }

    @media screen and (max-width: 768px) {
        .pages-list {
            flex-direction: column;
        }
        .pages-list-item {
            width: 95%;
            text-align: center;
        }
    }
</style>

<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>

            <div class="col-xs-8 text-center">
                <h5 class="white-text">{{'pageConstructor.title' | translate}}</h5>
            </div>
            <a class="col-xs-1 noRightPadding"
               type="button"
               href="#/pageconstructor/new">
                <i class="fa fa-plus-circle pull-right whiteColor">
                </i>
            </a>

        </div>
    </div>
</nav>
<div class="container-fluid noSidePadding cardTopPadding">

    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="page in pagesList">
        <div class="card card-product hoverable">
            <a href="#/pageconstructor/edit/{{page.uuid}}" >
                <div class="card-image waves-effect waves-block waves-light view cardImageBlock">
                    <img ng-src="data:image/jpeg;base64,{{page.pagePhoto}}">
                    <div class="mask waves-effect activator"></div>
                </div>
                <div class="flex-column" style="align-items: center">
                    <h5 class="truncate normal-400 shopCardInfo" style="margin-bottom: 3px">{{page.title}}</h5>
                </div>
        </div>
    </div>

</div>

<div class="pages-list">
    <div class="pages-list-item" ng-repeat="page in pagesList">
        <a href="#/pageconstructor/edit/{{page.uuid}}" >
            <h5 class="">{{page.title}}</h5>
        </a>
    </div>
</div>

