<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               href="#/payment">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'payment.paymentTypeOnline' | translate}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right"
                   ng-click="saveOnlinePaymentOptions()">
                </i>
            </a>
        </div>
    </div>
</nav>

<div class="payment-block payment-block-online">
    <div class="admin-card hoverable">
        <h4>{{'editProduct.general' | translate}}</h4>
        <div class="input-field payment-block-item">
            <input type="checkbox" class="filled-in checkBoxStyling" id="filled-in-box2" ng-model="payment.onlinePaymentEnabled"/>
            <label for="filled-in-box2">{{'payment.online' | translate}}</label>
        </div>
        <div class="delivery-message input-field">
            <div class="delivery-edit-message">
                <p>{{'payment.messageText' | translate}}</p>
                <button class="btn-floating btn-xsmall waves-effect waves-light lightseagreen pull-right"
                        ng-click="redirectToTranslation()"><i class="material-icons">translate</i>
                </button>
            </div>
        </div>
    </div>
    <div class="admin-card hoverable">
        <h4>{{'payment.systemPay' | translate}}</h4>
        <div class="delivery-edit-message">
            <h5 class="">LiqPay</h5>
                <button class="btn-floating btn-xsmall waves-effect waves-light lightseagreen pull-right">
            <a href="#/liqpaypayment">
                <i class="material-icons">mode_edit</i>
            </a>
                </button>

        </div>
    </div>

</div>
