<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'payment.payment' | translate}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right"
                   ng-click="setMinimalPaymentToOrder()">
                </i>
            </a>
        </div>
    </div>
</nav>
<div class="">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <div class="payment-list">
        <div class="payment-item">
            <a href="#/paymentcash">
                <div class="payment-item-bg">
                    <img src="\wisehands\assets\images\payment-img\payment-cash.svg">
                </div>
                <div class="payment-item-title">
                    <h5 class="white-text">{{'payment.paymentTypeCash' | translate}}</h5>
                </div>
            </a>
        </div>
        <div class="payment-item">
            <a href="#/paymentonline">
                <div class="payment-item-bg">
                    <img src="\wisehands\assets\images\payment-img\payment-online.svg">
                </div>
                <div class="payment-item-title">
                    <h5 class="white-text">{{'payment.paymentTypeOnline' | translate}}</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="payment-block " ng-hide="loading">
        <div class="row min-payment-block">
            <div class="input-field ">
                <p>{{'payment.minPayment' | translate}}</p>
                <input type="text" id="filled-in-minimumPayment" ng-model="payment.minimumPayment"/>
            </div>

        </div>
        <div class="displayFlex" ng-show="coupons.length > 0">
            <a ng-repeat="coupon in coupons" href="#/discount/{{coupon.uuid}}" class="btn-sm secondaryColor rectangle waves-effect waves-light col-xs-12 col-sm-3 text-center"><h6>{{'payment.coupons' | translate}}: {{coupon.couponIds.length}}
                <br>
                <br>
                <div ng-repeat="plan in coupon.plans">
                    {{plan.minimalOrderTotal}} {{'products.currency' | translate}} - {{plan.percentDiscount}}%
                </div>
                </h6></a>
        </div>
    </div>

</div>
