<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'payment.paymentTypeCash' | translate}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right"
                   ng-click="setPaymentOptions()">
                </i>
            </a>
        </div>
    </div>
</nav>
<div class="payment-block">
    <div class="input-field col-sm-12">
        <input type="checkbox" class="filled-in checkBoxStyling" id="filled-in-box" ng-model="payment.manualPaymentEnabled" />
        <label for="filled-in-box">{{'payment.cash' | translate}}</label>
    </div>
    <div class="input-field col-sm-6">
        <input type="text" class="filled-in checkBoxStyling" id="filled-in-text"
               ng-model="payment.manualPaymentTitle" placeholder="{{'payment.cashDiscription' | translate}}"/>
    </div>
</div>
