<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    Оплата
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right"
                   ng-click="setPaymentOptions()">
                </i>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <form>
        <div class="row">
            <div class="input-field col-sm-3">
                <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" ng-model="payment.manualPaymentEnabled" />
                <label for="filled-in-box">Оплата готівкою</label>
            </div>
            <div class="input-field col-sm-4">
                <input id="freeDelivery" type="number" class="validate" ng-model="payment.freeDeliveryLimit">
                <label class="active" for="freeDelivery">Сума безкоштовної доставки</label>
            </div>
        </div>
    </form>
</div>