<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'payment.paymentTypeOnline' | translate}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right"
                   ng-click="setPaymentOptions()">
                </i>
            </a>
        </div>
    </div>
</nav>

<div class="payment-block payment-block-online">
    <div class="input-field payment-block-item">
        <input type="checkbox" class="filled-in checkBoxStyling" id="filled-in-box2" ng-model="payment.onlinePaymentEnabled" />
        <label for="filled-in-box2">{{'payment.online' | translate}}</label>
    </div>
    <div class="input-field payment-block-item">
        <input type="text" class="filled-in checkBoxStyling" id="filled-in-text2"
               ng-model="payment.onlinePaymentTitle" placeholder="{{'payment.onlineDiscription' | translate}}"/>
    </div>

    <div class="payment-block-item">
        <p>{{'payment.systemPay' | translate}}</p>
        <a href="#/liqpaypayment">
            <div class="payment-system text-center">
                <div class="card-panel secondaryColor darken-3 hoverable">
                    <h5 class="white-text">LiqPay</h5>
                </div>
            </div>
        </a>
    </div>
</div>
