<nav class="admin-nav" role="navigation">
    <div class="nav-menu">
        <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
    </div>
    <div class="nav-title">
        <h5>{{'payment.paymentTypeCash' | translate}}</h5>
    </div>
    <div class="admin-nav-save-btn">
        <i class="fa fa-save whiteColor pull-right"
           ng-click="saveCashPaymentOptions()">
        </i>
    </div>
</nav>

<div class="row payment-block">
        <div class="admin-card">
            <h4>{{'editProduct.general' | translate}}</h4>
            <div class="input-field">
                <input type="checkbox" class="filled-in checkBoxStyling" id="filled-in-box" ng-model="payment.manualPaymentEnabled" />
                <label for="filled-in-box">{{'payment.cash' | translate}}</label>
            </div>
            <div class="delivery-message input-field">
                <div class="delivery-edit-message">
                    <p>{{'payment.messageText' | translate}}</p>
                    <button class="btn-floating btn-xsmall waves-effect waves-light lightseagreen pull-right"
                            ng-click="redirectToTranslation()"><i class="material-icons">mode_edit</i></button>
                </div>
            </div>
        </div>
</div>
