<nav class="admin-nav" role="navigation">
    <div class="nav-menu">
        <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
    </div>
    <div class="nav-title">
        <h5>{{'payment.paymentTypeOnline' | translate}}</h5>
    </div>
    <div class="admin-nav-save-btn">
        <i class="fa fa-save whiteColor pull-right"
           ng-click="saveOnlinePaymentOptions()">
        </i>
    </div>
</nav>

<div class="payment-block payment-block-online">
    <div class="admin-card">
        <h4>{{'editProduct.general' | translate}}</h4>
        <div class="input-field payment-block-item">
            <input type="checkbox" class="filled-in checkBoxStyling" id="filled-in-box2" ng-model="payment.onlinePaymentEnabled"/>
            <label for="filled-in-box2">{{'payment.online' | translate}}</label>
        </div>
        <div class="delivery-message input-field">
            <div class="delivery-edit-message">
                <p>{{'payment.messageText' | translate}}</p>
                <button class="btn-floating btn-xsmall waves-effect waves-light lightseagreen pull-right"
                        ng-click="redirectToTranslation()"><i class="material-icons">mode_edit</i>
                </button>
            </div>
        </div>
    </div>
    <div class="admin-card">
        <h4>{{'payment.systemPay' | translate}}</h4>
        <div class="delivery-edit-message">
            <h5 class="">LiqPay</h5>
                <button class="btn-floating btn-xsmall waves-effect waves-light lightseagreen pull-right">
            <a href="#/liqpaypayment">
                <i class="material-icons">mode_edit</i>
            </a>
                </button>

        </div>
    </div>

</div>
