<nav class="navbar navbar-default navbar-fixed-top desktopView" role="navigation">
    <div class="row">
        <div class="col-xs-2 col-sm-2">
            <a href="#/products">
                <span class="glyphicon glyphicon-arrow-left verticalCentering landscapeFloatLeft"></span>
            </a>
        </div>
        <div class=" col-xs-8 col-sm-8 vcenter">
            <h4 class="text-center"><b>Деталі товару</b></h4>
        </div>
        <div class="dropdown col-xs-2 col-sm-2">
            <spinner class="center-block spinnerCentering landscapeFloatRight" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="loading"></spinner>
            <span   type="button"
                    class="dropdown-toggle glyphicon glyphicon-pencil verticalCentering landscapeFloatRight"
                    data-toggle="dropdown"
                    id="dropdownMenu1"
                    aria-haspopup="true"
                    aria-expanded="true"
                    ng-hide="loading">
            </span>
            <ul class="dropdown-menu pull-right tabletDropdown" aria-labelledby="dropdownMenu1">
                <li><a href="#/products/details/{{product.uuid}}/edit">Редагувати</a></li>
                <li class="divider"></li>
                <li data-toggle="modal" data-target="#deleteProduct"><a>Видалити</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="navbar navbar-default navbar-fixed-left">
    <div class="row col-md-12 verticalCentering">
        <a href="#/products">
            <button type="button" class="btn btn-default col-md-offset-1 col-md-12">
                <span class="glyphicon glyphicon-arrow-left pull-left"></span>
                Назад
            </button>
        </a>
    </div>
    <a href="#/products/details/{{product.uuid}}/edit">
        <button type="button" class="btn btn-default col-md-offset-1 col-md-10 buttonTopMargin" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-pencil pull-left"></span>
            Змінити опис
        </button>
    </a>
    <button type="button" class="btn btn-default col-md-offset-1 col-md-10 buttonTopMargin" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#deleteProduct">
        <span class="glyphicon glyphicon-remove pull-left"></span>
        Видалити товар
    </button>
    <div class="col-md-12">
        <spinner class="col-md-offset-2" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
</div>
<div class="container-fluid desktopProductsView">
    <h4></h4>
</div>

<div class="well wellSideMargin singleOrderLeftMargin">
    <div class="row text-center">
        <div class="col-xs-12 col-sm-12">
            <img ng-src="/public/product_images/{{product.fileName}}" class="img-responsive center-block landscapeImageScale" alt=""></img>
            <h4><b>Назва товару: </b><p><i>{{product.name}}</i></p></h4>
            <h4><b>Опис товару: </b><p><i>{{product.description}}</i></p></h4>
            <h4><b>Ціна товару: </b><p><i>{{product.price}} грн</i></p></h4>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteProduct" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="col-xs-12 text-center">
                    <p><i>{{deleteMessage}}</i></p>
                </div>
                <div class="col-xs-9">
                    <spinner class="col-xs-offset-8" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="modalSpinner"></spinner>
                </div>
                <a class="col-xs-12 noUnderline">
                    <button type="button" class="btn btn-danger btn-sm center-block" ng-click="deleteProduct()" ng-show="deleteButton">Видалити товар</button>
                </a>
                <a href="#/products" class="col-xs-12 noUnderline">
                    <button type="button" class="btn btn-success btn-sm center-block" ng-show="succesfullDelete" ng-click="hideModal()">Ok</button>
                </a>
            </div>
        </div>
    </div>
</div>