<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a  data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>
        <div class="row vcentering">
            <form class="col-xs-offset-1 col-xs-10 waves-effect waves-light">
                <input class="form-control noMarginForSearchInput" type="text" placeholder="Пошук" ng-model="query">
            </form>
            <a class="col-xs-1 noRightPadding"
               type="button"
               href="#/products/new">
                <i class="fa fa-plus-circle pull-right whiteColor">
                </i>
            </a>
        </div>
    </div>
</nav>
<ul id="slide-out" class="side-nav admin-side-nav dark-side-nav">
    <div class="logo-wrapper">
        <img src="http://0.gravatar.com/avatar/60efa32c26a19f3ed2e42798afb705ba?s=100&d=mm&r=g" class="img-responsive img-circle">
        <div class="rgba-stylish-strong">
            <p>
            <a href="{{getUrl(activeShop)}}" class="white-text">{{activeShop.shopName}}</a>
            admin@gmail.com
            </p>
        </div>
    </div>

    <ul class="collapsible collapsible-accordion">
        <li><a href="#/" class="waves-effect waves-light"><i class="fa fa-tasks"></i> Замовлення</a></li>
        <li ng-class="{active: $route.current.activetab == 'productlist'}"><a href="#/products" class="waves-effect waves-light"><i class="fa fa-cart-plus"></i> Товари</a></li>
        <li><a href="#/delivery" class="waves-effect waves-light"><i class="fa fa-fighter-jet"></i> Доставка</a></li>
        <li><a href="#/contacts" class="waves-effect waves-light"><i class="fa fa-envelope"></i> Контакти</a></li>
        <li><a href="#/settings" class="waves-effect waves-light"><i class="fa fa-gears"></i> Налаштування</a></li>
        <li><a href="#/usersettings" class="waves-effect waves-light"><i class="fa fa-users"></i> Користувачі</a></li>
        <li ng-click="signOut()" target="_self"><a class="waves-effect waves-light"><i class="fa fa-sign-out"></i> Вийти</a></li>
    </ul>
</ul>
<div class="container-fluid cardTopPadding noSidePadding">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" on-loaded="getResource()"></spinner>
    </div>
    <div class="col-sm-6 col-md-4" ng-repeat="product in products | filter:search" on-finish-render="ngRepeatFinished">
        <a href="#/product/details/{{product.uuid}}">
            <div class="card card-product hoverable">
                <div class="card-image waves-effect waves-block waves-light view overlay hm-white-slight">
                    <img ng-src="/public/product_images/{{product.fileName}}">
                    <div class="mask"> </div>
                </div>
                <div class="card-content text-center row">
                    <div class="col-xs-12 fixed-height">
                        <h5 class="product-title fixed-height">{{product.name}}</h5>
                    </div>
                    <div class="price col-xs-12">
                        <p class="green-text medium-500">{{product.price}} грн</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>