<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               href="#/products">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>

            <div class="col-xs-8 text-center">
                <h5 class="white-text">{{'productDetails.details' | translate}}</h5>
            </div>
            <a class="col-xs-2 noRightPadding nav-link dropdown-toggle"
               id="dropdownMenu1"
               type="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                <i class="fa fa-edit whiteColor pull-right">
                </i>
                <div class="dropdown-menu pull-right col-xs-1 rightDropdown" aria-labelledby="dropdownMenu1">
                    <a class="col-xs-12 text-left" href="#/products/details/{{product.uuid}}/edit"><p>{{'productDetails.edit' | translate}}</p></a>
                    <a class="col-xs-12 text-left deleteOrderTopMargin" data-toggle="modal" data-target="#deleteProduct"><p>{{'productDetails.delete' | translate}}</p></a>
                </div>
            </a>
        </div>
    </div>
</nav>
<div>
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <div class="noSidePadding" ng-hide="loading">
        <div class="details-product-block card-min">
            <div class="admin-column">
                <div class="admin-card hoverable">
                    <h4>{{'editProduct.general' | translate}}</h4>
                    <div class="translation-flex-row">
                        <div class="translation-flex-column">
                            <label for="name">{{'addNewProduct.productName' | translate}}</label>
                            <h5 id="name" class="product-title">{{product.name}}</h5>
                        </div>
                        <button class="edit-btn btn-floating btn-xsmall waves-effect waves-light lightseagreen pull-right"
                                ng-click="redirectToTranslationForProductName()"><i class="material-icons">mode_edit</i>
                        </button>
                    </div>

                    <label for="price">{{'addNewProduct.productPrice' | translate}} {{'products.currency' | translate}}</label>
                    <h5 id="price">{{product.price}} {{product.priceWithAdditions > 0 ? ('+ ') + (product.priceWithAdditions) +
                      (' ') + ('selectAdditions.additionsPrice' | translate) : ''}}</h5>
                    <label for="category">{{'productDetails.category' | translate}}</label>
                    <h5 id="category">{{product.categoryName}}</h5>
                </div>
                <div class="admin-card hoverable">
                    <h4>{{'addNewProduct.productDescription' | translate}}</h4>
                    <div class="translation-flex-row">
                        <div id="home">
                            <p>{{product.description}}</p>
                        </div>
                        <button class="edit-btn btn-floating btn-xsmall waves-effect waves-light lightseagreen pull-right"
                                ng-click="redirectToTranslationForProductDescription()"><i class="material-icons">
                            mode_edit</i>
                        </button>
                    </div>
                    <div id="menu1">
                        <div ng-repeat="property in product.properties">
                            <br>
                            <h5>{{property.name}}</h5>
                            <p ng-repeat="propertyOption in property.tags">
                                <input name="group1" type="checkbox" id="cat-11" ng-model="propertyOption.selected" disabled/>
                                <label for="cat-11">{{propertyOption.value}} <span>(+{{propertyOption.additionalPrice}})</span></label>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="admin-card hoverable details-product-col">
                    <h4>{{'editProduct.properties' | translate}}</h4>
                    <p ng-show="product.isActive" >{{'addNewProduct.isShowInShop' | translate}}</p>
                    <p ng-show="!product.isActive" >{{'addNewProduct.isNotShowInShop' | translate}}</p>
                    <label ng-show="product.oldPrice" for="oldPrice">{{'addNewProduct.oldPrice' | translate}}</label>
                    <p ng-show="product.oldPrice" id="oldPrice">{{product.oldPrice}}</p>
                    <label ng-show="product.sortOrder" for="productOrder">{{'displayOrder' | translate}}</label>
                    <p ng-show="product.sortOrder" id="productOrder">{{product.sortOrder}}</p>

                </div>
                <div class="admin-card hoverable">
                    <h4>{{'productDetails.reviews' | translate}}</h4>
                    <p>{{'productDetails.customersReviews' | translate}}</p>
                    <a href="#/productreviews/{{product.uuid}}">
                        <p>{{'productDetails.viewCustomersReviews' | translate}}</p>
                    </a>
                </div>
            </div>

            <div class="admin-column details-product-col">
                <div class="details-product-col-image card-image waves-effect waves-block waves-light view overlay hm-white-slight noSidePadding">
                    <div id="car-gall" class="carousel slide carousel-fade carousel-gallery">
                        <!--Main image-->
                        <div class="carousel-gallery-container">
                            <div class="flexContainerForPriceLabels card-label">
                                <h5><span class="label primaryColor">{{product.price}} {{'products.currency' | translate}}</span></h5>
                                <h5><span ng-hide="product.oldPrice == null" class="label primaryColor crossedPriceFont"><strike>{{product.oldPrice}} {{'products.currency' | translate}}</strike></span></h5>
                            </div>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner z-depth-1" role="listbox">
                                <!-- First slide -->
                                <div class="item active view hm-black-strong">
                                    <img ng-src="public/product_images/{{activeShop}}/{{product.images[selected].filename}}" alt="slide1">
                                </div>
                                <!-- /.item -->

                                <!-- Second slide -->
                                <!--<div class="item" ng-repeat="image in product.images">-->
                                <!--<img src="/public/product_images/{{activeShop}}/{{image.filename}}">-->
                                <!--</div>-->
                                <!-- /.item -->
                            </div>
                            <!-- /.carousel-inner -->
                        </div>
                        <!--/.Main image-->

                        <!-- Indicators -->
                        <div class="col-xs-4">
                            <ul class="carousel-indicators correctImageDisplay" ng-show="product.images.length >= 2">
                                <li data-target="#car-gall"
                                    ng-repeat="image in product.images"
                                    ng-click="select($index)"
                                    ng-class="{active: $index === selected}">
                                    <img src="/public/product_images/{{activeShop}}/{{image.filename}}" class="img-responsive z-depth-1 hoverable">
                                </li>
                            </ul>
                        </div>
                        <!-- Indicators -->

                    </div>
                </div>
                <div class="admin-card hoverable">
                    <h4>{{'addNewProduct.additional' | translate}}</h4>
                    <p ng-show="product.selectedAdditions.length === 0">{{'products.noAdditions' | translate}}</p>
                    <a href="#/selectadditions/{{product.uuid}}" ng-hide="product.selectedAdditions.length === 0">
                        <p>{{'productDetails.viewCustomersReviews' | translate}}</p>
                    </a>
                    <div class="noPaddingMobile" ng-repeat="selectedAddition in product.selectedAdditions"  ng-hide="product.selectedAdditions.length === 0">
                        <div class=" border-bottom0 vcentering propertyFlexPanel">
                            <p class=" border-bottom0  ">{{selectedAddition.addition.title}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--<ul class="nav nav-tabs tabs-4">-->
            <!--<li class="active"><a class="productDetailsTabIcons" data-toggle="tab" data-target="#home"><i class="material-icons">description</i></a></li>-->
            <!--<li ng-hide="product.properties.length === 0" ><a class="productDetailsTabIcons" data-toggle="tab" data-target="#menu1"><i class="material-icons">assignment</i></a></li>-->
        <!--</ul>-->
    </div>
</div>

<div class="modal fade" id="deleteProduct" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="col-xs-12 text-center">
                    <p ng-show="deleteButton"><i>{{'productDetails.deleteMessage1' | translate}}</i></p>
                    <p ng-show="succesfullDelete"><i>{{'productDetails.deleteMessage2' | translate}}</i></p>
                </div>
                <div class="col-xs-9">
                    <spinner class="col-xs-offset-8" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="modalSpinner"></spinner>
                </div>
                <div class="col-xs-offset-2 col-xs-8">
                    <button type="button" class="btn secondaryColor btn-sm btn-block " ng-click="deleteProduct()" ng-show="deleteButton">Видалити</button>
                </div>
                <a href="#/products" class="col-xs-offset-4 col-xs-4 noUnderline">
                    <button type="button" class="btn secondaryColor btn-sm btn-block" ng-show="succesfullDelete" ng-click="hideModal()">Ok</button>
                </a>
            </div>
        </div>
    </div>
</div>
