<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <form class="col-xs-9 waves-effect waves-light">
                <input class="form-control noMarginForSearchInput" type="text" placeholder="Пошук" ng-model="query">
            </form>
            <a class="col-xs-1 noRightPadding"
               type="button"
               href="#/products/new">
                <i class="fa fa-plus-circle pull-right whiteColor">
                </i>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid cardTopPadding noSidePadding">
    <h4 class="text-center"><i>{{status}}</i></h4>
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" on-loaded="getResource()"></spinner>
    </div>
    <div class="col-sm-6 col-md-4" ng-repeat="product in products | filter:search" on-finish-render="ngRepeatFinished">
        <a href="#/product/details/{{product.uuid}}">
            <div class="card card-product hoverable">
                <div class="card-image waves-effect waves-block waves-light view overlay hm-white-slight">
                    <img ng-src="/public/product_images/{{activeShop}}/{{product.images[0].filename}}">
                    <div class="mask"> </div>
                </div>
                <div class="card-content text-center row">
                    <div class="col-xs-12 fixed-height">
                        <h5 class="black-text product-title fixed-height">{{product.name}}</h5>
                    </div>
                    <div class="price col-xs-12">
                        <p class="black-text medium-500">{{product.price}} грн</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>