<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'qrDetails.title' | translate}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding nav-link dropdown-toggle"
               id="dropdownMenu1"
               type="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                <i class="fa fa-edit whiteColor pull-right">
                </i>
                <div class="dropdown-menu pull-right col-xs-1 rightDropdown" aria-labelledby="dropdownMenu1">
                    <a class="col-xs-12 text-left" ng-click="saveQRCode()" ><p> {{'qrDetails.save' | translate}}</p></a>
                    <a class="col-xs-12 text-left deleteOrderTopMargin" data-toggle="modal" data-target="#deleteQR"><p> {{'qrDetails.delete' | translate}}</p></a>
                </div>
            </a>
        </div>
    </div>
</nav>
<div class="flex-column-container qr-container">
    <div class="admin-card qr-create-new-container">
        <div class="input-field m-left">
            <p>{{'pageQR.qrName' | translate}}</p>
            <input id="qr_name" type="text" ng-model="qr.name" required >
        </div>
        <img id="qr-code">
        <div>
            <button class="save-button" ng-click="createQrCode()">
                {{'pageQR.create' | translate}}
            </button>
        </div>
    </div>

</div>
