<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'qrDetails.title' | translate}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding nav-link dropdown-toggle"
               id="dropdownMenu1"
               type="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                <i class="fa fa-edit whiteColor pull-right">
                </i>
                <div class="dropdown-menu pull-right col-xs-1 rightDropdown" aria-labelledby="dropdownMenu1">
                    <a class="col-xs-12 text-left" ng-click="redirectToEdit()" ><p> {{'qrDetails.edit' | translate}}</p></a>
                    <a class="col-xs-12 text-left deleteOrderTopMargin" data-toggle="modal" data-target="#removeQR"><p> {{'qrDetails.delete' | translate}}</p></a>
                </div>
            </a>
        </div>
    </div>
</nav>
<div class="admin-container admin-column">
    <ul class="admin-breadcrumb qr-breadcrumb">
        <li><a href="#/">{{'additionBreadCrumb.admin' | translate}}</a></li>
        <li><a href="#/qrcontroller">{{'qrBreadCrumb.menu' | translate}}</a></li>
        <li>{{qr.name}}</li>
    </ul>
    <div class="qr-title-container">
        <img class="img-present-qr" src="\wisehands\assets\images\qr_link.png">
        <div class="qr-detail-info">
            <div class="qr-name-text">
                <p>{{'pageQR.qrName' | translate}}:</p>
                <p class="break">{{qr.name}}</p>
            </div>
            <p> {{'qrDetails.titleInfo' | translate}} </p>
        </div>
        <div class="qr-download-container">
            <div class="admin-card">
                <img class="img-qr-code" id="qr-code">
            </div>
            <a class="qr-download-text" ng-click="downloadQrCode()">{{'qrDetails.download' | translate}}</a>
        </div>
    </div>

</div>
<div class="modal fade" id="removeQR" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="col-xs-12 text-center">
                    <p ng-show="deleteButton"><i>{{'qrDetails.deleteMessage' | translate}}</i></p>
                </div>
                <div class="col-xs-9">
                    <spinner class="col-xs-offset-8" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="modalSpinner"></spinner>
                </div>
                <div class="col-xs-offset-2 col-xs-8">
                    <button type="button" class="btn secondaryColor btn-sm btn-block " ng-click="removeQr()" ng-show="deleteButton">{{'singleOrder.Delete' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>