<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'pageQR.title' | translate}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding"
              type="button"
              href="#/qrnewcode">
               <i class="fa fa-plus-circle pull-right whiteColor">
               </i>
            </a>
        </div>
    </div>
</nav>

<!-- add card with shop info ng-repeat="qrCode in qrCodeList" -->
<div class="admin-container admin-column qr-code-block">
    <ul class="admin-breadcrumb qr-breadcrumb">
        <li><a href="#/">{{'additionBreadCrumb.admin' | translate}}</a></li>
        <li><a href="#/qrcontroller">QrMenu</a></li>
    </ul>
    <div class="qr-title-container">
        <img class="img-present-qr" src="\wisehands\assets\images\qr_link.png">
        <div class="qr-title-text">
            <p> {{'pageQR.titleInfo' | translate}} </p>
        </div>
    </div>
    <div ng-show="qrList.length === 0">
        <p>{{'pageQR.noQR' | translate}}</p>
    </div>
    <div class="qr-list-container" ng-show="qrList">
        <div class="qr-code-card" ng-repeat="qr in qrList | filter: qr.isQrDeleted === false" on-finish-render="ngRepeatFinished">
            <a href="#/qrdetail/{{qr.uuid}}" >
                <div class="admin-card product-feedback-container">
                    <div class="flex-column">
                        <p>{{qr.name}}</p>
                        <img id="{{qr.uuid}}">
                    </div>
                </div>
            </a>

        </div>
    </div>




</div>
