<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'pageQR.title' | translate}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding"
              type="button"
              href="#/qrnewcode">
               <i class="fa fa-plus-circle pull-right whiteColor">
               </i>
            </a>
        </div>
    </div>
</nav>

<!-- add card with shop info ng-repeat="qrCode in qrCodeList" -->
<div class="admin-container admin-column qr-code-block">
    <div class="col-xs-8 text-center">
        <h5>
            {{'pageQR.titleInfo' | translate}}
        </h5>
    </div>
    <div ng-show="!isQRListPresent">
        <p>No QR-code</p>
    </div>
    <div class="qr-list-container">
        <div class="qr-code-card" ng-show="isQRListPresent" ng-repeat="qr in qrList">
            <div class="admin-card product-feedback-container">
                <div class="flex-column">
                    <a href="#/qrdetail/1" >
                        <p>qr.name</p>
                    </a>
                    <img id="qrCode">
                </div>
            </div>
        </div>
    </div>




</div>
