<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'pageQR.qrInfo' | translate}}
                </h5>
            </div>
        </div>
    </div>
</nav>

<div class="admin-container admin-column">
    <ul class="admin-breadcrumb qr-breadcrumb">
        <li><a href="#/qrcontroller">QrMenu</a></li>
        <li><a href="#/qrnewcode">Create</a></li>
    </ul>
    <div class="qr-title-container">
        <img src="\wisehands\assets\images\qr_code.svg">
        <div class="qr-title-text">
            <p> {{'pageQR.titleInfo' | translate}} </p>
        </div>
    </div>
    <div class="admin-card qr-create-new-container">
        <div class="input-field m-left">
            <input id="qr_name" type="text" required >
            <label for="qr_name">{{'pageQR.qrName' | translate}}</label>
        </div>
        <img id="qr-code">
        <button class="save-button qr-button" ng-click="createQrCode()">
            {{'pageQR.create' | translate}}
        </button>
    </div>

</div>

