<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'pageQR.qrInfo' | translate}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right"
                   ng-click="saveQrCode()">
                </i>
            </a>
        </div>
    </div>
</nav>

<div class="flex-row">
    <div class="admin-card">
        <div class="input-field m-left">
            <input id="table_name" type="text" required >
            <label for="table_name">{{'addNewProduct.productName' | translate}}</label>
        </div>
        <div class="input-field m-left">
            <input id="table_area" type="text" required>
            <label for="table_area">{{'addNewProduct.productName' | translate}}</label>
        </div>
        <div class="input-field m-left">
            <input id="table_number" type="number" required>
            <label for="table_number">{{'addNewProduct.productPrice' | translate}}</label>
        </div>
        <div class="input-field m-left">
            <input id="table_discount" type="number" required>
            <label for="table_discount">{{'addNewProduct.productPrice' | translate}}</label>
        </div>
        <button class="save-button" ng-click="createQrCode()">
            {{'addNewProduct.save' | translate}}
        </button>

    </div>
    <div class="admin-card" ng-show="isQrPresent">
        <img id="qr-code"></img>
    </div>
</div>
