<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'selectAdditions.title' | translate}}
                </h5>
            </div>
            <div class="col-xs-2 noRightPadding">
                <button class="fa fa-save whiteColor pull-right saveProductButtonStyling"
                        ng-click="saveSelectedAdditions()" >
                </button>
            </div>
        </div>
    </div>
</nav>
<div class="admin-container admin-column">
    <div class="product-details">
        <div class="admin-card">
            <h4>{{'editProduct.general' | translate}}</h4>
            <label for="name">{{'addNewProduct.productName' | translate}}</label>
            <h5 id="name" class="product-title">{{product.name}}</h5>
            <label for="price">{{'addNewProduct.productPrice' | translate}} {{'products.currency' | translate}}</label>
            <h5 id="price">{{product.price}}</h5>
            <label for="description">{{'addNewProduct.productDescription' | translate}}</label>
            <h5 id="description">{{product.description}}</h5>
            <label for="category">{{'productDetails.category' | translate}}</label>
            <h5 id="category">{{product.categoryName}}</h5>
        </div>
        <div>
            <p ng-show="productAdditions.length === 0">No additions</p>
        </div>
    </div>
    <h4>{{'selectAdditions.noSelectedAdditions' | translate}}</h4>
    <div class="qr-list-container" ng-show="availableAdditions">
        <div ng-repeat="addition in availableAdditions | filter: availableAdditions.isDeleted === false"
             ng-class="{selected: addition.isSelected}"
             on-finish-render="ngRepeatFinished">
            <div class="admin-card addition-item"
                 ng-click="selectedAddition(this)">
                <img class="addition-img" src="{{addition.imagePath}}">
                <p>{{addition.title}}</p>
                <p>{{addition.price}}</p>
            </div>
        </div>
    </div>

</div>
