<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
  <div class="container-fluid">
    <div class="row vcentering">
      <div class="col-xs-2 noPaddingLeft">
        <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i
          class="fa fa-bars"></i></a>
      </div>
      <div class="col-xs-8 text-center white-text">
        <h5>
          {{'selectProductAdditions.title' | translate}}
        </h5>
      </div>
      <div class="col-xs-2 noRightPadding">
        <button class="fa fa-save whiteColor pull-right saveProductButtonStyling"
                ng-click="saveAdditions()">
        </button>
      </div>
    </div>
  </div>
</nav>
<ul class="admin-breadcrumb">
  <li><a href="#/">{{'additionBreadCrumb.admin' | translate}}</a></li>
  <li><a href="#/products">{{'productBreadCrumb.products' | translate}}</a></li>
  <li><a href="#/product/details/{{product.uuid}}">{{product.name}}</a></li>
  <li><a href="#/selectadditions/{{product.uuid}}">{{'selectProductAdditions.title' | translate}}</a></li>
</ul>
<div class="admin-container addition-for-product">
  <div class="admin-column">
    <div class="admin-card hoverable">
      <div class="addition-title-img">
        <h4>{{'editProduct.general' | translate}}</h4>
        <img class="addition-product-img"
             src="/public/product_images/{{activeShop}}/{{product.mainImage.filename}}"
             class="img-responsive z-depth-1 hoverable">
      </div>
      <p for="name">{{'addNewProduct.productName' | translate}}</p>
      <h5 id="name" class="product-title">{{product.name}}</h5>
      <p for="price">{{'addNewProduct.productPrice' | translate}} {{'products.currency' | translate}}</p>
      <h5 id="price">{{product.price}} {{product.priceWithAdditions > 0 ? ('+ ') + (product.priceWithAdditions) +
        (' ') + ('selectAdditions.additionsPrice' | translate) : ''}}</h5>

      <p for="description">{{'addNewProduct.productDescription' | translate}}</p>
      <h5 id="description">{{product.description}}</h5>
      <p for="category">{{'productDetails.category' | translate}}</p>
      <h5 id="category">{{product.categoryName}}</h5>
    </div>
  </div>
  <div class="admin-column" ng-show="availableAdditions != 0">
    <h4 class="addition-no-selected">{{'selectAdditions.noSelectedAdditions' | translate}}</h4>
    <div class="qr-list-container" ng-show="availableAdditions">
      <div ng-repeat="addition in availableAdditions"
           on-finish-render="ngRepeatFinished">
        <div class="admin-card selected-addition-item hoverable"
             ng-click="selectAddition(this)" ng-class="{additionSelected: addition.isSelected}">
          <span class="material-icons check-circle" ng-class="{'check-visible': addition.isSelected === true}">
              check_circle
          </span>
          <img class="addition-img" src="{{addition.imagePath}}">
          <div class="selected-addition-info">
            <p>{{addition.title}}</p>
            <p>{{addition.price}}</p>
          </div>
          <div class="selected-addition-checkbox" ng-click="selectDefaultAddition($event, this)">
            <input type="checkbox" class="filled-in checkBoxStyling"
                   id="{{addition.uuid}}" ng-model="addition.isDefault"/>
            <label for="{{addition.uuid}}">{{'editProduct.isDefault' | translate}}</label>
          </div>

        </div>
      </div>
    </div>
    <p>{{'editProduct.isDefaultDescription' | translate}}</p>
  </div>
  <div class="admin-column" ng-show="availableAdditions == 0">
    <h4 class="addition-no-selected">{{'selectAdditions.noCreatedAdditions' | translate}}</h4>
    <div class="qr-button">
      <a class="save-button ng-binding" type="button" href="#/newaddition">
        {{'additionNew.create' | translate}}
      </a>
    </div>
  </div>
</div>
