<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i
                        class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'settings.settings' | translate}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right saveProductButtonStyling"
                   ng-click="updateShopStyling()">
                </i>
            </a>
        </div>
    </div>
</nav>
<div class="row text-center">
    <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif"
             show="loading"></spinner>
</div>
<div class="admin-container">
    <form class="settings-block noSidePadding" id="shopStyling" name="shopStyling" ng-hide="loading">
        <div class="admin-column">
            <div class="admin-card">
                <div class="upload-info-text">
                    <h4>{{'settings.favicon' | translate}}</h4>
                    <p class="upload-info-text">{{'settings.loadFavicon' | translate}}</p>
                </div>
                <div class="upload-favicon">
                    <img ng-hide="!faviconSrc" src="{{faviconSrc}}">
                    <div class="upload-setting-img" ng-hide="faviconSrc" ng-click="loadFavicon()">
                        <img src="wisehands/assets/images/setting-img/favicon1.png">
                        <i class="fa fa-plus" style="font-size: 32px"></i>
                    </div>
                    <div class="file-field" ng-show="!shopStyling.shopFavicon">
                        <input name="favIconLoader" type="file" id="favIconLoader"
                               onchange="angular.element(this).scope().favIconUpload(this)"/>
                    </div>
                    <div class="delete-logo-favicon"  ng-show="faviconSrc">
                        <p ng-click="deleteFavicon()">
                            <span>{{'productDetails.delete' | translate}} favicon</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="admin-column">
            <div class="admin-card admin-card-logo">
                <div class="upload-info-text">
                    <h4>{{'settings.logotype' | translate}}</h4>
                    <p >{{'settings.loadLogotype' | translate}}</p>
                </div>
                <div class="upload-logo">
                    <img ng-hide="!logoSrc" src="{{logoSrc}}">
                    <div class="upload-setting-img" ng-hide="logoSrc" ng-click="loadLogo()">
                        <img src="wisehands/assets/images/setting-img/logo.jpg">
                        <i class="fa fa-plus" style="font-size: 32px"></i>
                    </div>
                    <div class="file-field" ng-show="!logoSrc">
                        <input name="logoLoader" type="file" id="logoLoader"
                               onchange="angular.element(this).scope().logoUpload(this)"/>
                    </div>

                    <div class="delete-logo-favicon" ng-hide="!logoSrc">
                        <p ng-click="deleteLogo()">
                            <span>{{'settings.removeLogo' | translate}}</span>
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="admin-card settings-footer-switch input-field col-sm-12">
            <h4>{{'settings.footer' | translate}}</h4>
            <p>Щоб показувати на сайті внизу сторінки інфорамцію про Ваш магазин (графік роботи, посилання на сторінки, зворотній зв'язок, контактні дані і т.д.) відмітьте поле внизу</p>
            <input id="filled-in-isFooterOn" type="checkbox" class="filled-in checkBoxStyling"
                   ng-model="shopStyling.isFooterOn"/>
            <label for="filled-in-isFooterOn">{{'settings.isFooterOn' | translate}}</label>
            <img src="wisehands/assets/images/setting-img/footer.jpg">

        </div>

    </form>

    <form class="col-md-12 noSidePadding" id="settingsForm" name="settingsForm" ng-hide="loading">


        <noscript>
            <img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=586428541954481&ev=PageView&noscript=1"/>
        </noscript>
    </form>
</div>
<div class="proceedWithPayment"></div>
