<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'settings.settings' | translate}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right saveProductButtonStyling"
                   ng-click="updateStoreSettings()">
                </i>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid noSidePadding">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <div class="btn-group btn-group-justified col-xs-12 z-index" role="group" aria-label="..." ng-hide="loading">
        <div class="btn-group" role="group">
            <button type="button" class="btn white-text disabled">{{'settings.general' | translate}}</button>
        </div>
        <div class="btn-group" role="group">
            <a href="#/viewsettings" type="button" class="btn secondaryColor">{{'settings.view' | translate}}</a>
        </div>
    </div>

    <form class="col-md-12 noSidePadding" id="settingsForm" name="settingsForm" ng-hide="loading">

        <div class="input-field col-md-12">
            <div ng-translate-language-select></div>
        </div>

        <!--<div id="paymentButton" class="input-field col-md-12 z-index">-->
            <!--<h5>Рахунок</h5>-->
            <!--<div class="col-sm-6">-->
                <!--<p>Баланс: {{balance.balance | number:2}} грн<a href="#/transactions"> (Виписка)</a></p>-->
            <!--</div>-->
            <!--<div class="col-sm-3">-->
                <!--<input id="balance" type="number" class="validate" ng-model="selectedShop.balance" placeholder="Сума поповнення">-->
            <!--</div>-->
            <!--<div class="col-sm-3">-->
                <!--<button type="button" class="btn btn-primary waves-effect waves-light btn-block" ng-click="increaseBalance()" ng-disabled="!selectedShop.balance">Поповнити</button>-->
            <!--</div>-->
        <!--</div>-->



        <noscript>
          <img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=586428541954481&ev=PageView&noscript=1"/>
        </noscript>
        <style>
          .input-field {
            /* border: 1px solid black; */
          }
        </style>
            </form>
</div>
<!--<div class="proceedWithPayment"></div>-->
<div class="proceedWithPayment"></div>
