<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'settings.settings' | translate}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right saveProductButtonStyling"
                   ng-click="updateStoreSettings()">
                </i>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid noSidePadding">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <div class="btn-group btn-group-justified col-xs-12 z-index" role="group" aria-label="..." ng-hide="loading">
        <div class="btn-group" role="group">
            <button type="button" class="btn white-text disabled">{{'settings.general' | translate}}</button>
        </div>
        <div class="btn-group" role="group">
            <a href="#/viewsettings" type="button" class="btn secondaryColor">{{'settings.view' | translate}}</a>
        </div>
    </div>
    <form class="col-md-12 noSidePadding" id="settingsForm" name="settingsForm" ng-hide="loading">
        <div class="input-field col-md-12">
            <p>{{'settings.shopName' | translate}}</p>
            <input id="shopName" type="text" ng-model="activeShop.shopName">
        </div>
        <div class="input-field col-md-12">
            <div ng-translate-language-select></div>
        </div>
        <!--<div id="paymentButton" class="input-field col-md-12 z-index">-->
            <!--<h5>Рахунок</h5>-->
            <!--<div class="col-sm-6">-->
                <!--<p>Баланс: {{balance.balance | number:2}} грн<a href="#/transactions"> (Виписка)</a></p>-->
            <!--</div>-->
            <!--<div class="col-sm-3">-->
                <!--<input id="balance" type="number" class="validate" ng-model="selectedShop.balance" placeholder="Сума поповнення">-->
            <!--</div>-->
            <!--<div class="col-sm-3">-->
                <!--<button type="button" class="btn btn-primary waves-effect waves-light btn-block" ng-click="increaseBalance()" ng-disabled="!selectedShop.balance">Поповнити</button>-->
            <!--</div>-->
        <!--</div>-->
        <div class="input-field col-md-12 z-index-2">
            <h5>{{'settings.workingHours' | translate}}</h5>
            <div class="row">
                <div class="col-sm-12">
                    <input type="checkbox" class="filled-in checkBoxStyling" id="filled-in-box" ng-model="activeShop.alwaysOpen" />
                    <label for="filled-in-box">{{'settings.alwaysOpen' | translate}}</label>
                </div>
            </div><br>
            <div ng-hide="activeShop.alwaysOpen">
                <div class="col-sm-6">
                    <p>{{'settings.from' | translate}}:</p>
                    <input id="startTime" type="time" ng-model="activeShop.startTime">
                </div>
                <div class="col-sm-6">
                    <p>{{'settings.to' | translate}}:</p>
                    <input id="endTime" type="time" ng-model="activeShop.endTime">
                </div>
            </div>

        </div>

        <div class="input-field col-md-12 z-index-2">
          <h5>{{'settings.isTemporary' | translate}}</h5>
          <div class="row">
              <div class="col-sm-12">
                  <input id="shopClosedbox" type="checkbox" ng-model="activeShop.isTemporaryClosed" ng-click="whenShopClosed()" class="filled-in checkBoxStyling"/>
                  <label for="shopClosedbox">{{'settings.whenClosed' | translate}}</label>
              </div>

              <div class="input-field col-md-12"><br>
                  <p>{{'settings.temporaryTitle' | translate}}</p>
                  <input id="temporaryTitle" type="text" ng-model="activeShop.temporaryClosedTitle">
              </div>

              <div class="input-field col-md-12"><br>
                  <p>{{'settings.temporaryDiscr' | translate}}</p>
                  <input id="temporaryDiscr" type="text" ng-model="activeShop.temporaryClosedDescription">
              </div>
          </div><br>
        </div>

        <div class="input-field col-md-12 z-index-3">
            <p>LiqPay</p>
            <div class="col-sm-6">
                <p>{{'settings.publicKey' | translate}}</p>
                <input id="publicLiqPay" type="text" ng-model="activeShop.liqpayPublicKey">
            </div>
            <div class="col-sm-6">
                <p>{{'settings.privateKey' | translate}}</p>
                <input id="privateLiqPay" type="password" ng-model="activeShop.liqpayPrivateKey">
            </div>
        </div>
        <div class="input-field col-md-12">
            <p>Google</p>
            <div class="col-sm-6">
                <p>{{'settings.siteVerification' | translate}}</p>
                <input id="verification" type="text" ng-model="activeShop.googleWebsiteVerificator">
            </div>
            <div class="col-sm-6">
                <p>Analytics</p>
                <input id="analytics" type="text" ng-model="activeShop.googleAnalyticsCode">
            </div>
            <div class="col-sm-6">
                <p>Static Map API Key <a href="https://developers.google.com/maps/documentation/static-maps/get-api-key" target="_blank"><i class="fa fa-question-circle"></i></a></p>
                <input id="staticMap" type="text" ng-model="activeShop.googleStaticMapsApiKey">
            </div>
            <div class="col-sm-6">
                <p>Map API Key <a href="https://developers.google.com/maps/documentation/javascript/get-api-key" target="_blank"><i class="fa fa-question-circle"></i></a></p>
                <input id="map" type="text" ng-model="activeShop.googleMapsApiKey">
            </div>
        </div>
    </form>
</div>


<div class="proceedWithPayment"></div>
