<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               href="#/shops">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>
            <a class="col-xs-8 text-center">
                <h5 class="white-text">{{'addNewShops.edit' | translate}}</h5>
            </a>
            <div class="col-xs-2 noRightPadding">
                <button class="fa fa-save whiteColor pull-right saveProductButtonStyling"
                        type="submit"
                        form="addNewShopsForm">
                </button>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid noSidePadding">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <form class="col-md-12 noSidePadding" ng-submit="submitUpdateShops()" id="addNewShopsForm" name="addNewShopsForm" ng-hide="loading">

        <div class="input-field col-md-6">
            <h6>{{'addNewShops.shopName' | translate}}</h6>
            <input id="shopName" type="text" ng-model="shop.shopName" required>
        </div>

        <div class="input-field col-md-6">
            <h6>{{'addNewShops.shopAddress' | translate}}</h6>
            <input id="shopAddress" type="text" ng-model="shop.shopAddress" required>
        </div>

        <div class="input-field col-md-6">
            <h6>{{'addNewShops.shopGmail' | translate}}</h6>
            <input id="shopGmail" type="text" ng-model="shop.shopMail" required>
        </div>

        <div class="input-field col-md-6">
            <h6>{{'addNewShops.shopPhoneAdmin' | translate}}</h6>
            <input id="shopPhoneAdmin" type="text" ng-model="shop.shopPhone" required>
        </div>

        <div class="input-field col-md-6">
            <h6>{{'addNewShops.coords' | translate}}</h6>
            <input id="coords" type="text" ng-model="shop.coords" required>
        </div>

    </form>

</div>
