<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               ng-click="goBack()">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>
            <div class="col-xs-8 text-center">
                <h5 class="white-text">{{'singleOrder.Details' | translate}}</h5>
            </div>
            <a class="col-xs-2 noRightPadding nav-link dropdown-toggle"
               id="dropdownMenu1"
               type="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false"
               ng-hide="order.state === 'DELETED'">
                <i class="fa fa-edit whiteColor pull-right">
                </i>
                <div class="dropdown-menu pull-right col-xs-1" aria-labelledby="dropdownMenu1">
                    <a class="col-xs-12 text-left" ng-click="shippedOrder()" ng-hide="order.state === 'SHIPPED' || order.state === 'CANCELLED'"><p>{{'singleOrder.Shipped' | translate}}</p></a>
                    <a class="col-xs-12 text-left" ng-click="cancelledOrder()" ng-hide="order.state === 'SHIPPED' || order.state === 'CANCELLED' || order.state === 'PAYED'"><p>{{'singleOrder.Canceled' | translate}}</p></a>
                    <a class="col-xs-12 text-left deleteOrderTopMargin" data-toggle="modal" data-target="#deleteOrder"><p>{{'singleOrder.Delete' | translate}}</p></a>
                </div>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <div class="card" ng-hide="loading">
        <div class="row text-center card-block">
            <div class="col-xs-12 col-sm-6 noSidePadding">
                <h5>{{'singleOrder.FullName' | translate}}: <p><i>{{order.name}}</i></p></h5>
                <h5>{{'singleOrder.Phone' | translate}}: <p><i>{{order.phone}}</i></p></h5>
                <h5 ng-hide="order.deliveryType === 'SELFTAKE' || order.deliveryType === 'NOVAPOSHTA'">{{'singleOrder.Address' | translate}}: </b><p><i>{{order.address}}<a ng-show="order.destinationLat" href="https://www.google.com.ua/maps/dir/{{order.address}}/" target="_blank"><i class="material-icons">place</i></a></i></p></h5>
                <h5 ng-show="order.deliveryType === 'NOVAPOSHTA'">Адреса (Нова Пошта): <p><i>{{order.departmentNumber}}</i></p></h5>
                <h5>{{'singleOrder.OrderAmount' | translate}}: <p><i>{{order.total}} {{'orderList.Currency' | translate}}</i></p></h5>
                <h5>{{'singleOrder.OrderState' | translate}}: <p><i>{{orderState(order)}}</i></p></h5>
                <h5>{{'singleOrder.Date' | translate}}: <p><i>{{properDate}}</i></p></h5>
                <h5 ng-show="order.comment">{{'singleOrder.Comments' | translate}}: <p><i>{{order.comment}}</i></p></h5>
            </div>
            <div class="col-xs-12 col-sm-6 noSidePadding">
                <h5>{{'singleOrder.Order' | translate}}: </h5>
                <div class="row vcentering" ng-repeat="item in order.items">
                    <div class="col-xs-8 col-sm-8">
                        <p><i>{{item.name}}</i></p>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <p><i>{{item.quantity}} {{'singleOrder.Pieces' | translate}}.</i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteOrder" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="col-xs-12 text-center">
                    <p ng-show="deleteButton"><i>{{'singleOrder.DeleteMessage1' | translate}}</i></p>
                    <p ng-show="succesfullDelete"><i>{{'singleOrder.DeleteMessage2' | translate}}</i></p>
                </div>
                <div class="col-xs-9">
                    <spinner class="col-xs-offset-8" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="modalSpinner"></spinner>
                </div>
                <div class="col-xs-offset-3 col-xs-6">
                    <button type="button" class="btn btn-danger btn-sm btn-block " ng-click="deleteOrder()" ng-show="deleteButton">{{'singleOrder.Delete' | translate}}</button>
                </div>
                <a href="#/" class="col-xs-offset-4 col-xs-4 noUnderline">
                    <button type="button" class="btn btn-success btn-sm btn-block" ng-show="succesfullDelete" ng-click="hideModal()">Ok</button>
                </a>
            </div>
        </div>
    </div>
</div>
