<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               href="#/settings">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>

            <a class="col-xs-8 text-center">
                <h5 class="white-text">Виписка</h5>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid noSidePadding">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Замовлення</th>
            <th>Комісія</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
        </tr>
        <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
        </tr>
        <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
        </tr>
        </tbody>
    </table>
</div>
