<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <a class="col-xs-2 noPaddingLeft"
               type="button"
               href="#/settings">
                <i class="fa fa-arrow-circle-left whiteColor pull-left">
                </i>
            </a>

            <a class="col-xs-8 text-center">
                <h5 class="white-text">Виписка</h5>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid noSidePadding">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <div class="col-sm-6" ng-repeat="balanceDetail in balanceDetails | orderBy:'date':true" ng-hide="loading || balanceDetail.state === 'NEW'" ng-class="{disabled: isTransactionPayed(balanceDetail) && balanceDetail.amount > 0}">
        <a href="#/details/{{balanceDetail.orderUuid}}" ng-disabled="balanceDetail.state === 'PAYED'">
            <div class="card-panel vcentering" ng-style="{'background-color': paymentState(balanceDetail)}">
                <span class="white-text col-xs-8">{{dateFormat(balanceDetail)}}</span>
                <span class="white-text col-xs-4">{{balanceDetail.amount | number:2}} грн</span>
            </div>
        </a>
    </div>
</div>
