<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'users.users' | translate}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-plus-circle whiteColor pull-right"
                   aria-haspopup="true"
                   aria-expanded="false"
                   data-toggle="modal"
                   data-target="#createNewUserModal">
                </i>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid noSidePadding">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <div class="col-sm-6 col-md-4" ng-repeat="user in users">
        <div class="testimonial-card z-depth-1">
            <div class="card-up primary-color">
            </div>
            <div class="avatar"><img ng-src="{{getUserImage(user)}}" class="img-circle img-responsive" >
            </div>
            <div class="card-content cardMinHeight">
                <h5 class="truncate">{{getUserName(user)}}</h5>
                <h5 class="truncate">{{user.email || user.phone}}</h5>
                <a class="btn btn-border-danger waves-effect" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#deleteUser" ng-click="activeUser($index)" ng-disabled="noDeleteForActiveUser($index)">{{'productDetails.delete' | translate}}</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteUser" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="col-xs-12 text-center">
                    <p ng-show="deleteButton"><i>{{'users.deleteMessage1' | translate}}</i></p>
                    <p ng-show="succesfullDelete"><i>{{'users.deleteMessage2' | translate}}</i></p>
                </div>
                <div class="col-xs-9">
                    <spinner class="col-xs-offset-8" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="modalSpinner"></spinner>
                </div>
                <div class="col-xs-offset-3 col-xs-6">
                    <button type="button" class="btn btn-danger btn-sm btn-block" ng-click="deleteUser()" ng-show="deleteButton">Видалити</button>
                </div>
                <div class="col-xs-offset-4 col-xs-4">
                    <button type="button" class="btn btn-success btn-sm btn-block" ng-show="succesfullDelete" ng-click="hideModal()">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createNewUserModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{'users.newUser' | translate}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="col-md-12" name="createNewUserForm" ng-submit="createNewUser()">
                        <p>
                            <input type="checkbox" class="filled-in" id="filled-in-box" ng-model="gmail" />
                            <label for="filled-in-box">{{'user.gmail' | translate}}</label>
                        </p>
                        <div ng-show="gmail" class="input-field">
                            <input name="gmail" id="newUserEmail" type="email" class="validate" ng-model="newUser.email" ng-required="gmail">
                            <label for="newUserEmail">Gmail</label>
                        </div>
                        <div ng-hide="gmail" class="input-field">
                            <input name="phone" id="newUserPhone" type="tel" class="validate" ng-model="newUser.phone" pattern="^380[0-9]{9,9}$" ng-required="!gmail">
                            <label for="newUserPhone">{{'contacts.phone' | translate}}(+380xxxxxxxxx)</label>
                        </div>
                        <p class="redError" ng-hide="!userError">{{userError}}</p>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success waves-effect waves-light">{{'categories.create' | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>