<nav class="admin-nav" role="navigation">
    <div class="nav-menu">
        <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
    </div>
    <div class="nav-title">
        <h5>{{'userprofile.myProfile' | translate}}</h5>
    </div>
    <div class="admin-nav-save-btn">
        <i class="fa fa-save whiteColor pull-right"
           ng-click="updateUserInfo()">
        </i>
    </div>
</nav>

<div class="admin-container noSidePadding">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <form class="admin-card  noSidePadding" id="userInfoForm" name="userInfoForm" ng-hide="loading">
        <h4>{{'editProduct.general' | translate}}</h4>
        <div class="input-field">
            <p>{{'userprofile.fullname' | translate}}</p>
            <input type="text" ng-model="userInfo.name">
        </div>
        <div class="input-field">
            <p>{{'singleOrder.Phone' | translate}}</p>
            <input type="tel" ng-model="userInfo.phone" ng-disabled="!userInfo.isGoogleSignIn">
        </div>
        <div class="input-field">
            <p>E-mail</p>
            <input type="email" ng-model="userInfo.email" ng-disabled="userInfo.isGoogleSignIn">
        </div>

        <div class="user-profile-container">
            <div class="input-field" ng-translate-language-select></div>
            <div class="select-currency" ng-translate-language-select></div>
        </div>

    </form>
</div>
<!--<div class="flex-button">-->
<!--    <button type="button" ng-click="createNetworkShops()" class="btn secondaryColor analytics-use-btn waves-effect waves-light ng-binding unique-color z-depth-1 primaryColor" style="justify-content: flex-start">{{'addShopsNetwork.netName' | translate}}</button>-->
<!--</div>-->