<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    Налаштування
                </h5>
            </div>
            <div class="col-xs-2 noRightPadding">
                <button class="fa fa-save whiteColor pull-right saveProductButtonStyling"
                        type="submit"
                        form="shopStyling">
                </button>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid noSidePadding">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" show="loading"></spinner>
    </div>
    <div class="btn-group btn-group-justified col-xs-12 z-index" role="group" aria-label="..." ng-hide="loading">
        <div class="btn-group" role="group">
            <a href="#/settings" type="button" class="btn btn-primary">Загальні</a>
        </div>
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-primary active disabled">Вигляд</a>
        </div>
    </div>
    <form class="col-md-12 noSidePadding" id="shopStyling" name="shopStyling" ng-hide="loading" ng-submit="updateShopStyling()">
        <div class="input-field col-md-12">
            <p>Стиль бокової навігаційної панелі</p>
            <select class="form-control"
                    ng-model="selectedSkin"
                    ng-change="navbarStyling(selectedSkin)"
                    ng-options="skin as skin.name for skin in navbarStyles" required>
                <option></option>
            </select>
        </div>
        <div class="col-md-12">
            <p>Колір навігаційної панелі <a href="https://www.materialpalette.com/" target="_blank" ><i class="fa fa-question-circle"></i></a></p>
                <input colorpicker ng-model="shopStyling.navbarColor" type="text" required pattern="^#(?:[0-9a-fA-F]{3}){1,2}$">
        </div>
        <div class="input-field col-md-12">
            <p>Колір тексту навігаційної панелі</p>
            <input colorpicker ng-model="shopStyling.navbarTextColor" type="text" required pattern="^#(?:[0-9a-fA-F]{3}){1,2}$">
        </div>
        <div class="input-field col-md-12">
            <p>Колір кількості товарів</p>
            <input colorpicker ng-model="shopStyling.navbarShopItemsColor" type="text" required pattern="^#(?:[0-9a-fA-F]{3}){1,2}$">
        </div>
        <div class="file-field input-field col-sm-6 hidden-xs">
            <button type="button" class="btn btn-default waves-effect waves-light btn-block buttonInputFile" ng-click="loadImage()">
                <span>Додати логотип</span>
            </button>
            <input name="imageLoader" type="file" id="imageLoader"
            onchange="angular.element(this).scope().imageUpload(this)" />
        </div>
        <div class="input-field col-sm-6 hidden-xs" ng-hide="!logo">
            <button type="button" class="btn btn-danger waves-effect waves-light btn-block" ng-click="deleteLogo()">
                <span>Видалити логотип</span>
            </button>
        </div>
    </form>
</div>
<nav class="navbar boxShadow" style="background-color: {{shopStyling.navbarColor}}" ng-hide="loading">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-6 col-sm-1">
                <a class="navbar-brand waves-effect waves-light" style="color: {{shopStyling.navbarTextColor}}"><i class="fa fa-bars"></i></a>
            </div>
            <div class="hidden-xs col-sm-4" ng-show="!logo">
                <a class="navbar-brand waves-effect waves-light" style="color: {{shopStyling.navbarTextColor}}">Brand</a>
            </div>
            <div class="col-sm-2 hidden-xs" ng-class="{'col-sm-offset-4': logo}">
                <a>
                    <img ng-show="logo" class="img-responsive center-block" style="max-width:50px;"
                         ng-src="{{logo}}">
                </a>
            </div>
            <div class="col-xs-6 col-sm-5">
                <a class="navbar-brand waves-effect waves-light pull-right" style="color: {{shopStyling.navbarTextColor}}">
                    <span class="badge" style="color: {{shopStyling.navbarTextColor}}; background-color: {{shopStyling.navbarShopItemsColor}}">4</span> <i class="fa fa-shopping-cart"></i> <span class="hidden-xs"> Кошик</span>
                </a>
            </div>
        </div>
    </div>
</nav>

