<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'settings.workingHours' | translate}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right"
                   ng-click="updateStoreSettings()">
                </i>
            </a>
        </div>
    </div>
</nav>
<div class="admin-container">
    <div class="input-field col-md-12 z-index-2">
        <h5>{{'settings.workingHours' | translate}}</h5>
        <button type="button" ng-click="hoursSetting()" class="btn settings-hour secondaryColor analytics-use-btn waves-effect waves-light ng-binding unique-color z-depth-1 primaryColor" style="justify-content: flex-start">{{'settings.setWorkingHours' | translate}}</button>

        <div class="row">
            <div class="col-sm-12">
                <input id="filled-in-box" type="checkbox" class="filled-in checkBoxStyling" ng-model="activeShop.alwaysOpen" />
                <label for="filled-in-box">{{'settings.alwaysOpen' | translate}}</label>
            </div>
        </div><br>

        <!--<div ng-hide="activeShop.alwaysOpen">-->
        <!--<div class="col-sm-6">-->
        <!--<p>{{'settings.from' | translate}}:</p>-->
        <!--<input id="startTime" type="time" ng-model="activeShop.startTime">-->
        <!--</div>-->
        <!--<div class="col-sm-6">-->
        <!--<p>{{'settings.to' | translate}}:</p>-->
        <!--<input id="endTime" type="time" ng-model="activeShop.endTime">-->
        <!--</div>-->
        <!--</div>-->

    </div>

    <div class="input-field col-md-12 z-index-2">
        <h5>{{'settings.isTemporary' | translate}}</h5>
        <div class="row">
            <div class="col-sm-12">
                <input id="shopClosedbox" type="checkbox" class="filled-in checkBoxStyling" ng-model="activeShop.isTemporaryClosed" ng-click="whenShopClosed()" />
                <label for="shopClosedbox">{{'settings.whenClosed' | translate}}</label>
            </div>
        </div><br>

        <div ng-hide="!activeShop.isTemporaryClosed">
            <div class="col-sm-6">
                <p>{{'settings.temporaryTitle' | translate}}</p>
                <input id="temporaryTitle" type="text" ng-model="activeShop.temporaryClosedTitle">
            </div>

            <div class="col-sm-6">
                <p>{{'settings.temporaryDiscr' | translate}}</p>
                <input id="temporaryDiscr" type="text" ng-model="activeShop.temporaryClosedDescription">
            </div>
        </div>
    </div>
</div>
