<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    {{'settings.workingHours' | translate}}
                </h5>
            </div>
            <a class="col-xs-2 noRightPadding">
                <i class="fa fa-save whiteColor pull-right"
                   ng-click="setWorkingHour()">
                </i>
            </a>
        </div>
    </div>
</nav>
<div class="admin-container working-hours-block">
    <div class="admin-column">
        <div class="admin-card">
                <h4 >{{'editProduct.general' | translate}}</h4>
                <p>{{'settings.work24/7' | translate}}</p>
                <input id="filled-in-box" type="checkbox" class="filled-in checkBoxStyling" ng-model="activeShop.alwaysOpen" />
                <label for="filled-in-box">{{'settings.alwaysOpen' | translate}}</label>
                <p>{{'settings.isTemporary' | translate}}</p>
                <input id="shopClosedbox" type="checkbox" class="filled-in checkBoxStyling" ng-model="activeShop.isTemporaryClosed" ng-click="whenShopClosed()" />
                <label for="shopClosedbox">{{'settings.whenClosed' | translate}}</label>

                <div ng-hide="!activeShop.isTemporaryClosed">
                    <div class="closed-shop-options">
                        <p>{{'settings.temporaryTitle' | translate}}</p>
                        <input id="temporaryTitle" type="text" ng-model="activeShop.temporaryClosedTitle">
                    </div>

                    <div class="closed-shop-options">
                        <p>{{'settings.temporaryDiscr' | translate}}</p>
                        <input id="temporaryDiscr" type="text" ng-model="activeShop.temporaryClosedDescription">
                    </div>
                </div>
        </div>

    </div>
    <div class="admin-column">
        <div ng-hide="activeShop.alwaysOpen">
            <div class="admin-card">
                <h4 class="table-day">{{'hourssetting.monday' | translate}}</h4>
                <div class="whours-input-time" ng-hide="workDay.monOpen">
                    <p>{{'hourssetting.start' | translate}}</p>
                    <input type="time" ng-model="workDay.monStartTime">
                </div>
                <div class="whours-input-time" ng-hide="workDay.monOpen">
                    <p>{{'hourssetting.end' | translate}}</p>
                    <input type="time" ng-model="workDay.monEndTime">
                </div>
                <div class="custom-control custom-checkbox close-shop-checkbox">
                    <input type="checkbox" class="filled-in checkBoxStyling" ng-model="workDay.monOpen" id="tableDefaultCheck1">
                    <label class="custom-control-label" for="tableDefaultCheck1">{{'hourssetting.closed' | translate}}</label>
                </div>
            </div>
            <div class="admin-card">
                <h4 class="table-day">{{'hourssetting.tuesday' | translate}}</h4>
                <div class="whours-input-time" ng-hide="workDay.tueOpen">
                    <p>{{'hourssetting.start' | translate}}</p>
                    <input type="time" ng-model="workDay.tueStartTime">
                </div>
                <div class="whours-input-time" ng-hide="workDay.tueOpen">
                    <p>{{'hourssetting.end' | translate}}</p>
                    <input type="time" ng-model="workDay.tueEndTime">
                </div>
                <div class="custom-control custom-checkbox close-shop-checkbox">
                    <input type="checkbox" class="filled-in checkBoxStyling" ng-model="workDay.tueOpen" id="tableDefaultCheck2">
                    <label class="custom-control-label" for="tableDefaultCheck2">{{'hourssetting.closed' | translate}}</label>
                </div>
            </div>
            <div class="admin-card">
                <h4 class="table-day">{{'hourssetting.wednesday' | translate}}</h4>
                <div class="whours-input-time" ng-hide="workDay.wedOpen">
                    <p>{{'hourssetting.start' | translate}}</p>
                    <input type="time" ng-model="workDay.wedStartTime">
                </div>
                <div class="whours-input-time" ng-hide="workDay.wedOpen">
                    <p>{{'hourssetting.end' | translate}}</p>
                    <input type="time" ng-model="workDay.wedEndTime">
                </div>
                <div class="custom-control custom-checkbox close-shop-checkbox">
                    <input type="checkbox" class="filled-in checkBoxStyling" ng-model="workDay.wedOpen" id="tableDefaultCheck3">
                    <label class="custom-control-label" for="tableDefaultCheck3">{{'hourssetting.closed' | translate}}</label>
                </div>
            </div>
            <div class="admin-card">
                <h4 class="table-day">{{'hourssetting.thursday' | translate}}</h4>
                <div class="whours-input-time" ng-hide="workDay.thuOpen">
                    <p>{{'hourssetting.start' | translate}}</p>
                    <input type="time" ng-model="workDay.thuStartTime">
                </div>
                <div class="whours-input-time" ng-hide="workDay.thuOpen">
                    <p>{{'hourssetting.end' | translate}}</p>
                    <input type="time" ng-model="workDay.thuEndTime">
                </div>
                <div class="custom-control custom-checkbox close-shop-checkbox">
                    <input type="checkbox" class="filled-in checkBoxStyling" ng-model="workDay.thuOpen" id="tableDefaultCheck4">
                    <label class="custom-control-label" for="tableDefaultCheck4">{{'hourssetting.closed' | translate}}</label>
                </div>
            </div>
            <div class="admin-card">
                <h4 class="table-day">{{'hourssetting.friday' | translate}}</h4>
                <div class="whours-input-time" ng-hide="workDay.friOpen">
                    <p>{{'hourssetting.start' | translate}}</p>
                    <input type="time" ng-model="workDay.friStartTime">
                </div>
                <div class="whours-input-time" ng-hide="workDay.friOpen">
                    <p>{{'hourssetting.end' | translate}}</p>
                    <input type="time" ng-model="workDay.friEndTime">
                </div>
                <div class="custom-control custom-checkbox close-shop-checkbox">
                    <input type="checkbox" class="filled-in checkBoxStyling" ng-model="workDay.friOpen" id="tableDefaultCheck5">
                    <label class="custom-control-label" for="tableDefaultCheck5">{{'hourssetting.closed' | translate}}</label>
                </div>
            </div>
            <div class="admin-card">
                <h4 class="table-day">{{'hourssetting.saturday' | translate}}</h4>
                <div class="whours-input-time" ng-hide="workDay.satOpen">
                    <p>{{'hourssetting.start' | translate}}</p>
                    <input type="time" ng-model="workDay.satStartTime">
                </div>
                <div class="whours-input-time" ng-hide="workDay.satOpen">
                    <p>{{'hourssetting.end' | translate}}</p>
                    <input type="time" ng-model="workDay.satEndTime">
                </div>
                <div class="custom-control custom-checkbox close-shop-checkbox">
                    <input type="checkbox" class="filled-in checkBoxStyling" ng-model="workDay.satOpen" id="tableDefaultCheck6">
                    <label class="custom-control-label" for="tableDefaultCheck6">{{'hourssetting.closed' | translate}}</label>
                </div>
            </div>
            <div class="admin-card">
                <h4 class="table-day">{{'hourssetting.sunday' | translate}}</h4>
                <div class="whours-input-time" ng-hide="workDay.sunOpen">
                    <p>{{'hourssetting.start' | translate}}</p>
                    <input type="time" ng-model="workDay.sunStartTime">
                </div>
                <div class="whours-input-time" ng-hide="workDay.sunOpen">
                    <p>{{'hourssetting.end' | translate}}</p>
                    <input type="time" ng-model="workDay.sunEndTime">
                </div>
                <div class="custom-control custom-checkbox close-shop-checkbox">
                    <input type="checkbox" class="filled-in checkBoxStyling" ng-model="workDay.sunOpen" id="tableDefaultCheck7">
                    <label class="custom-control-label" for="tableDefaultCheck7">{{'hourssetting.closed' | translate}}</label>
                </div>
            </div>
        </div>
    </div>

</div>
