<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>Wise Hands</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="public/css/main-style.css">

</head>
<div class="row">
	<div class="container">
		<h2 class="title">Wise Hands</h2>
		<form class="form-signin" name="loginForm" ng-submit="logIn()">
			<input class="button-submit full-width" type="submit" value="REGISTER">
			<input class="button-submit full-width" type="submit" value="LOG IN">
		</form>
	</div>
</div>

</body>
</html>