<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="sweety">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<!--[if IE]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<![endif]-->
	<title>Wise Hands</title>
	<link href="public/css/main-style.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>


</head>
<body>
<div ng-view></div>

<script src="public/js/angular.js"></script>
<script src="public/bower_components/angular-route/angular-route.js"></script>
<script src="public/assets/plugins/jquery-1.10.2.js"></script>

<script src="public/wise_hands/js/routes/routesConfig.js"></script>

<script src="public/wise_hands/js/controllers/LoginFormController.js"></script>
<script src="public/wise_hands/js/controllers/RegisterFormController.js"></script>


</body>
</html>
