<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Login Form</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="public/css/login-style.css">

</head>
<body ng-app="sweety" ng-controller="LoginFormController">

<div class="row" ng-cloak>
    <div class="container">
        <h2 class="title">Wise Hands</h2>
        <form class="form-signin" name="loginForm" ng-submit="logIn()">
            <div ng-hide="showShopList">
                <div class="row">
                    <div class="column">
                        <label>E-MAIL </label>
                        <input id="email" class="full-width" type="email" placeholder="E-mail" ng-model="email" required>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label>PASSWORD </label>
                        <input id="password" class="full-width" type="password" placeholder="Password" ng-model="password" required>
                    </div>
                </div>
                <br/>
                <buttonb class="button-submit full-width" type="submit">LOG IN</buttonb>
                <p class="deniedMsg" ng-show="deniedMsg" ng-cloak>{{accessDeniedMessage}}</p>

            </div>
            <div class="row">
                <a href="#" class="forgot" ng-show="showShopList">Choose proper web-store</a>
            </div>
            <div ng-repeat="shop in user.shopList">
                <button class="button-submit full-width buttonStyling" ng-click="properShop(shop)">{{shop.shopName}}</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="/public/js/angular.js"></script>
<script type="text/javascript" src="/public/js/login-app.js"></script>
</body>
</html>