<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-1 primaryColor" role="navigation">
    <div class="container-fluid">
        <div class="row vcentering">
            <div class="col-xs-2 noPaddingLeft">
                <a data-activates="slide-out" class="button-collapse sideNavButtonStyling"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center white-text">
                <h5>
                    Замовлення
                </h5>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid noSidePadding">
    <div class="row text-center">
        <spinner class="center-block" name="mySpinner" img-src="wisehands/assets/images/spinner/box.gif" on-loaded="getResource()"></spinner>
    </div>
        <div class="col-sm-6" ng-repeat="item in orders">
            <div class="card card-primary text-xs-center z-depth-2"
                 ng-style="{'background-color': orderState(item)}">
                <a href ="#/sudo/order/{{item.uuid}}">
                    <div class="row">
                        <div class="card-block vcentering">
                            <div class=" col-xs-8 col-sm-8">
                                <p class="truncate text-center white-text paragraphPadding"><i>{{item.name}}</i></p>
                            </div>
                            <div class="col-xs-4 col-sm-4">
                                <p class="text-center white-text paragraphPadding">₴ <b>{{item.total}}</b></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
</div>