.flex-container{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
}

.flex-logo-button{
    display: flex;
    align-items: center;
}

.noPointerCursor {
    display: flex;
    cursor: inherit;
}
.flex-logo{
    justify-content: center;
}

.flex-navbar{
    /*display: flex;*/
    flex-direction:row;
    flex-wrap: nowrap;
    align-items: flex-end
}

.flex-dropdown{
  font-family: Roboto,sans-serif;
  font-weight: 300;
}
@media only screen and (min-width: 321px) {
  .flex-button {
    padding: 5px;
    margin: 3px;
  }
}

﻿[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.fixed-height {
    height: 3.5rem;
}
.fixed-height2 {
    height: 4.5rem;
}

.productDescriptionTruncate {
    line-height: 1.5em;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    text-align: justify;
    /*margin-right: -1em;*/
    padding-right: 1em;
}
.productNameTruncate {
    line-height: 1.5em;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    /*text-align: justify;*/
    /*margin-right: -1em;*/
    padding-right: 1em;
}
.productDescriptionTruncate:before, .productNameTruncate:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}
.productDescriptionTruncate:after, .productNameTruncate:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

.headerCentering:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.removeAllRedIcon:before {
    color: red;
}
.inputTextCentering {
    text-align: center;
}
.modalPosition {
    float: none;
}

body.modal-open {
    overflow: hidden;
}
.floatLeft {
    float: left;
}

.cardPadding {
    padding-right: 0;
    padding-left: 0;
}

.productTooltip {
    color: #000;
}

.minHeight {
    min-height: 4.5em;
}

.priceAlignment {
    margin-top: 0.7em;
}

.proceedWithPayment {
    display: none;
}

.buyButtonBotMargin {
    margin-bottom: .5em;
}

main {
    overflow: hidden;
}
.contactsContainer {
    margin-right: 0;
    margin-left: 0;
    margin-top: 4.5em;
}
.buyButtonDetails {
    margin: 0;
    margin-bottom: 1.5em;
}
.noBorder {
    border: none;
}
.autoHeight {
    height: auto !important;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width : 480px) {
    .productTitle {
        margin: 7.5px 0;
    }
    .buyButtonDetails {
        margin: 0;
    }

}


/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width: 568px) and (max-device-width: 767px){
    .productTitle {
        margin: 7.5px 0;
    }
}
@media (min-width: 994px) and (max-width: 1101px) {
    .carousel-indicators {
        /*bottom: -45px;*/
    }
}


/* Tablet ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {

}

@media only screen and (min-width: 568px) and (max-width: 993px) {
    .double-nav .breadcrumb-dn {
        display: inherit;
    }
}

.noBoxShadow img {
    box-shadow: none !important;
}
.pullRight {
    float: right !important;
}

.product .img-responsive {
    margin: 0 auto;
}
.labelFont {
    font-size: inherit !important;
}
.fixed-sn .mainNoPaddingTop {
    padding-top: 0;
}
.cursorPointer {
    cursor: pointer;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.vcentering {
    display: flex;
    align-items: center;
}

.pac-container {
    z-index: 99999999 !important;
}
.navbar {
    padding-right: 0;
    border-radius:0;
}
.noSidePadding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.newPostFlexContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.newPostFlexContainer > div.col-xs-12.col-sm-4 > div > img {
    display: block;
    margin: auto;
}

@media (min-width: 1440px) {
    .navbar .button-collapse {
        display: block;
        position: relative;
        font-size: 1.4rem;
        margin-right: 10px;
        margin-left: 10px;
    }
}
.productDetailsFlexNavbar {
    justify-content: space-between;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    cursor: pointer;
}
.fulltext {
    height:auto !important;
    /*line-height: 23px !important;*/
}

.button-offset-for-category {
	padding-top: 11px;
	padding-bottom: 11px;
}
/*Fix image-select previews ratio*/
.carousel-thumbnails .carousel-indicators img {
    width:auto;
    border-radius: 0;
}
@media only screen and (max-width: 600px) {
    .carousel-thumbnails .carousel-indicators img {
        width:auto;
        border-radius: 0;
    }
}
.next-button{
  display:flex;
  justify-content: flex-end;
  margin-top: 10px;
}
