[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.fixed-height {
    height: 3.5rem;
}
.fixed-height2 {
    height: 4.5rem;
}
/*.fixed-height2 p{*/
    /*font-weight: 300;*/
    /*font-size: 1.25rem;*/
/*}*/
.productDescriptionTruncate {
    line-height: 1.5em;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    text-align: justify;
    /*margin-right: -1em;*/
    padding-right: 1em;
}
.productNameTruncate {
    line-height: 1.5em;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    /*text-align: justify;*/
    /*margin-right: -1em;*/
    padding-right: 1em;
}
.productDescriptionTruncate:before, .productNameTruncate:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}
.productDescriptionTruncate:after, .productNameTruncate:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

.headerCentering:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.removeAllRedIcon:before {
    color: red;
}
.inputTextCentering {
    text-align: center;
}
.modalPosition {
    float: none;
}

body.modal-open {
    overflow: hidden;
}
.floatLeft {
    float: left;
}

.cardPadding {
    padding-right: 0;
    padding-left: 0;
}

.productTooltip {
    color: #000;
}

.minHeight {
    min-height: 4.5em;
}

.priceAlignment {
    margin-top: 0.7em;
}

.proceedWithPayment {
    display: none;
}

.buyButtonBotMargin {
    margin-bottom: .5em;
}

main {
    overflow: hidden;
}
.contactsContainer {
    margin-right: 0;
    margin-left: 0;
    margin-top: 4.5em;
}
.buyButtonDetails {
    margin: 0;
    margin-bottom: 1.5em;
}
.noBorder {
    border: none;
}
.autoHeight {
    height: auto !important;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width : 480px) {
    .productTitle {
        margin: 7.5px 0;
    }
    .buyButtonDetails {
        margin: 0;
    }

}


/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width: 568px) and (max-device-width: 767px){
    .productTitle {
        margin: 7.5px 0;
    }
}
@media (min-width: 994px) and (max-width: 1101px) {
    .carousel-indicators {
        bottom: -45px;
    }
}


/* Tablet ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {

}

@media only screen and (min-width: 568px) and (max-width: 993px) {
    .double-nav .breadcrumb-dn {
        display: inherit;
    }
}

.noBoxShadow img {
    box-shadow: none !important;
}
.pullRight {
    float: right !important;
}

.product .img-responsive {
    margin: 0 auto;
}
.labelFont {
    font-size: inherit !important;
}
.fixed-sn .mainNoPaddingTop {
    padding-top: 0;
}
.cursorPointer {
    cursor: pointer;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


