<!DOCTYPE html>
<html lang="en">
<style>
    body{
        margin: 0;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>

    <script src="/wisehands/polymer3/dashboard/build/default/node_modules/@webcomponents/webcomponentsjs/custom-elements-es5-adapter.js"></script>
    <script src="/wisehands/polymer3/dashboard/build/default/node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
    <script type="module" src="/wisehands/polymer3/dashboard/build/default/dash-board.js"></script>

</head>
<dash-board></dash-board>
</html>