<!DOCTYPE html>
<html lang="en">
<style>
    body{
        margin: 0;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>dashboard</title>

    <script src="/wisehands/polymer3/dashboard/build/webcomponents-loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script type="module" src="/wisehands/polymer3/dashboard/build/index.js"></script>


</head>
    <dash-board>

    </dash-board>
</html>