
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
   
}
.pad-top {
    padding-top:60px;
}
.text-center {
    text-align:center;
}
/*TO SET SOME SPACE AT BOTTOM OF BUTTON*/
.btn {
    margin-bottom:10px;
    display: inline;
}
/*TO MAKE HEADING TEXT COLORED*/
h2,.h2 {
    padding:20px;
    color: #F00;
}

/*TO CREATE SPACE BETWEEN ROW*/
.pad-row {
    padding-top:20px;
    padding-bottom:20px;

}
.fixed-height {
    height: 75px;
}
.price-alignment {
    padding-bottom: 8px;
    padding-left: 10px;
    display: block;
}
.btn-sm {
    display: block;
}
/*avoiding horizontal scrolling*/
.row {
    margin-left: 0px;
    margin-right: 0px;
}
/*modal price padding before Orderbutton*/
.modal-total {
    display: inline;
    padding-right: 10px;
}
.media {
    max-width: 100%;
}
/*navbar hiding*/
.navbar {
    display: none;
}
.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
}
.navbar-nav>li {
    float: none;
}
.navbar-collapse.collapse.in{
    display:block !important;
}
@media (max-width: 992px) {
    .navbar {
        display: block;
        margin-bottom: 3em;
    }
    .listView {
        display: none;
            }
    /*.collapse {*/
        /*margin-left: 0px;*/
        /*margin-right: 0px;*/
    /*}*/
    /*.sweetsList {*/
        /*margin-top: 3em;*/
    /*}*/
    /*.xsListView {*/
        /*margin-top: 3 em;*/
    /*}*/
}
/*validation styling*/
/*input.ng-dirty {*/
    /*border: 1px solid red;*/
/*}*/