
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
   
}
.pad-top {
    padding-top:60px;
}
.text-center {
    text-align:center;
}
/*TO SET SOME SPACE AT BOTTOM OF BUTTON*/
.btn {
    margin-bottom:10px;
    display: inline;
}
/*TO MAKE HEADING TEXT COLORED*/
h2,.h2 {
    padding:20px;
    color: #F00;
}

/*TO CREATE SPACE BETWEEN ROW*/
.pad-row {
    padding-top:20px;
    padding-bottom:20px;

}
.fixed-height {
    height: 6em;
}
.price-alignment {
    padding-bottom: 8px;
    padding-left: 10px;
    display: block;
}
.btn-sm {
    display: block;
}
/*avoiding horizontal scrolling*/
.row {
    margin-left: 0px;
    margin-right: 0px;
}
/*modal price padding before Orderbutton*/
.modal-total {
    display: inline;
    padding-right: 10px;
}
.media {
    max-width: 100%;
}
/*navbar hiding*/
.navbar {
    display: none;
}
.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
}
.navbar-nav>li {
    float: none;
}
.navbar-collapse.collapse.in{
    display:block !important;
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width : 480px) {
    .navbar {
        display: block;
        margin-bottom: 3em;
    }
    .listView {
        display: none;
    }
    .fixed-height {
        height: 5.5em;
    }
    .buttonRightPadding {
        padding-right: 0;
    }
    .leftPadding {
        padding-left: 0;
    }
    .buy-margin {
        margin-top: 3.5em;
    }
    .inputWidth {
        max-width: 3em;
    }

}
/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width: 568px) and (max-device-width: 767px){
    .navbar {
        display: block;
        margin-bottom: 3em;
    }
    .fixed-height {
        height: 5.5em;
    }
    .listView {
        display: none;
    }
    .img-responsive {
        max-width: 50%;
        display: inline;
        float: left;
    }
    .navbar-collapse {
        height: 11.5em;
        max-height: 10em;
        width: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling:touch;
    }
    .buttonRightPadding {
        padding-right: 0;
    }
    .leftPadding {
        padding-left: 0;
    }
    .buy-margin {
        margin-top: 3.5em;
    }
    .inputWidth {
        max-width: 3em;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px){
    .listView {
        display: none;
    }
    .navbar {
        display: block;
        margin-bottom: 3em;
        overflow: hidden;
        overflow-y: auto;
        position: absolute;
        width: 100%;
    }

    .media {
        max-width: 50%;
    }
    .navbar-collapse {
        height: 5em;
    }
    .fixed-height {
        height: 3.5em;
    }
    .buy-margin {
        margin-top: 3.5em;
    }
    .navbar-fixed-top {
        position: fixed;
        margin-left: 0px;
        margin-right: 0px;
    }
    .inputWidth {
        max-width: 3em;
    }
}


.well {
    background-color: white;
}
/*hiding Google logo*/
.pac-container {
    z-index: 2000;
}
.pac-logo:after {
    display: none !important;
}
.newPost {
    padding-left: 25px;
}
.modal-total {
    display: inline-block;
}
.radioPadding {
    padding-left: 1.4em;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

@keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

.hvr-buzz-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz-out-active {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.totalPrice {
    font-size: 1.2rem;
    margin-bottom: 0;
    padding-top: 0;
    display: inline;
    color: #727272;
}
.dropdownTable {
    padding-top: 1em;
}
.dividerMargin {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.tableHeaderMargin {
    margin-bottom: 0.5em;
}
.vcenter {
    display: flex;
    align-items: center;
}

.buttonCentering {
    margin: 0 auto;
}
.removeButtonRightPadding {
    padding-left: 0;
}

.productCard {
    padding: 0 0;
}
.imageTopPadding {
    padding-top: 0.5em;
}





