
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
   
}
.pad-top {
    padding-top:60px;
}
.text-center {
    text-align:center;
}
/*TO SET SOME SPACE AT BOTTOM OF BUTTON*/
.btn {
    margin-bottom:10px;
    display: inline;
}
/*TO MAKE HEADING TEXT COLORED*/
h2,.h2 {
    padding:20px;
    color: #F00;
}

/*TO CREATE SPACE BETWEEN ROW*/
.pad-row {
    padding-top:20px;
    padding-bottom:20px;

}
.fixed-height {
    height: 75px;
}
.price-alignment {
    padding-bottom: 8px;
    padding-left: 10px;
    display: block;
}
.btn-sm {
    display: block;
}
/*avoiding horizontal scrolling*/
.row {
    margin-left: 0px;
    margin-right: 0px;
}
/*modal price padding before Orderbutton*/
.modal-total {
    display: inline;
    padding-right: 10px;
}
.media {
    max-width: 100%;
}
/*navbar hiding*/
.navbar {
    display: none;
}
.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
}
.navbar-nav>li {
    float: none;
}
.navbar-collapse.collapse.in{
    display:block !important;
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 440px) {
    .navbar {
        display: block;
        margin-bottom: 3em;
    }
    .listView {
        display: none;
    }
    .fixed-height {
        height: 5.5em;
    }
    .buy-margin {
        margin-top: 3em;
    }
    .navbar-collapse {
        max-height: 15em;
    }
    .media {
        max-width: 50%;
    }
}
/*hiding Google logo*/
.pac-container {
    z-index: 2000;
}
.pac-logo:after {
    display: none !important;
}
