<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{labelOrder}} {{labelNumber}}{{orderNumber}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap" rel="stylesheet">

</head>
<body style="margin: 0; padding: 0;">

<!--<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background: #fff; min-width: 320px; line-height: normal;">-->
<!--    <tr>-->
<!--        <td align="center" valign="top">-->
<!--            <table cellpadding="0" cellspacing="0" border="0" width="600" class="table700" style="max-width: 600px; min-width: 320px; background: #ffffff;">-->
<!--                <tr>-->
<!--                    <td align="center" valign="top">-->
<!--                        <table cellpadding="0" cellspacing="0" border="0" width="100%"  style="margin: 15px">-->
<!--                            &lt;!&ndash;                    <tr>-->
<!--                                                <img src="../../wisehands/services/images/americano-logo.jpg" alt="store-logo" border="0" width="150px" height="81.61px">-->
<!--                                            </tr>&ndash;&gt;-->
<!--                            <tr>-->
<!--                                <td colspan="2" align="center" style="width: 100%; font-size: 30px">{{labelNewOrder}}</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td align="center" style="width: 100%; padding-right: 5px">-->
<!--                                    <a style="text-decoration: none" href="#/details/{{order.uuid}}">-->
<!--                                        <p style="color: #3498db; font-size: 18px;">{{labelDetails}}</p>-->
<!--                                    </a>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                        </table>-->
<!--                        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="max-width: 100%; background: #f6f6f6; margin: 15px; border-radius: 10px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);">-->
<!--                            <tr>-->
<!--                                <th style="padding: 10px 15px; font-size: 21px;   font-weight: 400" colspan="2">{{labelOrderDetails}}</th>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td style="padding: 10px 15px; width: 100%">{{labelPhone}}:</td>-->
<!--                                <td style="padding: 10px 15px; text-align: right;  width: 100%">+{{phone}}qqqqqqqqqqqqq</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td style="padding: 10px 15px">{{labelOrderDate}}:</td>-->
<!--                                <td style="padding: 10px 15px; text-align: right">{{time}}</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td style="padding: 10px 15px">{{labelEmail}}:</td>-->
<!--                                <td style="padding: 10px 15px; text-align: right">{{email}}</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td style="padding: 10px 15px">{{labelTotal}}:</td>-->
<!--                                <td style="padding: 10px 15px; text-align: right">{{total}} грн</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td style="padding: 10px 15px">{{labelName}}:</td>-->
<!--                                <td style="padding: 10px 15px; text-align: right">{{name}}</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td style="padding: 10px 15px">{{labelComment}}:</td>-->
<!--                                <td style="padding: 10px 15px; text-align: right">{{comment}}</td>-->
<!--                            </tr>-->
<!--                        </table>-->
<!--                        <table cellpadding="0" cellspacing="0" border="0"   style="width: 100%; background: #f6f6f6; margin: 15px; border-radius: 10px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);">-->
<!--                            <tr>-->
<!--                                <th style="padding: 10px 15px; font-size: 21px; font-weight: 400" colspan="2">{{labelOrderDelivery}}</th>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td style="padding: 10px 15px; ">{{labelDelivery}}:</td>-->
<!--                                <td style="padding: 10px 15px; text-align: right;  width: 100%;">-->
<!--                                    {% if deliveryType == "SELFTAKE" %}-->
<!--                                    {{selfPickupDeliveryType}}-->
<!--                                    {% endif %}-->
<!--                                    {% if deliveryType == "COURIER" %}-->
<!--                                    {{courierDeliveryType}}-->
<!--                                    {% endif %}-->
<!--                                    {% if deliveryType == "POSTSERVICE" %}-->
<!--                                    {{postServiceDeliveryType}}-->
<!--                                    {% endif %}-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            {% if deliveryType == "POSTSERVICE" %}-->
<!--                            <tr>-->
<!--                                <td style="padding: 10px 15px">{{labelAddress}}:</td>-->
<!--                                <td style="padding: 10px 15px; text-align: right">{{address}}</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td style="padding: 10px 15px">{{labelClientPostDepartmentNumber}}:</td>-->
<!--                                <td style="padding: 10px 15px; text-align: right">{{clientPostDepartmentNumber}}</td>-->
<!--                            </tr>-->
<!--                            {% endif %}-->
<!--                            {% if deliveryType == "COURIER" %}-->
<!--                            <tr>-->
<!--                                <td style="padding: 10px 15px">{{labelAddress}}:</td>-->
<!--                                <td style="padding: 10px 15px; text-align: right">{{address}}</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td style="padding: 10px 15px">{{labelOrderEntrance}}:</td>-->
<!--                                <td style="padding: 10px 15px; text-align: right">{{clientAddressApartmentEntrance}}</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td style="padding: 10px 15px">{{labelOrderEntranceCode}}:</td>-->
<!--                                <td style="padding: 10px 15px; text-align: right; word-break: break-word;">{{clientAddressApartmentEntranceCode}}</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td style="padding: 10px 15px">{{labelOrderApartmentFloor}}:</td>-->
<!--                                <td style="padding: 10px 15px; text-align: right">{{clientAddressApartmentFloor}}</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td style="padding: 10px 15px">{{labelOrderApartmentNumber}}:</td>-->
<!--                                <td style="padding: 10px 15px; text-align: right">{{clientAddressApartmentNumber}}</td>-->
<!--                            </tr>-->
<!--                            {% endif %}-->
<!--                        </table>-->
<!--                        <table cellpadding="0" cellspacing="0" border="0" width="100%"  style="width: 100%; background: #f6f6f6; margin: 15px; border-radius: 10px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);">-->
<!--                            <tr>-->
<!--                                <th style="padding: 10px 15px; font-size: 21px; font-weight: 400" colspan="2">{{labelOrderPayment}}</th>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td style="padding: 10px 15px; width: 100%">{{labelPaymentType}}:</td>-->
<!--                                <td style="padding: 10px 15px; text-align: right">-->
<!--                                    {% if paymentType == "CASHONDELIVERY" %}-->
<!--                                    {{cashOnDeliveryPaymentType}}-->
<!--                                    {% endif %}-->
<!--                                    {% if paymentType == "CREDITCARD" %}-->
<!--                                    {{creditCardDeliveryPaymentType}}-->
<!--                                    {% endif %}-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                        </table>-->
<!--                        <table cellpadding="0" cellspacing="0" border="0" width="100%"  style="background: #f6f6f6; margin:  15px; border-radius: 10px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);">-->
<!--                            <tr>-->
<!--                                <th style="padding: 10px 15px; font-size: 21px; font-weight: 400" colspan="3">{{labelProducts}}</th>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td style="padding: 10px 15px; width: 60%">{{labelProduct}}</td>-->
<!--                                <td style="padding: 10px 15px; width: 15%">{{labelQuantity}}</td>-->
<!--                                <td style="padding: 10px 15px; width: 25%; text-align: right">{{labelPrice}}</td>-->
<!--                            </tr>-->
<!--                            {% for item in orderItems %}-->
<!--                            <tr>-->
<!--                                <td style="padding: 15px">-->
<!--                                    <table cellpadding="0" cellspacing="0" border="0">-->
<!--                                        <td>           <img src="{{item.imagePath}}" alt="product-logo" alt="item-photo" border="0" width="100px" height="75px">-->
<!--                                        </td>-->
<!--                                        <th style="padding-left: 15px;  text-align: left">{{item.name}}</th>-->
<!--                                    </table>-->

<!--                                </td>-->
<!--                                <td>{{item.quantity}}</td>-->
<!--                                <td style="padding: 15px; text-align: right">{{item.price}} грн</td>-->
<!--                            </tr>-->
<!--                            {% endfor %}-->
<!--                        </table>-->

<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->

<div style="max-width: 600px; background-color: #ffffff; margin: 0 auto" >
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="center" valign="top">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%"  style="margin: 15px">
                            <!--                    <tr>
                                                <img src="../../wisehands/services/images/americano-logo.jpg" alt="store-logo" border="0" width="150px" height="81.61px">
                                            </tr>-->
                            <tr>
                                <td colspan="2" align="center" style="width: 100%; font-size: 30px">{{labelOrder}} {{labelNumber}}{{orderNumber}}</td>
                            </tr>
                            <!-- TODO: fix login redirect -->
<!--                            <tr>
                                <td align="center" style="width: 100%; padding-right: 5px">
                                    <a style="text-decoration: none" href="{{orderLink}}">
                                        <p style="color: #3498db; font-size: 18px;">{{labelDetails}}</p>
                                    </a>
                                </td>
                            </tr>-->
                        </table>

                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="max-width: 100%; background: #f6f6f6; margin: 15px; border-radius: 10px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);">
                            <tr>
                                <th style="padding: 10px 15px; font-size: 21px;   font-weight: 400" colspan="2">{{labelOrderDetails}}</th>
                            </tr>
                            <tr>
                                <td style="padding: 10px 15px; width: 100%">{{labelPhone}}:</td>
                                <td style="padding: 10px 15px; text-align: right;  width: 100%">+{{phone}}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 15px">{{labelOrderDate}}:</td>
                                <td style="padding: 10px 15px; text-align: right">{{time}}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 15px">{{labelEmail}}:</td>
                                <td style="padding: 10px 15px; text-align: right">{{email}}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 15px">{{labelTotal}}:</td>
                                <td style="padding: 10px 15px; text-align: right">{{total}} грн</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 15px">{{labelName}}:</td>
                                <td style="padding: 10px 15px; text-align: right">{{name}}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 15px">{{labelComment}}:</td>
                                <td style="padding: 10px 15px; text-align: right">{{comment}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table cellpadding="0" cellspacing="0" border="0"   style="width: 100%; background: #f6f6f6; margin: 15px; border-radius: 10px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);">
                            <tr>
                                <th style="padding: 10px 15px; font-size: 21px; font-weight: 400" colspan="2">{{labelOrderDelivery}}</th>
                            </tr>
                            <tr>
                                <td style="padding: 10px 15px;  width: 100%">{{labelDelivery}}:</td>
                                <td style="padding: 10px 15px; text-align: right;  width: 100%">
                                    {% if deliveryType == "SELFTAKE" %}
                                    {{selfPickupDeliveryType}}
                                    {% endif %}
                                    {% if deliveryType == "COURIER" %}
                                    {{courierDeliveryType}}
                                    {% endif %}
                                    {% if deliveryType == "POSTSERVICE" %}
                                    {{postServiceDeliveryType}}
                                    {% endif %}
                                </td>
                            </tr>
                            {% if deliveryType == "POSTSERVICE" %}
                            <tr>
                                <td style="padding: 10px 15px">{{labelClientAddressCity}}:</td>
                                <td style="padding: 10px 15px; text-align: right">{{clientAddressCity}}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 15px">{{labelClientPostDepartmentNumber}}:</td>
                                <td style="padding: 10px 15px; text-align: right">{{clientPostDepartmentNumber}}</td>
                            </tr>
                            {% endif %}
                            {% if deliveryType == "COURIER" %}
                            <tr>
                                <td style="padding: 10px 15px">{{labelClientAddressStreetName}}:</td>
                                <td style="padding: 10px 15px; text-align: right">{{clientAddressStreetName}}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 15px">{{labelClientAddressBuildingNumber}}:</td>
                                <td style="padding: 10px 15px; text-align: right">{{clientAddressBuildingNumber}}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 15px">{{labelOrderEntrance}}:</td>
                                <td style="padding: 10px 15px; text-align: right">{{clientAddressApartmentEntrance}}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 15px">{{labelOrderEntranceCode}}:</td>
                                <td style="padding: 10px 15px; text-align: right">{{clientAddressApartmentEntranceCode}}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 15px">{{labelOrderApartmentFloor}}:</td>
                                <td style="padding: 10px 15px; text-align: right">{{clientAddressApartmentFloor}}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 15px">{{labelOrderApartmentNumber}}:</td>
                                <td style="padding: 10px 15px; text-align: right">{{clientAddressApartmentNumber}}</td>
                            </tr>
                            {% endif %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%"  style="width: 100%; background: #f6f6f6; margin: 15px; border-radius: 10px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);">
                            <tr>
                                <th style="padding: 10px 15px; font-size: 21px; font-weight: 400" colspan="2">{{labelOrderPayment}}</th>
                            </tr>
                            <tr>
                                <td style="padding: 10px 15px; width: 100%">{{labelPaymentType}}:</td>
                                <td style="padding: 10px 15px; text-align: right">
                                    {% if paymentType == "CASHONDELIVERY" %}
                                    {{cashOnDeliveryPaymentType}}
                                    {% endif %}
                                    {% if paymentType == "CREDITCARD" %}
                                    {{creditCardDeliveryPaymentType}}
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%"  style="background: #f6f6f6; margin:  15px; border-radius: 10px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);">
                            <tr>
                                <th style="padding: 10px 15px; font-size: 21px; font-weight: 400" colspan="3">{{labelProducts}}</th>
                            </tr>
                            <tr>
                                <td style="padding: 10px 15px; width: 60%">{{labelProduct}}</td>
                                <td style="padding: 10px 15px; width: 15%">{{labelQuantity}}</td>
                                <td style="padding: 10px 15px; width: 25%; text-align: right">{{labelPrice}}</td>
                            </tr>
                            {% for item in orderItems %}
                            <tr>
                                <td style="padding: 15px">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <td>           <img src="{{item.imagePath}}" alt="product-logo" alt="item-photo" border="0" width="100px" height="75px">
                                        </td>
                                        <th style="padding-left: 15px;  text-align: left">{{item.name}}</th>
                                    </table>

                                </td>
                                <td>{{item.quantity}}</td>
                                <td style="padding: 15px; text-align: right">{{item.price}} грн</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
        </td>
    </tr>
</div>

</body>
</html>