body, p, h1, h2, h3, h4, h5, h6, i, a {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
}
body a {
    text-decoration: none;
    color: inherit;
}
.header {
    margin: 0 auto;
    height: 65px;
    padding: 0 0.5rem;
}
.header-block {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    padding: 0.5rem;
}
.header-logo-text, .header-links {
    display: flex;
    align-items: center;
}
.header-logo-text img {
    width: 50px;
    height: 50px;
    padding-right: 1rem;
}
.header-logo-text p {
    font-size: 2rem;
}
.header-logo-text {
    justify-content: space-between;
}
.header-logo-text a {
    text-decoration: none;
}
.header-logo-text p:hover, .header-links p:hover {
    color: lightseagreen;
}
.header-logo-text p, .header-links p {
    font-size: 1.3rem;
    padding: 0.6rem;
    cursor: pointer;
}
.landing-container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}
.main-block {
    height: 74vh;
    display: flex;
}
.main-block-text {
    padding-top: 30vh;
    text-align: center;
}
.main-block-text h1 {
    font-size: 4rem;
    font-weight: 500;
}
.main-block-text button {
    margin: 1.5rem 0;
    padding: 0.5rem 2rem;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    text-transform: uppercase;
    cursor: pointer;
}
.main-block-text button:hover, .tariff-button button:hover {
    background-color: #000;
    color: #fff;
}
.main-block-text button:focus {
    outline: none;
}
.burger-menu {
    display: none;
    padding: 1rem;
}
.burger-menu:hover {
    cursor: pointer;
}
#overlay-mobile {
    display: none;
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    padding: 0;
    margin: 0;
}
.sidebar-mobile {
    width: 80%;
    height: 100%;
    background-color: rgba(255,255,255,1);
    opacity: 1;
    animation: sidebarmove 0.3s linear;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 2px 3px 0 rgba(0, 0, 0, .12);
}
@keyframes sidebarmove {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.sibebar-swipe-off {
    width: 0%;
    height: 100%;
    background-color: rgba(255,255,255,1);
    opacity: 1;
    transition-delay: 0.3s;
    animation: sidebarswipeoff 0.3s linear;
}
@keyframes sidebarswipeoff {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(-100%, 0, 0);
    }
}
.sidebar-logo {
    display: flex;
    align-items: center;
    height: 58px;
    padding: 0.5rem;
}
.sidebar-logo img {
    width: 36px;
    height: 36px;
    padding-right: 5px;
}
.sidebar-logo p {
    font-size: 2rem;
    margin-bottom: 0;
}
.sidebar-panel {
    display: flex;
    flex-direction: column;
    line-height: 2;
    padding: 10px;
    font-size: 1.2rem;
}
.sidebar-panel a {
    color: #262626;
    line-height: 2.5;
}
.sidebar-panel a:hover {
    color: lightseagreen;
}
.sidebar-panel p {
    font-size: 1.3rem;
    margin-bottom: 0;
}

.opport {
    background-color: #f2f2f2;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opport h2{
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
}
.land-payment, .land-category, .land-options, .land-area-delivery, .land-analytics, .land-network {
    width: 100%;
    background-color: #f2f2f2;
    padding: 2rem 0;
}
.land-img {
    flex-basis: 65%;
    height: 52vh;
}
.land-payment-img {
    background: url(../../wisehands/landing/images/payment1.jpg) no-repeat;
    background-size: cover;
}
.land-text {
    flex-basis: 35%;
    padding-left: 2rem;
}
.land-text-left {
    flex-basis: 35%;
    padding-right: 2rem;
}
.underline {
    width: 50px;
    border-bottom: 2px solid lightseagreen;
    margin: 0.5rem 0;
}
.land-h3 {
    font-size: 2.6rem;
    font-weight: 200;
    padding-bottom: 1rem;
}
.land-p {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 1rem 0;
}
.land-category-img {
    background: url(../../wisehands/landing/images/list.jpg) no-repeat;
    background-size: cover;
}
.land-options-img {
    background: url(../../wisehands/landing/images/options2.jpg) no-repeat;
    background-size: contain;
}
.land-area-delivery-img {
    background: url(../../wisehands/landing/images/area.jpg) no-repeat;
    background-size: contain;
}
.land-analytics-img {
    background: url(../../wisehands/landing/images/analytics.jpg) no-repeat;
    background-size: cover;
}
.land-network-img {
    background: url(../../wisehands/landing/images/network.jpg) no-repeat;
    background-size: cover;
}

.tariff h2 {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    padding: 3rem 0 0 0;
}
.all-tariffs {
    justify-content: space-around;
    padding: 3rem 0;
}
.tariff-item {
    flex-basis: 30%;
    flex-direction: column;
    height: 600px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4), 0px 5px 5px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12), 3px -3px 3px 0px rgba(0,0,0,0.14);
    border-radius: 10px;
}
.tariff-item:hover {
    transform: scale(1.05);
}
.tariff-pro {
    border: 2px solid lightseagreen;
}
.tariff-item-title, .tariff-price {
    text-align: center;
    padding: 2rem 0;
    border-bottom: 1px solid #9e9e9e;
}
.tariff-item-title h4 {
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
.tariff-price h5 {
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 1rem;
    color: lightseagreen;
}
.tariff-price span {
    color: lightseagreen;
    font-weight: 600;
    padding-right: 0.3rem;
}
.tariff-description {
    padding: 1rem;
    height: 200px;
}
.tariff-desc-row {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}
.fa-check {
    color: lightseagreen;
    padding-right: 0.5rem;
}
.tariff-button {
    display: flex;
    justify-content: center;
}
.tariff-button button {
    margin: 1.5rem 0;
    padding: 0.5rem 2rem;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    text-transform: uppercase;
    cursor: pointer;
}
.land-contact {
    height: 100vh;
    display: flex;
}
.land-map {
    background: url(../../wisehands/landing/images/landmap.jpg);
    background-position: center;
    background-size: cover;
    flex-basis: 50%;
}
.land-contact-form {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-between;
}
.land-contact-form h2 {
    font-size: 3rem;
    text-align: center;
    padding-top: 3rem;
}
.contact-card {
    width: 70%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.4), 0px 5px 5px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    margin: 0 auto;
}
.contact-card-text {
    width: 90%;
    margin: 0 auto;
}
.contact-card-text h5 {
    font-weight: 400;
    font-size: 1.7rem;
    padding: 1.5rem 0;
}

.form-field {
    position: relative;
}
input {
    width: 100%;
    box-sizing: border-box;
    margin: 1rem 0;
    padding: 1rem 0 1rem 1rem;
    border: none;
    border-bottom: 1px solid #9e9e9e;
}
input:focus {
    outline: none;
}
input[invalid=true] {
    border-bottom: 1px solid red;
}
label {
    font-size: 1rem;
    position:absolute;
    pointer-events:none;
    top: 31px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
label[invalid=true]{
    color: red;
}
input:focus ~ label, input:not(:placeholder-shown) ~ label 		{
    top: 0;
    font-size:0.9rem;
    color:#20b2aa;
}
.highlight 	{
    position:relative;
    display:block;
    width: 100%;
}
.highlight:before, .highlight:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    top: -17px;
    background:#20b2aa;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.highlight:before {
    left:50%;
}
.highlight:after {
    right:50%;
}

/* active state */
input:focus ~ .highlight:before, input:focus ~ .highlight:after {
    width:50%;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 16px;
    resize: vertical;
}
.contact-landing-button {
    display: flex;
    justify-content: center;
}
.contact-landing-button button {
    margin: 1.5rem 0;
    padding: 0.5rem 3rem;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    text-transform: uppercase;
    cursor: pointer;
}
.contact-landing-button button:hover {
    background-color: #000;
    color: #fff;
}
.contact-address {
    padding: 1rem 0 1rem 3rem;
}
.contact-address-item, .contact-address-item a {
    display: flex;
    align-items: center;
    padding: 0.3rem 0;
}
.contact-address-item i {
    padding: 0 0.5rem;
}
.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: #000;
    color: #fff;
}
.footer-links {
    display: flex;
    padding-left: 1rem;
}
.footer-links a {
    padding-right: 20px;
    cursor: pointer;
}
.footer-copyright {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.footer-copyright a {
    display: flex;
    align-items: center;
}
.footer-copyright img {
    width: 36px;
    padding-left: 10px;
}
footer {
    min-height: 200px;
    background-color: #f2f2f2;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
}
.footer-item h4 {
    font-size: 1.4rem;
    color: #5B5C5E;
    padding-bottom: 1rem;
}
.footer-item {
    font-weight: 400;
    color: #6E6E6E;
    line-height: 2;
}
@media screen and (max-width: 768px) {
    .header-block {
        display: none;
    }
    .burger-menu {
        display: block;
    }
    .main-block {
        height: 72vh;
    }
    .landing-container {
        flex-direction: column;
    }
    .land-text {
        padding: 0 1rem;
    }
    .land-h3 {
        font-size: 2rem;
        padding: 1rem 0;
    }
    .land-category .landing-container, .land-area-delivery .landing-container, .land-network .landing-container {
        flex-direction: column-reverse;
    }
    .land-area-delivery-img {
        background-size: cover;
        background-position: center;
    }
    .land-text-left {
        padding-right: 0;
        padding-left: 1rem;
    }
    .tariff-item {
        width: 90%;
        margin: 0 auto 2rem auto;
    }
    .land-contact {
        height: 100%;
        display: block;
    }
    .land-contact-form {
        flex-basis: unset;
    }
    .land-img {
        flex-basis: unset;
    }
    .land-map {
        display: none;
    }
    .contact-card {
        width: 90%;
        margin-bottom: 1rem;
    }
    .footer-links a {
        padding-right: 10px;
    }
    .footer-copyright p {
        display: none;
    }
}