<style>
    footer {
        display: flex;
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        padding-top: 20px;
        background-color: white;
        font-family: 'Roboto', sans-serif;
    }

    .footer-first-block,
    .footer-second-block {
        display: flex;
        width: 50%;
    }

    .footer-contact p {
        font-size: 0.95em;
    }

    .schedule img,
    .contact-info-icon-container i {
        margin-right: 5px;
    }

    .contact-info {
        padding: 10px;
    }

    .contact-info-icon-container {
        display: flex;
        align-items: baseline;
    }

    .footer-info {
        width: 50%;
    }

    .footer-info h4 {
        font-size: 1.4em;
        font-weight: 550;
        margin-left: 0.5rem;
        padding-bottom: 10px;
    }

    .footer-info ul {
        list-style-type: none;
        margin-left: 0.5rem;
    }

    .footer-info ul li {
        line-height: 1.7;
        font-size: 1.2em;
        color: #000;
    }

    .footer-feedback, .footer-payment {
        width: 50%;
    }

    .footer-feedback h4 {
        font-size: 1.4em;
        font-weight: 550;
        padding-bottom: 10px;
    }

    .footer-feedback p {
        font-size: 1.2em;
        padding: 10px 0;
        line-height: 1.3;
    }

    .footer-icons {
        margin-top: 15px;
    }
    .footer-contact-icon {
        width: 24px;
        margin-right: 2px;
    }
    .footer-contact-icon i {
        display: flex;
        justify-content: center;
    }
    .footer-icons a:first-child {
        margin-right: 10px;
    }

    .footer-icons a:nth-child(2) {
        margin-right: 10px;
    }

    .footer-payment h4 {
        font-size: 1.4em;
        font-weight: 550;
        padding-bottom: 10px;
    }

    .payment-img img {
        width: 60%;
        margin-left: 0.5rem;
    }
    .feedback-float-text {
        display: none;
        font-size: 0.8rem;
    }
    .feedback-input {
        display: flex;
        align-items: center;
    }
    .feedback-input img {
        width: 24px;
    }
    .feedback-input img:hover {
        cursor: pointer;
    }
    input[type=email] {
        width: 150px;
    }
    input[type=submit] {
        background-color: #e0e0e0;
        margin: 10px 0;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    #address {
        word-break: break-word;
    }
    @media screen and (min-width: 1500px) {
        .footer {
            max-width: 1300px;
        }
    }
    @media screen and (max-width: 767px) {
        footer {
            flex-direction: column;
        }

        .footer-first-block,
        .footer-second-block {
            width: 100%;
        }

        .footer-info,
        .footer-feedback,
        .footer-payment {
            margin-bottom: 15px;
        }


        .feedback-input, .feedback-float-text, .offset-left {
            padding-left: 0.5rem;
        }
        input[type=email] {
            width: 80%;
        }
    }

    @media screen and (max-width: 667px) {
        #footer-shop .footer-first-block,
        .footer-second-block {
            flex-direction: column;
            width: 100%;
        }

        #footer-shop .footer-info,
        .footer-feedback, .footer-payment
         {
            width: 100%;
        }

        #footer-shop .footer-info-block {
            display: flex;
        }

        .working-week-time {
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        #footer-shop .footer-info-first-block,
        .footer-info-second-block, .first-working-time-block, .second-working-time-block {
            width: 50%;
        }

        #footer-shop .payment-img {
            width: 50%;
        }

        #footer-shop .offset-left {
            padding-left: 0.5rem;
        }
    }

    @media screen and (max-width: 400px) {
        #footer-shop .footer-info-block,
        .footer-feedback
         {
            flex-direction: column;
        }
    }

    .work-day {
        height: 35px;
        width: 130px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-left: 0.5rem;
    }
    .work-day p {
        margin-right: 1rem;
    }

</style>
<footer id="footer-shop" class="footer">
    <div class="footer-first-block">
        <div class="footer-info">
            <h4>Графік роботи</h4>
            <div class="working-week-time">
                <div class="first-working-time-block">
                    <div class="work-day">
                        <p>ПН</p><h6 id="mon"></h6>
                    </div>
                    <div class="work-day">
                        <p>ВТ</p><h6 id="tue"></h6>
                    </div>
                    <div class="work-day">
                        <p>СР</p><h6 id="wed"></h6>
                    </div>
                    <div class="work-day">
                        <p>ЧТ</p><h6 id="thu"></h6>
                    </div>
                </div>
                <div class="second-working-time-block">
                    <div class="work-day">
                        <p>ПТ</p><h6 id="fri"></h6>
                    </div>
                    <div class="work-day">
                        <p>СБ</p><h6  type="time" id="sat"></h6>
                    </div>
                    <div class="work-day">
                        <p>НД</p><h6  type="time" id="sun"></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-info">
            <h4>Інформація</h4>
            <ul id="pageList">
                <div class="footer-info-block">
                    <div class="footer-info-first-block">
                        <a id="link" href="">
                            <li id="page"></li>
                        </a>
                        <a id="link1" href="">
                            <li id="page1"></li>
                        </a>
                        <a  id="link2" href="">
                            <li id="page2"></li>
                        </a>
                    </div>
                    <div class="footer-info-second-block">
                        <a id="link3" href="">
                            <li id="page3"></li>
                        </a>
                        <a id="link4" href="">
                            <li id="page4"></li>
                        </a>
                        <a id="link5" href="">
                            <li id="page5"></li>
                        </a>
                    </div>
                </div>
            </ul>
        </div>
    </div>

    <div class="footer-second-block">

        <div class="footer-feedback">
            <div class="offset-left">
                <h4>Будьте в курсі</h4>
                <p>Дізнавайесь про найцікавіші новини, знижки та акції</p>
            </div>
            <div id="textfeedback" class="feedback-float-text">
                <p>Вас додано до розсилки</p>
            </div>
            <div id="feedback" class="feedback-input">
                <input id="subEmail" type="email" placeholder="enter your e-maill" required>
                <div>
                    <img id="sendSubEmail" src="/wisehands/assets/images/footer-shop/send.png">
                </div>
            </div>

            <div class="footer-icons offset-left">
                <div class="footer-icons-block">
                    <a href="" id="linkfacebook">
                        <i class="fa fa-facebook" style="font-size:34px"></i>
                    </a>
                    <a href="" id="linkinstagram">
                        <i class="fa fa-instagram" style="font-size:36px"></i>
                    </a>
                    <a href="" id="linkyoutube">
                        <i class="fa fa-youtube-play" style="font-size:36px"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="footer-payment">
            <div class="payment-img">
                <h4 class="offset-left">Приймаємо</h4>
                <img src="/wisehands/assets/images/footer-shop/msvisa1.png">
            </div>
            <div class="contact-info offset-left">
                <div class="contact-info-icon-container" id="divemail">
                    <div class="footer-contact-icon"><i class="fa fa-envelope-o" style="font-size: 16px"></i></div>
                    <div><p id="email"></p></div>
                </div>
                <div class="contact-info-icon-container" id="divphone">
                    <div class="footer-contact-icon"><i class="fa fa-phone" style="font-size: 16px"></i></div>
                    <div><p id="phone"></p></div>
                </div>
                <div class="contact-info-icon-container" id="divaddress">
                    <div class="footer-contact-icon"><i class="fa fa-map-o" style="font-size: 16px"></i></div>
                    <div><p id="address"></p></div>
                </div>
            </div>
        </div>

    </div>
</footer>
<script>

    let subEmail = document.getElementById("subEmail").value;
    document.getElementById("sendSubEmail").onclick = function(){
        document.getElementById("textfeedback").style.display = "block";
        document.getElementById("feedback").style.display = "none";
    };

    fetch('/pageconstructor', {
    method: 'GET',
    headers: {
        'Content-Type': 'application/json'
    }
    }).then(function (response) {
        return response.json();
    }).then(function (data) {
        console.log("data for pages list", data);
        document.getElementById("page").innerHTML = data[0].title;
        document.getElementById("page1").innerHTML = data[1].title;
        document.getElementById("page2").innerHTML = data[2].title;
        document.getElementById("page3").innerHTML = data[3].title;
        document.getElementById("page4").innerHTML = data[4].title;
        document.getElementById("page5").innerHTML = data[5].title;

        document.getElementById("link").href = data[0].url + data[0].uuid;
        document.getElementById("link1").href = data[1].url + data[1].uuid;
        document.getElementById("link2").href = data[2].url + data[2].uuid;
        document.getElementById("link3").href = data[3].url + data[3].uuid;
        document.getElementById("link4").href = data[4].url + data[4].uuid;
        document.getElementById("link5").href = data[5].url + data[5].uuid;
    });


    fetch('/contact/details', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    }).then(function (response) {
        return response.json();
    }).then(function (data) {
        if (!data.linkfacebook) {
            document.getElementById('linkfacebook').style.display = "none";
        }
        if (!data.linkinstagram) {
            document.getElementById('linkinstagram').style.display = "none";
        }
        if (!data.linkyoutube) {
            document.getElementById('linkyoutube').style.display = "none";
        }
        document.getElementById('linkfacebook').href = data.linkfacebook;
        document.getElementById('linkinstagram').href = data.linkinstagram;
        document.getElementById('linkyoutube').href = data.linkyoutube;
        if (!data.email) {
            document.getElementById('divemail').style.display = "none";
        }
        if (!data.phone) {
            document.getElementById('divphone').style.display = "none";
        }
        if (!data.addressCity) {
            document.getElementById('divaddress').style.display = "none";
        }
        document.getElementById('email').innerHTML = data.email;
        document.getElementById('phone').innerHTML = data.phone;
        document.getElementById('address').innerHTML = data.addressCity + ', ' + data.addressStreet + ', ' + data.addressNumberHouse;
    });


    fetch('/shop/details/public', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    }).then(function (response) {
        return response.json();
    }).then(function (data) {




        console.log("response for footer data", data);
        if (data.monOpen === true) {
            document.getElementById('mon').innerHTML = 'Зачинено';
        } else {
            document.getElementById('mon').innerHTML = setWorkingHours(data.monStartTime, data.monEndTime);
        }
        if (data.tueOpen === true) {
            document.getElementById('tue').innerHTML = 'Зачинено';
        } else {
            document.getElementById('tue').innerHTML = setWorkingHours(data.tueStartTime, data.tueEndTime);
        }
        if (data.wedOpen === true) {
            document.getElementById('wed').innerHTML = 'Зачинено';
        } else {
            document.getElementById('wed').innerHTML = setWorkingHours(data.wedStartTime, data.wedEndTime);
        }
        if (data.thuOpen === true) {
            document.getElementById('thu').innerHTML = 'Зачинено';
        } else {
            document.getElementById('thu').innerHTML = setWorkingHours(data.thuStartTime, data.thuEndTime);
        }
        if (data.friOpen === true) {
            document.getElementById('fri').innerHTML = 'Зачинено';
        } else {
            document.getElementById('fri').innerHTML = setWorkingHours(data.friStartTime, data.friEndTime);
        }
        if (data.satOpen === true) {
            document.getElementById('sat').innerHTML = 'Зачинено';
        } else {
            document.getElementById('sat').innerHTML = setWorkingHours(data.satStartTime, data.satEndTime);
        }
        if (data.sunOpen === true) {
            document.getElementById('sun').innerHTML = 'Зачинено';
        } else {
            document.getElementById('sun').innerHTML = setWorkingHours(data.sunStartTime, data.sunEndTime);
        }
    });

    function setWorkingHours(startTime, endTime){
        let parseStartDate = startTime.split(/[^0-9]/);
        let _startDate = new Date (parseStartDate[0],parseStartDate[1]-1,parseStartDate[2],parseStartDate[3],parseStartDate[4],parseStartDate[5] );

        let parseEndDate = endTime.split(/[^0-9]/);
        let _endDate = new Date(parseEndDate[0],parseEndDate[1]-1,parseEndDate[2],parseEndDate[3],parseEndDate[4],parseEndDate[5]);

        let workingHours = getRightFormat(_startDate.getHours()) + ":" +
            getRightFormat(_startDate.getMinutes()) + "-" +
            getRightFormat(_endDate.getHours()) + ":" +
            getRightFormat(_endDate.getMinutes());

        return workingHours;
    }

    function getRightFormat(number) {
        let formattedNumber;
        if(number < 10) {
            formattedNumber = '0' + number;
        } else {
            formattedNumber = '' + number;
        }
        return formattedNumber;
    }


</script>
