<style>
    header {
        background-color: #ebebeb;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    }
    .header-menu {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 10px 15px;
    }
    .shop-icon img, .header-cart img{
        width: 30px;
        height: 30px;
    }
</style>
<header>
    <div class="header-menu">
        <div class="shop-icon">
            <a href="/">
                <img id="shop-logo" src="">
            </a>
        </div>
        <div class="header-cart">
            <i class="fa fa-shopping-cart"> </i>
        </div>

    </div>
</header>
<script>

    fetch('/shop/details/public', {
    method: 'GET',
    headers: {
        'Content-Type': 'application/json'
    }
    }).then(function (response) {
        return response.json();
    }).then(function (data) {
        console.log("data /shop/details/public", data);

        if (data.visualSetting.shopLogo){
            document.getElementById('shop-logo').src = '/public/shop_logo/' + data.uuid + '/' + data.visualSetting.shopLogo;
        } else {
            document.getElementById('shop-logo').src = '/wisehands/assets/images/wiseblack.png';
        }

    });

</script>
