<nav class="navbar navbar-default navbar-fixed-top smartPhoneView" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header text-center">
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <button type="button"
                            class="navbar-toggle collapsed glyphicon glyphicon-menu-hamburger landscapeFloatLeft"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                    </button>
                </div>
                <div class="col-xs-7 col-sm-7 vcenter">
                    <h4><b>Контакти</b></h4>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <spinner class="center-block spinnerCentering landscapeFloatRight" name="mySpinner" img-src="public/spinner/box-xs.gif" show="loading"></spinner>
                    <span class="glyphicon glyphicon-floppy-disk verticalCentering landscapeFloatRight" ng-click="updateContacts()" ng-hide="loading"></span>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/">Замовлення</a></li>
                <li><a href="#/products">Товари</a></li>
                <li><a href="#/delivery">Доставка</a></li>
                <li ng-class="{active: $route.current.activetab == 'contacts'}"><a href="#/contacts">Контакти</a></li>
                <li><a href="#/settings">Налаштування</a></li>
                <hr class="hrMargin">
                <li ng-click="signOut()" target="_self"><a>Вийти</a></li>
            </ul>
        </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-top tabletView" role="navigation">
    <div class="row">
        <div class="col-xs-2 col-sm-2 searchBarCentering">
            <div class="dropdown pull-left">
                <button class="btn btn-default dropdown-toggle navButtonBackground" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-option-vertical"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#/">Замовлення</a></li>
                    <li><a href="#/products">Товари</a></li>
                    <li><a href="#/delivery">Доставка</a></li>
                    <li ng-class="{active: $route.current.activetab == 'contacts'}"><a href="#/contacts">Контакти</a></li>
                    <li><a href="#/settings">Налаштування</a></li>
                    <hr class="hrMargin">
                    <li ng-click="signOut()" target="_self"><a>Вийти</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-8 col-sm-8 vcenter text-center">
            <h4><b>Контакти</b></h4>
        </div>
        <div class="col-xs-2 col-sm-2">
            <spinner class="center-block spinnerCentering landscapeFloatRight" name="mySpinner" img-src="public/spinner/box-xs.gif" show="loading"></spinner>
            <span class="glyphicon glyphicon-floppy-disk verticalCentering landscapeFloatRight" ng-click="updateContacts()" ng-hide="loading"></span>
        </div>
    </div>
</nav>

<div class="navbar navbar-default navbar-fixed-left">
    <a href="{{getUrl(activeShop)}}" class="navbar-brand">{{activeShop.shopName}}</a>
    <ul class="nav navbar-nav">
        <li><a href="#/">Замовлення</a></li>
        <li><a href="#/products">Товари</a></li>
        <li><a href="#/delivery">Доставка</a></li>
        <li ng-class="{ordersActiveStateDesktop: $route.current.activetab == 'contacts'}"><a href="#/contacts">Контакти</a></li>
        <li><a href="#/settings">Налаштування</a></li>
        <hr class="desktopNavProductsDivider">
        <li ng-click="signOut()" target="_self"><a>Вийти</a></li>
    </ul>
    <button type="button" class="btn btn-default col-md-offset-1 col-md-10 buttonTopMargin" aria-haspopup="true" aria-expanded="false" ng-click="updateContacts()">
        <span class="glyphicon glyphicon-floppy-disk pull-left"></span>
        Зберегти зміни
    </button>
    <div class="col-md-12">
        <spinner class="col-md-offset-2" name="mySpinner" img-src="public/spinner/box.gif" show="loading"></spinner>
    </div>
</div>


<div class="container-fluid settingsDesktopContainer">
    <div class="well">
        <form id="productForm" class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-12">Номер телефону
                    <input class="form-control" type="text" ng-model="contacts.phone"/>
                </label>
            </div>
            <div class="form-group">
                <label class="col-xs-12">E-mail
                    <input class="form-control" type="email" ng-model="contacts.email"/>
                </label>
            </div>
            <div class="form-group">
                <label class="col-xs-12">Адреса
                    <input class="form-control" type="text" ng-model="contacts.address"/>
                </label>
            </div>
            <div class="form-group">
                <label class="col-xs-12">Опис
                    <textarea class="form-control" type="text" ng-model="contacts.description"></textarea>
                </label>
            </div>
        </form>
    </div>
</div>
