<nav class="navbar navbar-default navbar-fixed-top smartPhoneView" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header text-center">
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <button type="button"
                            class="navbar-toggle collapsed glyphicon glyphicon-menu-hamburger landscapeFloatLeft"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                    </button>
                </div>
                <div class="col-xs-7 col-sm-7 vcenter">
                    <h4><b>Доставка</b></h4>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/">Замовлення</a></li>
                <li><a href="#/products">Товари</a></li>
                <li><a href="#/delivery">Доставка</a></li>
                <li ng-class="{active: $route.current.activetab == 'contacts'}"><a href="#/contacts">Контакти</a></li>
                <li><a href="#/settings">Налаштування</a></li>
            </ul>
        </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-top tabletView" role="navigation">
    <div class="row">
        <div class="col-xs-5 col-sm-5 searchBarCentering">
            <div class="dropdown pull-left">
                <button class="btn btn-default dropdown-toggle navButtonBackground" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-option-vertical"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#/">Замовлення</a></li>
                    <li><a href="#/products">Товари</a></li>
                    <li><a href="#/delivery">Доставка</a></li>
                    <li ng-class="{active: $route.current.activetab == 'contacts'}"><a href="#/contacts">Контакти</a></li>
                    <li><a href="#/settings">Налаштування</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 vcenter">
            <h4><b>Доставка</b></h4>
        </div>
    </div>
</nav>

<div class="navbar navbar-default navbar-fixed-left">
    <a href="{{getUrl(activeShop)}}" class="navbar-brand">{{activeShop.shopName}}</a>
    <ul class="nav navbar-nav">
        <li><a href="#/">Замовлення</a></li>
        <li><a href="#/products">Товари</a></li>
        <li><a href="#/delivery">Доставка</a></li>
        <li ng-class="{ordersActiveStateDesktop: $route.current.activetab == 'contacts'}"><a href="#/contacts">Контакти</a></li>
        <li><a href="#/settings">Налаштування</a></li>
        <hr class="desktopNavProductsDivider">
    </ul>
</div>


<div class="container-fluid settingsDesktopContainer">
    <div class="well">
        <form id="productForm" class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-12">Номер телефону
                    <input class="form-control" type="number" ng-model="phone"/>
                </label>
            </div>
            <div class="form-group">
                <label class="col-xs-12">E-mail
                    <input class="form-control" type="email" ng-model="email"/>
                </label>
            </div>
            <div class="form-group">
                <label class="col-xs-12">Опис
                    <textarea class="form-control" type="text" ng-model="description"></textarea>
                </label>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-offset-9 col-sm-3">
                    <button class="btn btn-primary btn-block" ng-click="updateStoreSettings()">Зберегти зміни</button>
                </div>
            </div>
        </form>
    </div>
</div>
