<nav class="navbar navbar-default navbar-fixed-top smartPhoneView" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header text-center">
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <button type="button"
                            class="navbar-toggle collapsed glyphicon glyphicon-menu-hamburger landscapeFloatLeft"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                    </button>
                </div>
                <div class="col-xs-7 col-sm-7 vcenter">
                    <h4><b>Доставка</b></h4>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/">Замовлення</a></li>
                <li><a href="#/products">Товари</a></li>
                <li ng-class="{active: $route.current.activetab == 'delivery'}"><a href="#/delivery">Доставка</a></li>
                <li><a href="#/contacts">Контакти</a></li>
                <li><a href="#/settings">Налаштування</a></li>
                <hr class="hrMargin">
                <li ng-click="signOut()" target="_self"><a>Вийти</a></li>
            </ul>
        </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-top tabletView" role="navigation">
    <div class="row">
        <div class="col-xs-5 col-sm-5 searchBarCentering">
            <div class="dropdown pull-left">
                <button class="btn btn-default dropdown-toggle navButtonBackground" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-option-vertical"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#/">Замовлення</a></li>
                    <li><a href="#/products">Товари</a></li>
                    <li ng-class="{active: $route.current.activetab == 'delivery'}"><a href="#/delivery">Доставка</a></li>
                    <li><a href="#/contacts">Контакти</a></li>
                    <li><a href="#/settings">Налаштування</a></li>
                    <hr class="hrMargin">
                    <li ng-click="signOut()" target="_self"><a>Вийти</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 vcenter">
            <h4><b>Доставка</b></h4>
        </div>
    </div>
</nav>

<div class="navbar navbar-default navbar-fixed-left">
    <a href="{{getUrl(activeShop)}}" class="navbar-brand">{{activeShop.shopName}}</a>
    <ul class="nav navbar-nav">
        <li><a href="#/">Замовлення</a></li>
        <li><a href="#/products">Товари</a></li>
        <li ng-class="{ordersActiveStateDesktop: $route.current.activetab == 'delivery'}"><a href="#/delivery">Доставка</a></li>
        <li><a href="#/contacts">Контакти</a></li>
        <li><a href="#/settings">Налаштування</a></li>
        <hr class="desktopNavProductsDivider">
        <li ng-click="signOut()" target="_self"><a>Вийти</a></li>
    </ul>
</div>

<div class="container-fluid containerSize col-md-offset-3 verticalPaddingDelivery">
    <a href="#/delivery/newPost">
        <div class="col-xs-12 col-sm-12 col-md-11 vcentering thumbnail">
            <div class="col-xs-3">
                <img src="public/logoimages/nova-poshta-logo.png" class="img-responsive">
            </div>
            <div class="col-xs-9">
                <h4>Нова Пошта</h4>
            </div>
        </div>
    </a>
    <a href="#/delivery/courier">
        <div class="col-xs-12 col-sm-12 col-md-11 vcentering thumbnail">
            <div class="col-xs-3">
                <img src="public/logoimages/courier-logo.png" class="img-responsive">
            </div>
            <div class="col-xs-9">
                <h4>Доставка Кур'єром</h4>
            </div>
        </div>
    </a>
    <a href="#/delivery/selfTake">
        <div class="col-xs-12 col-sm-12 col-md-11 vcentering thumbnail">
            <div class="col-xs-3">
                <img src="public/logoimages/self-take.png" class="img-responsive">
            </div>
            <div class="col-xs-9">
                <h4>Самовивіз</h4>
            </div>
        </div>
    </a>
</div>