<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header text-center">
            <div class="row">
                <div class="col-xs-2">
                    <a href="#/"><span class="glyphicon glyphicon-arrow-left vertcialCentering"></span></a>
                </div>
                <div class="col-xs-8 vcenter">
                    <h4><b>Критерії пошуку</b></h4>
                </div>
                <div class="dropdown col-xs-2">
                    <span class="glyphicon glyphicon-search vertcialCentering"></span>
                </div>
            </div>
        </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="[ form-group ]">
                <input type="checkbox" name="fancy-checkbox-default1" id="fancy-checkbox-default1" autocomplete="off" />
                <div class="[ btn-group ]">
                    <label for="fancy-checkbox-default1" class="[ btn btn-default ]">
                        <span class="[ glyphicon glyphicon-ok ]"></span>
                        <span> </span>
                    </label>
                    <label for="fancy-checkbox-default1" class="[ btn btn-default active ] fixedWidth">
                        Нові замовлення
                    </label>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="[ form-group ]">
                <input type="checkbox" name="fancy-checkbox-default2" id="fancy-checkbox-default2" autocomplete="off" />
                <div class="[ btn-group ]">
                    <label for="fancy-checkbox-default2" class="[ btn btn-default ]">
                        <span class="[ glyphicon glyphicon-ok ]"></span>
                        <span> </span>
                    </label>
                    <label for="fancy-checkbox-default2" class="[ btn btn-default active ] fixedWidth">
                        Оплачені замовлення
                    </label>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="[ form-group ]">
                <input type="checkbox" name="fancy-checkbox-default3" id="fancy-checkbox-default3" autocomplete="off" />
                <div class="[ btn-group ]">
                    <label for="fancy-checkbox-default3" class="[ btn btn-default ]">
                        <span class="[ glyphicon glyphicon-ok ]"></span>
                        <span> </span>
                    </label>
                    <label for="fancy-checkbox-default3" class="[ btn btn-default active ] fixedWidth">
                        Повернені замовлення
                    </label>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="[ form-group ]">
                <input type="checkbox" name="fancy-checkbox-default4" id="fancy-checkbox-default4" autocomplete="off" />
                <div class="[ btn-group ]">
                    <label for="fancy-checkbox-default4" class="[ btn btn-default ]">
                        <span class="[ glyphicon glyphicon-ok ]"></span>
                        <span> </span>
                    </label>
                    <label for="fancy-checkbox-default4" class="[ btn btn-default active ] fixedWidth">
                        Скасовані замовлення
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="[ form-group ]">
            <input type="checkbox" name="fancy-checkbox-default5" id="fancy-checkbox-default5" autocomplete="off" />
            <div class="[ btn-group ]">
                <label for="fancy-checkbox-default5" class="[ btn btn-default ]">
                    <span class="[ glyphicon glyphicon-ok ]"></span>
                    <span> </span>
                </label>
                <label for="fancy-checkbox-default5" class="[ btn btn-default active ] fixedWidth">
                    Відправлені замовлення
                </label>
            </div>
        </div>
    </div>
</div>
</div>