<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header text-center">
            <div class="row">
                <div class="col-xs-3">
                    <button type="button"
                            class="navbar-toggle collapsed glyphicon glyphicon-menu-hamburger"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                    </button>
                </div>
                <div class="col-xs-7 vcenter">
                    <h4><b>Замовлення</b></h4>
                </div>
                <div class="col-xs-2">
                    <a href="#/filter"><span class="glyphicon glyphicon-filter vertcialCentering"></span></a>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/">Замовлення</a></li>
                <li><a href="#/products">Товари</a></li>
            </ul>
        </div>
</nav>
<h4 class="text-center"><i>{{status}}</i></h4>
<h4 class="text-center" ng-show="(orders | filter:orderFilter).length == 0 && orders.length != 0"><i>No</i></h4>
<div class="wellSideMargin rowBackground" ng-repeat="item in orders | filter:orderFilter">
    <a href ="#/details/{{item.uuid}}">
        <div class="row">
            <div class="col-xs-7 parentTextCentering">
                <h5 class="truncate text-center">{{item.name}}</h5>
            </div>
            <div class="col-xs-4 childTextCentering">
                <p class="text-center">₴ {{item.total}}</p>
            </div>
            <div class="col-xs-1 thumbnail orderState text-center" ng-style="{ 'background-color': orderState(item) }">
                <p>&nbsp;</p>
            </div>
        </div>
    </a>
</div>