<nav class="navbar navbar-default navbar-fixed-top smartPhoneView" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header text-center">
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <button type="button"
                            class="navbar-toggle collapsed glyphicon glyphicon-menu-hamburger landscapeFloatLeft"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                    </button>
                </div>
                <div class="col-xs-6 col-sm-6 vcenter">
                    <h4><b>Товари</b></h4>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <a href="#/products/new">
                        <span class="glyphicon glyphicon-plus verticalCentering landscapeFloatRight"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/">Замовлення</a></li>
                <li ng-class="{active: $route.current.activetab == 'productlist'}"><a href="#/products">Товари</a></li>
                <li><a href="#/delivery">Доставка</a></li>
                <li><a href="#/settings">Налаштування</a></li>
            </ul>
        </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-top tabletView" role="navigation">
    <div class="row">
        <div class="col-xs-5 col-sm-5 searchBarCentering">
            <div class="dropdown pull-left">
                <button class="btn btn-default dropdown-toggle navButtonBackground" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-option-vertical"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#/">Замовлення</a></li>
                    <li ng-class="{active: $route.current.activetab == 'productlist'}"><a href="#/products">Товари</a></li>
                    <li><a href="#/delivery">Доставка</a></li>
                    <li><a href="#/settings">Налаштування</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-5 col-sm-5 vcenter">
            <h4><b>Товари</b></h4>
        </div>
        <div class="col-xs-2 col-sm-2">
            <a href="#/products/new">
                <span class="glyphicon glyphicon-plus verticalCentering landscapeFloatRight"></span>
            </a>
        </div>
    </div>
</nav>

<div class="navbar navbar-default navbar-fixed-left">
    <a class="navbar-brand">{{activeShop.shopName}}</a>
    <ul class="nav navbar-nav">
        <li><a href="#/">Замовлення</a></li>
        <li ng-class="{ordersActiveStateDesktop: $route.current.activetab == 'productlist'}"><a href="#/products">Товари</a></li>
        <li><a href="#/delivery">Доставка</a></li>
        <li><a href="#/settings">Налаштування</a></li>
        <hr class="desktopNavProductsDivider">
    </ul>
    <a href="#/products/new">
        <button type="button"
                class="btn btn-default buttonTopMargin col-md-offset-1 col-md-10">
            <span class="glyphicon glyphicon-plus pull-left"></span>
            Додати
        </button>
    </a>
</div>

<div class="container-fluid productStatusMargin">
    <h4 class="text-center"><i>{{status}}</i></h4>
</div>
<div class="wellSideMargin desktopView" ng-repeat="product in products">
    <div class="col-xs-12 col-sm-6 rightPadding">
        <div class="row rowBackground">
            <a href="#/product/details/{{product.uuid}}">
                <div class="col-xs-9 col-sm-9">
                    <h5 class="text-left truncate"><i>{{product.name}}</i></h5>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <h5 class="text-right">₴ <b>{{product.price}}</b></h5>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row text-center desktopSpinner">
    <spinner class="center-block" name="mySpinner" img-src="public/spinner/box.gif" on-loaded="getResource()"></spinner>
</div>

<div class="wellSideMargin desktopProductsView" ng-repeat="product in products">
    <div class="col-xs-12 col-sm-6 rightPadding">
        <div class="row rowBackground productImageTopPadding">
            <a href="#/product/details/{{product.uuid}}">
                <div class="thumbnail col-md-3">
                    <img ng-src="/public/product_images/{{product.fileName}}" class="img-responsive"></img>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="text-left truncate"><i>{{product.name}}</i></h5>
                    </div>
                    <div class="col-md-2">
                        <h5 class="text-right">₴ <b>{{product.price}}</b></h5>
                    </div>
                    <div class="col-md-8">
                        <h5 class="productDescriptionTruncate">{{product.description}}</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>