<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header text-center">
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <button type="button"
                            class="navbar-toggle collapsed glyphicon glyphicon-menu-hamburger landscapeFloatLeft"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                    </button>
                </div>
                <div class="col-xs-6 col-sm-6 vcenter">
                    <h4><b>Товари</b></h4>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <a href="#/products/new">
                        <span class="glyphicon glyphicon-plus verticalCentering landscapeFloatRight"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/">Замовлення</a></li>
                <li><a href="#/products">Товари</a></li>
            </ul>
        </div>
</nav>
<h4 class="text-center"><i>{{status}}</i></h4>
<div class="well wellSideMargin" ng-repeat="product in products">
    <a href="#/product/details/{{product.uuid}}"><div class="row row-centered">
        <div class="col-xs-6 col-sm-6">
            <h5 class="text-left"><i>{{product.name}}</i></h5>
        </div>
        <div class="col-xs-6 col-sm-6">
            <h5 class="text-right">₴ <b>{{product.price}}</b></h5>
        </div>
    </div></a>
</div>