<nav class="navbar navbar-default navbar-fixed-top smartPhoneView" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header text-center">
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <button type="button"
                            class="navbar-toggle collapsed glyphicon glyphicon-menu-hamburger landscapeFloatLeft"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                    </button>
                </div>
                <div class="col-xs-7 col-sm-7 vcenter">
                    <h4><b>Налаштування</b></h4>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <spinner class="center-block spinnerCentering landscapeFloatRight" name="mySpinner" img-src="public/spinner/box-xs.gif" show="loading"></spinner>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/">Замовлення</a></li>
                <li><a href="#/products">Товари</a></li>
                <li><a href="#/delivery">Доставка</a></li>
                <li ng-class="{active: $route.current.activetab == 'settings'}"><a href="#/settings">Налаштування</a></li>
            </ul>
        </div>

</nav>

<nav class="navbar navbar-default navbar-fixed-top tabletView" role="navigation">
    <div class="row">
        <div class="col-xs-5 col-sm-5 searchBarCentering">
            <div class="dropdown pull-left">
                <button class="btn btn-default dropdown-toggle navButtonBackground" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-option-vertical"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#/">Замовлення</a></li>
                    <li><a href="#/products">Товари</a></li>
                    <li><a href="#/delivery">Доставка</a></li>
                    <li ng-class="{active: $route.current.activetab == 'settings'}"><a href="#/settings">Налаштування</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 vcenter">
            <h4><b>Налаштування</b></h4>
        </div>
        <div class="col-xs-1 col-sm-1">
            <spinner class="center-block spinnerCentering landscapeFloatRight" name="mySpinner" img-src="public/spinner/box-xs.gif" show="loading"></spinner>
        </div>
    </div>
</nav>

<div class="navbar navbar-default navbar-fixed-left">
    <a class="navbar-brand">HappyBag</a>
    <ul class="nav navbar-nav">
        <li><a href="#/">Замовлення</a></li>
        <li><a href="#/products">Товари</a></li>
        <li><a href="#/delivery">Доставка</a></li>
        <li ng-class="{ordersActiveStateDesktop: $route.current.activetab == 'settings'}"><a href="#/settings">Налаштування</a></li>
        <hr class="desktopNavProductsDivider">
    </ul>
    <div class="col-md-12">
        <spinner class="col-md-offset-2" name="mySpinner" img-src="public/spinner/box.gif" show="loading"></spinner>
    </div>
</div>

<div class="container-fluid">
    <div class="well">
        <form id="productForm" class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-12">
                    <select class="form-control"
                            ng-model="selectedShop"
                            ng-change="shopSelected(shop)"
                            ng-options="shop as shop.shopName for shop in shops"
                            name="size">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#createNewStoreModal">Створити новий магазин</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="createNewStoreModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title text-center" id="myModalLabel"><b>Створити новий магазин</b></h4>
            </div>
            <div class="modal-body">
                <form name="createNewStoreForm">
                    <div class="form-group">
                        <label>Назва магазину
                            <input class="form-control" ng-model="newStore.name" type="text" required/>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Домен
                            <input class="form-control" ng-model="newStore.domain" type="text" placeholder="mynewstore.com" required/>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Публічний LiqPay ключ
                            <input class="form-control" ng-model="newStore.publicLiqpay" type="text" required/>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Приватний LiqPay ключ
                            <input class="form-control" ng-model="newStore.privateLiqpay" type="text" required/>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success toPayment" ng-click="createNewStore()" ng-disabled="createNewStoreForm.$invalid">Створити <span class="glyphicon glyphicon-play"></button>
            </div>
        </div>
    </div>
</div>