<nav class="navbar navbar-default navbar-fixed-top desktopView" role="navigation">
    <div class="row">
        <div class="col-xs-2 col-sm-2">
            <a href="#/"><span class="glyphicon glyphicon-arrow-left verticalCentering landscapeFloatLeft"></span></a>
        </div>
        <div class="col-xs-8 col-sm-8 vcenter">
            <h4 class="text-center"><b>Деталі замовлення</b></h4>
        </div>
        <div class="dropdown col-xs-2 col-sm-2">
            <span   type="button"
                    class="dropdown-toggle glyphicon glyphicon-pencil verticalCentering landscapeFloatRight"
                    data-toggle="dropdown"
                    id="dropdownMenu1"
                    aria-haspopup="true"
                    aria-expanded="true">
            </span>

            <ul class="dropdown-menu pull-right tabletDropdown" aria-labelledby="dropdownMenu1">
                <li ng-click="payedOrder()"><a>Оплачено</a></li>
                <li ng-click="shippedOrder()"><a>Надіслано</a></li>
                <li ng-click="cancelledOrder()"><a>Скасовано</a></li>
                <li ng-click="returnedOrder()"><a>Повернено</a></li>
                <li class="divider"></li>
                <li data-toggle="modal" data-target="#deleteOrder"><a>Видалити</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="navbar navbar-default navbar-fixed-left">
    <div class="row col-md-12 verticalCentering">
        <a href="#/">
            <button type="button" class="btn btn-default col-md-offset-1 col-md-12">
                <span class="glyphicon glyphicon-arrow-left pull-left"></span>
                Назад
            </button>
        </a>
    </div>
    <button type="button" class="btn btn-default dropdown-toggle col-md-offset-1 col-md-10 buttonTopMargin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-pencil pull-left"></span>
        Змінити статус
    </button>
    <div class="dropdown-menu desktopDropdown col-md-10">
        <ul class="text-center">
            <li ng-click="payedOrder()"><a>Оплачено</a></li>
            <li ng-click="shippedOrder()"><a>Надіслано</a></li>
            <li ng-click="cancelledOrder()"><a>Скасовано</a></li>
            <li ng-click="returnedOrder()"><a>Повернено</a></li>
            <hr>
            <li data-toggle="modal" data-target="#deleteOrder"><a>Видалити</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid desktopProductsView">
    <h4></h4>
</div>
<div class="well wellSideMargin singleOrderLeftMargin">
    <div class="row text-center">
        <div class="col-xs-12 col-sm-6">
            <h4><b>П.І.П. замовника: </b><p><i>{{order.name}}</i></p></h4>
            <h4><b>Номер телефону: </b><p><i>{{order.phone}}</i></p></h4>
            <h4><b>Адреса: </b><p><i>{{order.address}}</i></p></h4>
            <h4 ng-show="order.deliveryType === 'NOVAPOSHTA'"><b>Номер відділення: </b><p><i>{{order.departmentNumber}}</i></p></h4>
            <h4><b>Сума замовлення: </b><p><i>{{order.total}} грн</i></p></h4>
            <h4><b>Статус замовлення: </b><p><i>{{orderState(order)}}</i></p></h4>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4><b>Замовлення: </b></h4>
            <div class="row" ng-repeat="chocolate in order.items">
                <div class="col-xs-6 col-sm-6">
                    <p>{{chocolate.productDTO.name}}</p>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <p>{{chocolate.quantity}} шт.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteOrder" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p><i>{{deleteMessage}}</i></p>
                <button type="button" class="btn btn-danger btn-sm center-block" ng-click="deleteOrder()" ng-hide="deleteButton">Видалити замовлення</button>
                <a href="#/">
                    <button type="button" class="btn btn-success btn-sm center-block" ng-show="deleteButton" ng-click="hideModal()">Ok</button>
                </a>

            </div>
        </div>
    </div>
</div>