<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header text-center">
            <div class="row">
                <div class="col-xs-2">
                    <a href="#/"><span class="glyphicon glyphicon-arrow-left vertcialCentering"></span></a>
                </div>
                <div class="col-xs-8 vcenter">
                    <h4><b>Деталі замовлення</b></h4>
                </div>
                <div class="dropdown col-xs-2">
                    <span   type="button"
                            class="dropdown-toggle glyphicon glyphicon-pencil vertcialCentering"
                            data-toggle="dropdown"
                            id="dropdownMenu1"
                            aria-haspopup="true"
                            aria-expanded="true">
                    </span>
                    <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                        <li><a>Оплачено</a></li>
                        <li><a>Відмінено</a></li>
                        <li><a>Повернено</a></li>
                        <li><a>Надіслано</a></li>
                    </ul>
                </div>
            </div>
        </div>
</nav>

<div class="well wellSideMargin">
    <div class="row text-center">
        <div class="col-xs-12">
            <h4><b>П.І.П. замовника: </b><p><i>{{order.name}}</i></p></h4>
            <h4><b>Номер телефону: </b><p><i>{{order.phone}}</i></p></h4>
            <h4><b>Адреса: </b><p><i>{{order.address}}</i></p></h4>
            <h4 ng-show="order.deliveryType === 'NOVAPOSHTA'"><b>Номер відділення: </b><p><i>{{order.departmentNumber}}</i></p></h4>
            <h4><b>Сума замовлення: </b><p><i>{{order.total}} грн</i></p></h4>
            <h4><b>Статус замовлення: </b><p><i>{{orderState(order)}}</i></p></h4>
            <h4><b>Замовлення: </b></h4>
                <div class="row" ng-repeat="chocolate in order.items">
                    <div class="col-xs-6">
                        <p>{{chocolate.productDTO.name}}</p>
                    </div>
                    <div class="col-xs-6">
                        <p>{{chocolate.quantity}} шт.</p>
                    </div>
                </div>
            <button type="button"
                    class="btn btn-danger btn-xs"
                    data-toggle="modal"
                    data-target="#deleteOrder">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Видалити
            </button>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteOrder" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p><i>{{deleteMessage}}</i></p>
                <button type="button" class="btn btn-danger btn-sm center-block" ng-click="deleteOrder()" ng-hide="deleteButton">Видалити замовлення</button>
                <a href="#/"><button type="button" class="btn btn-success btn-sm center-block" ng-show="deleteButton" ng-click="hideModal()">Ok</button></a>

            </div>
        </div>
    </div>
</div>