<header>
    <nav class="navbar navbar-fixed-top scrolling-navbar double-nav vcentering" shop-styling style="background-color: {{shopStyling.navbarColor}}">
        <ul class="nav navbar-nav pull-left col-xs-2">
            <li class="nav-item">
                <a class="nav-link" href="javascript:history.back()" style="color: {{shopStyling.navbarTextColor}}"><i class="fa fa-reply"></i> <span class="hidden-sm-down"></span></a>
            </li>
        </ul>
        <h4 class="text-xs-center col-xs-8" style="color: {{shopStyling.navbarTextColor}}"><b>Нова Пошта</b></h4>
    </nav>
</header>
<main class="p-t-6 noSidePadding">
    <div class="container">

    </div>
</main>
