<style>
    #footer-shop {
        display: none;
    }
</style>
<header>
    <nav class="navbar navbar-fixed-top scrolling-navbar double-nav vcentering" shop-styling style="background-color: {{shopStyling.navbarColor}}">
        <ul class="nav navbar-nav pull-left col-xs-2">
            <li class="nav-item">
                <a class="nav-link" href="javascript:history.back()" style="color: {{shopStyling.navbarTextColor}}"><i class="fa fa-reply"></i> <span class="hidden-sm-down"></span></a>
            </li>
        </ul>
        <h4 class="text-xs-center col-xs-8" style="color: {{shopStyling.navbarTextColor}}"><b>Нова Пошта</b></h4>
    </nav>
</header>
<main class="p-t-6 noSidePadding">
    <div class="container">
        <div class="row newPostFlexContainer">
            <div class="form-group col-xs-12" ng-class="newPostAutocomplete.formatted_address ? 'col-sm-8' : 'col-sm-12'">
                <b>Адреса</b>
                <input class="form-control validate"
                       g-places-autocomplete
                       placeholder="Введіть адресу"
                       id="newPostAddress"
                       ng-model="newPostAutocomplete"
                       ng-change="newPostChange()"
                       type="text" />
            </div>
            <div class="col-xs-12 col-sm-4" ng-show="newPostAutocomplete.formatted_address">
                <button ng-click="getClosestDepartments()" class="btn btn-secondary waves-effect btn-block" ng-hide="loading">Знайти</button>
                <spinner name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="loading"></spinner>
            </div>
        </div>
        <div class="pt-1" ng-show="newPostAutocomplete.formatted_address">
            <div id="map-container2" class="z-depth-1-half map-container wow fadeInUp" data-wow-delay="0.1s" style="height: 300px"></div>
        </div>
    </div>
</main>
