<header>
    <nav class="navbar navbar-fixed-top scrolling-navbar double-nav vcentering pl-0" shop-styling style="background-color: {{shopStyling.navbarColor}}">
        <ul class="nav navbar-nav pull-left col-xs-2">
            <li class="nav-item">
                <a class="nav-link" href="javascript:history.back()" style="color: {{shopStyling.navbarTextColor}}"><i class="fa fa-reply"></i> <span class="hidden-sm-down"></span></a>
            </li>
        </ul>
        <h4 class="text-xs-center col-xs-8" style="color: {{shopStyling.navbarTextColor}}"><b>{{'shopView.orderForm' | translate}}</b></h4>
    </nav>
</header>
<main class="p-t-6 noSidePadding">
    <div class="container">
        <form id="orderForm" name="orderForm" ng-submit="makeOrder()">
            <h5 class="deliveryType"><b>{{'shopView.deliveryType' | translate}}</b></h5>
            <fieldset class="form-group" ng-show="deliverance.isCourierAvailable">
                <input name="deliverance"
                       type="radio"
                       class="with-gap"
                       id="radio1"
                       ng-model="deliveryType"
                       ng-required="!deliveryType"
                       value="COURIER">
                <label for="radio1"><i>{{deliverance.courierText}}</i></label>
            </fieldset>
            <fieldset class="form-group" ng-show="deliverance.isNewPostAvailable">
                <input name="deliverance"
                       type="radio"
                       class="with-gap"
                       id="radio2"
                       ng-model="deliveryType"
                       ng-required="!deliveryType"
                       value="NOVAPOSHTA">
                <label for="radio2"><i>{{deliverance.newPostText}}</i></label>

            </fieldset>
            <fieldset class="form-group" ng-show="deliverance.isSelfTakeAvailable">
                <input name="deliverance"
                       type="radio"
                       class="with-gap"
                       id="radio3"
                       ng-model="deliveryType"
                       ng-required="!deliveryType"
                       value="SELFTAKE">
                <label class="pull-left autoHeight" for="radio3">{{deliverance.selfTakeText}}</label>
            </fieldset>
            <div class="form-group">
                <b>{{'shopView.fullName' | translate}}</b>
                <input class="form-control validate"
                       id="name"
                       ng-model="name"
                       ng-change="customerData()"
                       type="text" name="name"
                       placeholder="{{'shopView.fullNamePlaceholder' | translate}}"
                       pattern="^(?=.*\S).+$"
                       required>
            </div>
            <div class="form-group">
                <b>{{'shopView.phone' | translate}}</b>
                <input class="form-control validate"
                       type="tel"
                       id="phone"
                       ng-model="phone"
                       ng-change="customerData()"
                       name="phone"
                       ng-value="+380"
                       pattern="^380[0-9]{9,9}$"
                       required />
            </div>
            <div class="form-group" ng-show="deliveryType === 'COURIER'">
                <b>{{'shopView.address' | translate}}</b>
                <input class="form-control validate"
                       g-places-autocomplete
                       ng-change="customerData()"
                       placeholder="{{'shopView.addressPlaceholder' | translate}}"
                       id="address"
                       ng-model="place"
                       type="text"
                       ng-required="deliveryType === 'COURIER'"/>
            </div>
            <div class="row newPostFlexContainer">
                <div class="form-group col-xs-12 col-sm-8" ng-show="deliveryType === 'NOVAPOSHTA'">
                    <b>Адреса і номер відділення Нової Пошти</b>
                    <input class="validate"
                           id="newPostDepartment"
                           type="text"
                           ng-model="newPostDelivery"
                           ng-change="customerData()"
                           ng-required="deliveryType === 'NOVAPOSHTA'"
                           placeholder="м. Львів, вул.Личаківська, 8, відділення №7"/>
                </div>
                <div class="col-xs-12 col-sm-4" ng-show="deliveryType === 'NOVAPOSHTA'">
                    <a type="button"
                       href="#!/newpost"
                       class="btn btn-secondary waves-effect btn-block">Найближче відділення</a>
                </div>
            </div>
            <div class="form-group">
                <b>{{'shopView.comment' | translate}}</b>
                    <textarea class="md-textarea"
                              id="comment"
                              placeholder="{{'shopView.commentPlaceholder' | translate}}"
                              ng-model="comment">
                    </textarea>
            </div>
            <div class="form-group" ng-show="couponsEnabled">
                <b>{{'shopView.coupon' | translate}}</b>
                <input class="form-control validate"
                       ng-model="couponId"
                       id="couponId"
                       placeholder="{{'shopView.couponPlaceholder' | translate}}"
                       type="text"
                />
                <p ng-class="{ 'font-weight-bold' : couponPlan.minimalOrderTotal === currentPlan }" class="text-xs-center" ng-repeat="couponPlan in couponPlans">{{couponPlan.minimalOrderTotal}} {{'shopView.currency' | translate}} - {{couponPlan.percentDiscount}}%<br></p>
                <p ng-hide="isCouponValid">{{'shopView.couponError' | translate}}</p>
                <button type="button" class="btn btn-secondary waves-effect btn-block" ng-click="applyCoupon(couponId)">{{'shopView.couponApply' | translate}}</button>
            </div>
        </form>
        <div class="row vcentering" delivery-cost>
            <div class="col-xs-7">
                <h4 class="modal-total pull-left"><strong>{{total + delivery()}} {{'shopView.currency' | translate}}</strong></h4>
            </div>
            <div id="payButton" class="proceedWithPayment"></div>
            <div class="col-xs-5" ng-hide="successfullResponse">
                <button id="toPayment" type="submit" class="btn btn-primary pull-right" ng-hide="loading" form="orderForm">{{'shopView.proceedWithPayment' | translate}} </button>
                <spinner class="center-block spinnerCentering landscapeFloatRight" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="loading"></spinner>
            </div>
        </div>
    </div>
</main>
