  <div class="navbar navbar-fixed-top scrolling-navbar double-nav pl-0" style="background-color: {{shopStyling.navbarColor}}" shop-styling>
        <div class="flex-container">
              <div class="nav-link">
                <a href="javascript:history.back()" style="color: {{shopStyling.navbarTextColor}}">
                <i class="fa fa-reply"></i> <span class="hidden-sm-down"></span></a>
              </div>
              <div class="text-flex-center">
                <h4 style="color: {{shopStyling.navbarTextColor}}; margin-bottom: 0px">{{'shopView.title' | translate}}</h4>
              </div>
              <div class="flex-items">
              </div>
        </div>
  </div>
  <div class="container-fluid noSidePadding flex-other-stores">
        <div class="flex-container">
           <button ng-click="findNearStore()" type="button" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 15px">{{'shopView.findstores' | translate}}</button>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6" ng-repeat="item in shopList">
            <div class="card card-product hoverable set-card" ng-click="openShop(item)">
                <div>
                    <div class="flex-card-part-title" style="margin-left: 10px !important;">
                        <img class="flex-logo-card" ng-src="{{logo}}">
                        <div class="flex-card-part column" style="padding-right: 15px">
                            <h5 class="truncate shopCardInfo" style="font-size: medium; font-weight: 400; margin-bottom: 7px;">{{item.shopName}}</h5>
                            <h6 class="grey-text normal-400" style="margin-bottom: 0px;">{{item.contact.address}}</h6>
                        </div>
                    </div>
                    <div class="view overlay hm-white-slight z-depth-1 card-maps">
                        <img ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{getLat(item)}},{{getLng(item)}}&zoom=15&size=600x300&maptype=roadmap&markers=color:red%7Clabel:S%7C{{getLat(item)}},{{getLng(item)}}&key={{activeShop.googleStaticMapsApiKey}}" class="img-responsive">

                    </div>

                </div>
            </div>
        </div>
  </div>


