<header>
    <nav class="navbar navbar-fixed-top scrolling-navbar double-nav" shop-styling style="background-color: {{shopStyling.navbarColor}}">
        <h5 class="text-xs-center col-xs-12" style="color: {{shopStyling.navbarTextColor}}"><b>Оплата</b></h5>
    </nav>
</header>
<main class="p-t-6 noSidePadding">
    <div class="container">
        <div id="paymentButton" class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 buyButtonBotMargin"  ng-class="{'offset-sm-3': !onlinePaymentEbabled}" ng-show="payLateButton">
                <a><button type="button" class="btn btn-secondary waves-effect btn-block" ng-click="payLater()">Оплатити при отриманні</button></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6" ng-class="{'offset-sm-2': !payLateButton}" ng-show="onlinePaymentEbabled">
                <button type="button" class="btn btn-primary waves-effect btn-block" ng-click="payOrder()">Оплатити</button>
            </div>
        </div>
        <div id="payButton" class="proceedWithPayment"></div>
    </div>
</main>