<header>
    <nav class="navbar navbar-fixed-top scrolling-navbar double-nav pl-0" shop-styling style="background-color: {{shopStyling.navbarColor}}">
        <ul class="nav navbar-nav vcentering productDetailsFlexNavbar">
            <li class="nav-item">
                <a class="nav-link" href="javascript:history.back()" style="color: {{shopStyling.navbarTextColor}}"><i class="fa fa-reply"></i> <span class="hidden-sm-down"></span></a>
            </li>
            <li class="nav-item text-xs-center">
                <span>{{'shopView.productDetails' | translate}}</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/shoppingcart" ng-click="reCalculateTotal()" style="color: {{shopStyling.navbarTextColor}}"> <span class="tag z-depth-1" style="color: {{shopStyling.navbarTextColor}}; background-color: {{shopStyling.navbarShopItemsColor}}">{{totalQuantity}}</span> <i class="fa fa-shopping-cart"></i> <span class="hidden-md-down">{{'shopView.cart' | translate}}</span></a>
            </li>
            <!--<li class="nav-item ">-->
            <!--<a class="nav-link"><i class="fa fa-comments-o"></i> <span class="hidden-sm-down">Support</span></a>-->
            <!--</li>-->
            <!--<li class="nav-item ">-->
            <!--<a class="nav-link"><i class="fa fa-sign-in"></i> <span class="hidden-sm-down">Register</span></a>-->
            <!--</li>-->
            <!--<li class="nav-item dropdown">-->
            <!--<a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> <span class="hidden-sm-down">Profile</span></a>-->
            <!--<div class="dropdown-menu dropdown-primary dd-right" aria-labelledby="dropdownMenu1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">-->
            <!--<a class="dropdown-item" href="#">Logout</a>-->
            <!--<a class="dropdown-item" href="#">My account</a>-->
            <!--</div>-->
            <!--</li>-->
        </ul>
    </nav>
    <!--/.Navbar-->

</header>
<!--/Navigation-->
<main class="mainNoPaddingTop pl-0">
    <section class="section m-b-4">
        <!-- Modal -->
        <div class="ql-modal contactsContainer" id="quick-look-ex" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <!--Content-->
                <div class="modal-content noBorder">
                    <!--Body-->
                        <!--Grid-->
                    <div class="container-fluid">
                        <div class="row">

                            <!--First column-->
                            <div class="col-lg-6 col-sm-6">
                                <!--Carousel Wrapper-->
                                <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">

                                    <!--Slides-->
                                    <div class="carousel-inner noBoxShadow" role="listbox">
                                        <div class="carousel-item active product">
                                            <img class="img-responsive" ng-src="/public/product_images/{{shopId}}/{{product.images[selected].filename}}" alt="First slide">
                                        </div>
                                    </div>
                                    <!--/.Slides-->
                                    <div class="col-xs-12">
                                        <ul class="carousel-indicators" ng-show="product.images.length >= 2">
                                            <li data-target="#carousel-thumb"
                                                ng-repeat="image in product.images"
                                                ng-click="select($index)"
                                                ng-class="{active: $index === selected}">
                                                <img src="/public/product_images/{{shopId}}/{{image.filename}}" class="img-fluid">
                                            </li>
                                        </ul>
                                    </div>


                                </div>
                                <!--/.Carousel Wrapper-->
                            </div>
                            <!--/.First column-->
                            <div class="col-md-6 col-sm-12 text-xs-center">
                                <h2>{{product.name}}</h2>
                                <div class="text-xs-center">
                                    <!--Title-->
                                    <!--Price-->
                                    <div class="price">
                                        <p class="pull-left"><span class="price-after">{{calculatedProductPrice}} {{'shopView.currency' | translate}}</span>
                                            <span class="price-before" ng-show="product.oldPrice">{{product.oldPrice}} {{'shopView.currency' | translate}}</span></p>
                                        <button class="btn btn-default buyButtonDetails pull-right" ng-click="buyStart()">{{'shopView.order' | translate}}</button>

                                        <!--<span class="label">-20%</span>-->
                                    </div>
                                    <!--Call to action-->
                                    <br>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12" ng-repeat="property in product.properties" on-finish-render="ngRepeatFinished">
                                <div property-uuid="{{property.uuid}}" ng-show="property.tags.length > 1" class="md-form">
                                    <h5>{{property.name}}</h5>
                                    <selectbox id="selectbox" options="property.tags" title="{{'shopView.select' | translate}}" value="property.selectedTag" label-key="value" id-key="id" on-change="selectedOption(property.tags[value-1])"></selectbox>
                                </div>
                            </div>
                            <!--Second column-->

                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <p class="text-justify">{{product.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>



