<header>
    <nav class="navbar navbar-fixed-top scrolling-navbar double-nav vcentering pl-0" shop-styling style="background-color: {{shopStyling.navbarColor}}">
        <ul class="nav navbar-nav pull-left col-xs-2">
            <li class="nav-item">
                <a class="nav-link" href="javascript:history.back()" style="color: {{shopStyling.navbarTextColor}}"><i class="fa fa-reply"></i> <span class="hidden-sm-down"></span></a>
            </li>
        </ul>
        <h4 class="text-xs-center col-xs-8" style="color: {{shopStyling.navbarTextColor}}"><b> {{'shopView.choosedelivery' | translate}}</b></h4>
    </nav>
</header>
<main class="p-t-6 noSidePadding">
    <div class="container">
        <form id="orderForm" name="orderForm" ng-submit="makeOrder()">
            <div class="form-group">
                <b>{{'shopView.address' | translate}}</b>
                <input class="form-control validate"
                       g-places-autocomplete
                       ng-change="customerData()"
                       placeholder="{{'shopView.addressPlaceholder' | translate}}"
                       id="address"
                       ng-model="place"
                       type="text"
                       ng-required="deliveryType === 'COURIER'"/>
            </div>
        </form>
        <div id="googleMap" class="z-depth-1-half map-container wow fadeInUp" data-wow-delay="0.1s" style="height: 600px"></div>
        <div class="row vcentering" delivery-cost>
          <button ng-click="goToRoute()" type="button" class="btn btn-primary pull-right" ng-hide="loading" form="orderForm">{{'shopView.next' | translate}}</button>
          <button ng-click="codeAddress()" type="button" class="btn btn-primary pull-right">{{'shopView.findaddress' | translate}}</button>
          <spinner class="center-block spinnerCentering landscapeFloatRight" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="loading"></spinner>

        </div>

    </div>
</main>
