<header>

    <nav class="navbar navbar-fixed-top scrolling-navbar double-nav green">

        <div class="pull-left">
        <a data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>

        <!-- Breadcrumb-->
        <div class="breadcrumb-dn">
            <p>{{shopName}}</p>
        </div>


        <ul class="nav navbar-nav pull-right">

            <li class="nav-item ">
                <a class="nav-link" data-toggle="modal" data-target="#cart-modal-ex" ng-show="selectedItems.length !== 0" ng-click="calculateTotal()"> <span class="tag red z-depth-1">{{totalItems}}</span> <i class="fa fa-shopping-cart"></i> <span class="hidden-sm-down">Кошик</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#/contacts"><i class="fa fa-envelope"></i> <span class="hidden-sm-down"> Контакти</span></a>
            </li>
            <!--<li class="nav-item ">-->
            <!--<a class="nav-link"><i class="fa fa-comments-o"></i> <span class="hidden-sm-down">Support</span></a>-->
            <!--</li>-->
            <!--<li class="nav-item ">-->
            <!--<a class="nav-link"><i class="fa fa-sign-in"></i> <span class="hidden-sm-down">Register</span></a>-->
            <!--</li>-->
            <!--<li class="nav-item dropdown">-->
            <!--<a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> <span class="hidden-sm-down">Profile</span></a>-->
            <!--<div class="dropdown-menu dropdown-primary dd-right" aria-labelledby="dropdownMenu1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">-->
            <!--<a class="dropdown-item" href="#">Logout</a>-->
            <!--<a class="dropdown-item" href="#">My account</a>-->
            <!--</div>-->
            <!--</li>-->
        </ul>

    </nav>
    <!--/.Navbar-->

</header>
<!--/Navigation-->
<main class="p-t-6">
    <div class="container-fluid row center-block">
        <div class="col-lg-4 col-md-6 col-sm-6" ng-repeat="productDTO in products | orderBy:'sortOrder'" on-finish-render="ngRepeatFinished" ng-show="productDTO.isActive">

            <div class="card inline">
                <div class="view overlay hm-white-slight z-depth-1">
                    <img ng-src="public/product_images/{{shopId}}/{{productDTO.mainImage.filename}}" class="img-fluid center-block" alt="">
                    <a href="#/product/{{productDTO.uuid}}">
                        <div class="mask"></div>
                    </a>
                </div>
                <div class="card-block text-xs-center">
                    <h4 class="card-title fixed-height"><strong><a href="#/product/{{productDTO.uuid}}">{{productDTO.name}}</a></strong></h4>
                    <div class="fixed-height">
                        <p class="card-text productDescriptionTruncate">{{productDTO.description}}</p>
                    </div>
                    <div class="card-footer">
                        <span class="left">{{productDTO.price}} грн <span class="discount" ng-show="productDTO.oldPrice">{{productDTO.oldPrice}} грн</span></span>
                        <span class="right" ng-click="buyStart($index, $event)"><a data-toggle="tooltip" data-placement="top" title="Додати в Корзину"><i class="fa fa-shopping-cart"></i></a></span>
                    </div>
                </div>
            </div>
        </div>

        </div>
</main>
<div class="modal fade cart-modal" id="cart-modal-ex" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog col-xs-12 modalPosition" role="document">
        <div class="modal-content">
            <div ng-hide="modalHide" ng-init="modalHide=false">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Ваша корзина</h4>
                </div>
                <div class="modal-body">

                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="headerCentering">Назва товару</th>
                            <th class="headerCentering">Ціна</th>
                            <th ng-click="removeAll()"><a><i class="fa fa-remove center-block removeAllRedIcon"></i></a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in selectedItems">
                            <td>
                                {{item.name}}
                            </td>
                            <td><strong>{{item.price}}</strong> ₴ x
                                <input  class="inputTextCentering"
                                        type="number"
                                        ng-model="item.quantity"
                                        ng-change="calculateTotal()"
                                        min="1"> шт.
                                </input>
                            </td>
                            <td ng-click="removeSelectedItem($index)"><a><i class="fa fa-remove center-block"></i></a></td>
                        </tr>
                        <tr class="total">
                            <td><i>Разом</i></td>
                            <td><i>{{total}}</i> ₴</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-success"
                            ng-show="selectedItems.length !== 0"
                            ng-click="getDeliveryTypes(); modalHide = !modalHide">
                        Замовити
                    </button>
                </div>
            </div>
            <div ng-show="modalHide">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                            ng-click="modalHide = !modalHide"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"><b>Оформлення замовлення</b></h4>
                </div>
                <div class="modal-body">
                    <div class="fillingInfo" ng-hide="successfullResponse">
                        <form id="orderForm" name="orderForm" ng-submit="makeOrder()">
                            <h6 class="deliveryType"><b>Тип доставки</b></h6>
                            <fieldset class="form-group">
                                <input name="deliverance"
                                       type="radio"
                                       class="with-gap"
                                       id="radio1"
                                       ng-model="delivery.radio"
                                       ng-required="!delivery.radio"
                                       value="COURIER">
                                <label for="radio1" ng-show="deliverance.isCourierAvailable"><i>{{deliverance.courierText}}</i></label>
                            </fieldset>

                            <fieldset class="form-group">
                                <input name="deliverance"
                                       type="radio"
                                       class="with-gap"
                                       id="radio2"
                                       ng-model="delivery.radio"
                                       ng-required="!delivery.radio"
                                       value="NOVAPOSHTA">
                                <label for="radio2" ng-show="deliverance.isNewPostAvailable"><i>{{deliverance.newPostText}}</i></label>
                                <fieldset class="form-group" ng-show="delivery.radio === 'NOVAPOSHTA'">
                                    <label for="newPostDepartment" class="labelFont"><b>Введіть адресу і номер відділення Нової Пошти</b></label>
                                        <input class="validate" id="newPostDepartment" type="text" ng-model="delivery.newPost" ng-required="delivery.radio === 'NOVAPOSHTA'" placeholder="м. Львів, вул.Личаківська, 8, відділення №7"/>
                                </fieldset>
                            </fieldset>

                            <fieldset class="form-group">
                                <input name="deliverance"
                                       type="radio"
                                       class="with-gap"
                                       id="radio3"
                                       ng-model="delivery.radio"
                                       ng-required="!delivery.radio"
                                       value="SELFTAKE">
                                <label class="pull-left autoHeight" for="radio3" ng-show="deliverance.isSelfTakeAvailable">{{deliverance.selfTakeText}}</label>
                            </fieldset>
                            <div class="form-group">
                                <b>П.І.П.</b>
                                <input class="form-control validate"
                                       id="name"
                                       ng-model="name"
                                       type="text" name="name"
                                       placeholder="Петренко Іван Григорович"
                                       required>
                            </div>
                            <div class="form-group">
                                <b>Номер телефону (380xxxxxxxxx - формат номера телефону)</b>
                                <input class="form-control validate"
                                       type="tel"
                                       id="phone"
                                       ng-model="phone"
                                       name="phone"
                                       ng-value="+380"
                                       pattern="^380[0-9]{9,9}$"
                                       required />
                            </div>
                            <div class="form-group" ng-show="isAddressRequired">
                                <b>Адреса</b>
                                <input class="form-control validate"
                                       placeholder="Введіть адресу"
                                       id="address"
                                       ng-model="address"
                                       type="text"
                                       ng-required="isAddressRequired"/>
                            </div>
                            <div class="form-group">
                                <b>Коментар</b>
                                <textarea class="md-textarea"
                                          id="comment"
                                          placeholder="Будь-які зауваження та пропозиції залишайте тут"
                                          ng-model="comment"></textarea>
                            </div>
                        </form>
                    </div>
                    <div id="paymentButton" class="row" ng-show="successfullResponse">
                        <div class="col-xs-12 col-sm-6 col-md-6 buyButtonBotMargin" ng-show="payLateButton">
                            <a><button type="button" class="btn btn-outline-secondary waves-effect btn-block" ng-click="payLater()">Оплатити при отриманні</button></a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <button type="button" class="btn btn-outline-success waves-effect btn-block" ng-click="payOrder()">Оплатити</button>
                        </div>
                        <div class="proceedWithPayment"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-7 priceAlignment">
                            <h4 class="modal-total pull-left"><strong>{{total + " " + delivery()}} грн</strong></h4>
                        </div>
                        <div class="col-xs-5" ng-hide="successfullResponse">
                            <button type="submit" class="btn btn-success pull-right" ng-hide="loading" form="orderForm">До Оплати </button>
                            <spinner class="center-block spinnerCentering landscapeFloatRight" name="mySpinner" img-src="wisehands/assets/images/spinner/box-xs.gif" show="loading"></spinner>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

