<header ng-cloak>
    <nav class="navbar navbar-fixed-top scrolling-navbar double-nav" style="background-color: {{shopStyling.navbarColor}}" shop-styling>
        <div class="row vcentering">
            <div class="col-xs-6 col-sm-1">
                <a data-activates="slide-out" class="button-collapse" style="color: {{shopStyling.navbarTextColor}}"><i class="fa fa-bars"></i></a>
            </div>
            <div class="breadcrumb-dn hidden-xs-down col-sm-4" ng-show="!logo">
                <a class="noPointerCursor" style="color: {{shopStyling.navbarTextColor}}">{{shopName}}</a>
            </div>
            <div class="col-sm-2">
                <a href="{{shopStyling.logoHref}}">
                    <img ng-show="logo" class="hidden-sm-down" style="max-width:32px;"
                         ng-src="{{logo}}">
                </a>
            </div>
            <div class="col-xs-6 col-sm-5" ng-class="{'offset-sm-4': logo}">
                <ul class="nav navbar-nav pull-right">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#cart-modal-ex" ng-show="selectedItems.length !== 0" ng-click="calculateTotal()" style="color: {{shopStyling.navbarTextColor}}"> <span class="tag z-depth-1" style="color: {{shopStyling.navbarTextColor}}; background-color: {{shopStyling.navbarShopItemsColor}}">{{totalItems}}</span> <i class="fa fa-shopping-cart"></i> <span class="hidden-sm-down">Кошик</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!/contacts" style="color: {{shopStyling.navbarTextColor}}"><i class="fa fa-envelope"></i> <span class="hidden-sm-down"> Контакти</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="p-t-6">
    <div class="container-fluid row center-block">
        <div class="col-lg-4 col-md-6 col-sm-6" ng-repeat="productDTO in products | orderBy:'sortOrder'" ng-show="productDTO.isActive">
            <div class="card inline">
                <div class="view overlay hm-white-slight z-depth-1">
                    <a href="#!/product/{{productDTO.uuid}}">
                        <img ng-src="public/product_images/{{shopId}}/{{productDTO.mainImage.filename}}" class="img-fluid center-block" alt="">
                         <div class="mask"></div>
                    </a>
                </div>
                <div class="card-block text-xs-center">
                    <div class="fixed-height2">
                        <h4 class="card-title productNameTruncate h4-responsive"><a href="#!/product/{{productDTO.uuid}}"><strong>{{productDTO.name}}</strong></a></h4>
                    </div>
                    <div class="fixed-height">
                        <p class="card-text productDescriptionTruncate" data-toggle="tooltip" data-placement="top" title="{{productDTO.description}}">{{productDTO.description}}</p>
                    </div>
                    <div class="card-footer">
                        <span class="left">{{productDTO.price}} грн <span class="discount" ng-show="productDTO.oldPrice">{{productDTO.oldPrice}} грн</span></span>
                        <span class="right" ng-click="buyStart($index, $event)"><a data-toggle="tooltip" data-placement="top" title="Додати в Корзину"><i class="fa fa-shopping-cart"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div x-order-modal></div>
