<header ng-cloak>
    <nav class="navbar navbar-fixed-top scrolling-navbar double-nav pl-0" style="background-color: {{shopStyling.navbarColor}}" shop-styling>
        <div class="flex-container nowrap">

            <div class="flex-logo-button">
                <a data-activates="slide-out" class="button-collapse" style="color: {{shopStyling.navbarTextColor}};left: 0px;"><i class="fa fa-bars"></i></a>
                <a href="#!/">
                    <img ng-show="logo" class="hidden-sm-down flex-logo" ng-src="{{logo}}">
                </a>
                <a class="noPointerCursor hidden-xs-down" ng-show="!logo" style="color:{{shopStyling.navbarTextColor}};">{{shopName}}</a>
            </div>
            <div class="flex-navbar">
                <div class="nav-item">
                    <a href="#!/wholesaleshoppingcart "
                       class="nav-link"
                       ng-show="selectedItems.length !== 0"
                       ng-click="reCalculateTotal()"
                       style="color: {{shopStyling.navbarTextColor}}">
                        <span class="tag z-depth-1" style="color: {{shopStyling.navbarTextColor}}; background-color: {{shopStyling.navbarShopItemsColor}}">{{totalQuantity}}</span>
                        <i class="fa fa-shopping-cart"></i>
                        <span class="hidden-sm-down">{{'shopView.cart' | translate}}</span>
                    </a>
                </div>
                <div ng-show="isUserAdmin" class="nav-item">
                    <a class="nav-link" href="/admin" style="color: {{shopStyling.navbarTextColor}}">
                      <i class="fa fa-cube"></i>
                      <span class="hidden-sm-down"> {{'shopView.admin' | translate}}</span>
                    </a>
                </div>
                <div ng-show="isShopInNetwork" class="nav-item">
                  <a class="nav-link" href="#!/othershops" style="color: {{shopStyling.navbarTextColor}}">
                      <i class="fa fa-tasks"></i>
                      <span class="hidden-sm-down" style="font-family: Roboto,sans-serif;">{{'shopView.netShops' | translate}}</span>
                  </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="#!/contacts" style="color: {{shopStyling.navbarTextColor}}">
                      <i class="fa fa-envelope"></i>
                      <span class="hidden-sm-down"> {{'shopView.contacts' | translate}}</span>
                    </a>
                </div>

            </div>
        </div>
    </nav>
</header>
<main class="p-t-6 pl-0">
    <div class="container-fluid row center-block">
        <div class="col-lg-4 col-md-6 col-sm-6" ng-repeat="productDTO in products | orderBy:'sortOrder'" ng-show="productDTO.isActive">
            <div class="card inline">
                <div class="noselect view overlay hm-white-slight z-depth-1" ng-click="navigateToProductDetails(productDTO.uuid)">
                        <img ng-src="public/product_images/{{shopId}}/{{productDTO.mainImage.filename}}" class="img-fluid center-block" alt="">
                         <div class="mask"></div>
                </div>
                <div class="card-block text-xs-center">
                    <div class="fixed-height2">
                        <h4 class="card-title productNameTruncate h4-responsive"><a href="#!/product/{{productDTO.uuid}}"><strong>{{productDTO.name}}</strong></a></h4>
                    </div>
                    <div class="fixed-height">
                        <p class="card-text productDescriptionTruncate" data-toggle="tooltip" data-placement="top" title="{{productDTO.description}}">{{productDTO.description}}</p>
                    </div>
                    <div class="card-footer">
                        <span class="left">{{productDTO.wholesalePrice}} {{'shopView.currency' | translate}}
                            <span class="center">x {{productDTO.wholesaleCount}}</span>
                            <span class="center"> = {{productDTO.wholesalePrice * productDTO.wholesaleCount}} {{'shopView.currency' | translate}}</span></span>
                        <!--<span class="discount" ng-show="productDTO.oldPrice">{{productDTO.wholesaleCount}} {{'shopView.currency' | translate}}</span></span>-->
                        <span class="right" ng-click="buyStart(productDTO, $event)"><a data-toggle="tooltip" data-placement="top" title="{{'shopView.addToCart' | translate}}"><i class="fa fa-shopping-cart"></i></a></span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>
