<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="WiseHands" ng-strict-di>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>${shop.shopName}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="wisehands/assets/bootstrap3/css/bootstrap.min.css" rel="stylesheet">

    <link href="wisehands/assets/mdb_superAdmin/css/mdb.min.css" rel="stylesheet">
    <link href="wisehands/admin/css/admin.css" rel="stylesheet" />
    <link href="wisehands/assets/angular-bootstrap-colorpicker/css/colorpicker.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="wisehands/assets/heatmap/calendar-heatmap.css">

    <link rel='shortcut icon' href='public/shop_logo/${shop.uuid}/${shop.visualSettingsDTO.shopFavicon}' type='image/x-icon' >


</head>
<body class="parentScroll">
<ul id="slide-out" class="side-nav admin-side-nav dark-side-nav hidden-scrollbar" ng-controller="SideNavController">
    <div class="row vcentering">
        <div class="col-xs-4">
            <img ng-src="{{getProfileImage()}}" class="img-responsive img-circle">
        </div>
        <div class="col-xs-8">
            <h5 class="white-text cursorPointer" ng-click="getUrl()">{{activeShop.shopName}}</h5>
        </div>
    </div>
    <ul class="collapsible collapsible-accordion inner">
        <li ng-class="{active: $route.current.activetab == 'orderlist'}"><a href="#/" class="waves-effect waves-light"><i class="fa fa-tasks"></i> Замовлення</a></li>
        <!--<li ng-class="{active: $route.current.activetab == 'analytics'}"><a href="#/analytics" class="waves-effect waves-light"><i class="fa fa-line-chart"></i> Аналітика</a></li>-->
        <li ng-class="{active: $route.current.activetab == 'productlist'}"><a href="#/products" class="waves-effect waves-light"><i class="fa fa-cart-plus"></i> Товари</a></li>
        <li ng-class="{active: $route.current.activetab == 'payment'}"><a href="#/payment" class="waves-effect waves-light"><i class="fa fa-money"></i> Оплата</a></li>
        <li ng-class="{active: $route.current.activetab == 'delivery'}"><a href="#/delivery" class="waves-effect waves-light"><i class="fa fa-fighter-jet"></i> Доставка</a></li>
        <li ng-class="{active: $route.current.activetab == 'contacts'}"><a href="#/contacts" class="waves-effect waves-light"><i class="fa fa-envelope"></i> Контакти</a></li>
        <li ng-class="{active: $route.current.activetab == 'settings'}"><a href="#/settings" class="waves-effect waves-light"><i class="fa fa-gears"></i> Налаштування</a></li>
        <li ng-class="{active: $route.current.activetab == 'usersettings'}"><a href="#/usersettings" class="waves-effect waves-light"><i class="fa fa-users"></i> Користувачі</a></li>
        <li ng-click="signOut()" target="_self"><a class="waves-effect waves-light"><i class="fa fa-sign-out"></i> Вийти</a></li>

    </ul>
</ul>
<div ng-view></div>

<script src="wisehands/assets/js/angular.min.js"></script>
<script src="wisehands/assets/js/angular-route.min.js"></script>

<script src="wisehands/assets/js/jquery-2.2.3.min.js"></script>

<script src="wisehands/assets/bootstrap3/js/bootstrap.min.js"></script>

<script type="text/javascript" src="wisehands/assets/mdb_superAdmin/js/mdb.min.js"></script>

<script src="wisehands/assets/web-pull-to-refresh-master/hammer.2.0.4.js"></script>
<script src="wisehands/assets/web-pull-to-refresh-master/wptr.1.1.js"></script>

<script src="wisehands/admin/js/routes/routeConfig.js"></script>

<script src="wisehands/admin/js/controllers/OrderListController.js"></script>
<script src="wisehands/admin/js/controllers/SingleOrderController.js"></script>
<script src="wisehands/admin/js/controllers/ProductListController.js"></script>
<script src="wisehands/admin/js/controllers/SubmitNewProductController.js"></script>
<script src="wisehands/admin/js/controllers/ProductDetailsController.js"></script>
<script src="wisehands/admin/js/controllers/EditProductController.js"></script>
<script src="wisehands/admin/js/controllers/DeliverySettingsController.js"></script>
<script src="wisehands/admin/js/controllers/SettingsController.js"></script>
<script src="wisehands/admin/js/controllers/ContactsController.js"></script>
<script src="wisehands/admin/js/controllers/UsersSettingsController.js"></script>
<script src="wisehands/admin/js/controllers/SideNavController.js"></script>
<script src="wisehands/admin/js/controllers/TransactionsController.js"></script>
<script src="wisehands/admin/js/controllers/CategoriesController.js"></script>
<script src="wisehands/admin/js/controllers/PaymentController.js"></script>
<script src="wisehands/admin/js/controllers/ViewSettingsController.js"></script>
<script src="wisehands/admin/js/controllers/DiscountController.js"></script>
<script src="wisehands/admin/js/controllers/AnalyticsController.js"></script>

<script src="wisehands/admin/js/services/sharedFilterData.js"></script>
<script src="wisehands/admin/js/services/SideNavInitService.js"></script>
<script src="wisehands/admin/js/services/SignOutService.js"></script>

<script src="wisehands/admin/js/directives/onFinishRender.js"></script>

<script src="wisehands/assets/js/angular-spinners.min.js"></script>
<script src="wisehands/assets/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
<script src="wisehands/assets/js/d3.min.js"></script>
<script src="wisehands/assets/heatmap/calendar-heatmap.js"></script>

</body>
</html>