<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="WiseHands">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>HappyBag</title>
    <link href="public/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="public/css/admin.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />


</head>
<body>
<div ng-view></div>

<script src="public/js/angular.js"></script>
<script src="public/bower_components/angular-route/angular-route.js"></script>
<script src="public/assets/plugins/jquery-1.10.2.js"></script>
<script src="public/assets/plugins/bootstrap.js"></script>

<script src="public/js/wise_hands/routes/routeConfig.js"></script>

<script src="public/js/wise_hands/controllers/OrderListController.js"></script>
<script src="public/js/wise_hands/controllers/SingleOrderController.js"></script>
<script src="public/js/wise_hands/controllers/ProductListController.js"></script>
<script src="public/js/wise_hands/controllers/SubmitNewProductController.js"></script>
<script src="public/js/wise_hands/controllers/ProductDetailsController.js"></script>
<script src="public/js/wise_hands/controllers/FilterOptionsController.js"></script>
<script src="public/js/wise_hands/controllers/DeliverySettingsController.js"></script>

<script src="public/js/wise_hands/services/sharedFilterData.js"></script>

<script src="public/js/angular-spinners.min.js"></script>

</body>
</html>