#{set shop:shop /}
#{set pageList:pageList /}
#{set language:language /}
#{set categories:categories /}
#{set qr_uuid:qr_uuid /}
#{set selectedCurrency:selectedCurrency /}
<style>
    .category-block {
        ;
    }
    .category-nav {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .category-nav .view-block {
        margin: 0;
    }
    .admin-breadcrumb {
        margin: 0;
    }
    ul.admin-breadcrumb li {
        display: inline;
        font-size: 18px;
    }

    ul.admin-breadcrumb li + li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
    }

    ul.admin-breadcrumb li a {
        color: #000;
        text-decoration: none;
        word-break: break-all;
    }

    ul.admin-breadcrumb li a:hover {
        color: #000;
        text-decoration: underline;
    }
    .all-category-cards {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        padding: 1rem 0;
        flex-wrap: wrap;
    }
    .category-item-card {
        flex-basis: calc(33.3% - 1rem);
        margin: 0 0.5rem;
    }
    .item-img {
        width: 100%;
    }
    .category-name {
        display: flex;
        text-align: left;
        font-size: 1.5rem;
        padding : 0.5rem;
        justify-content: center;
    }
    .cart-float {
        display: none;
        position: fixed;
        bottom: 0;
        /*max-width: 900px;*/
        width: 100%;
        background-color: #e4e9e9;
        border-top: 5px solid #333;
        z-index: 300;
        transition: visibility 0s, opacity 0.5s linear;;
    }
    .cart-float-text {
        display: flex;
        align-items: baseline;
        padding: 1rem;
        justify-content: center;
    }
    .cart-float-text p {
        font-size: 1.1rem;
        font-weight: 300;
        margin-bottom: 0;
    }
    .cart-float-text i {
        font-size: 1.5rem;
        padding-left: 0.5rem;
    }
    @media screen and (min-width: 1500px) {
        .all-category-cards, .category-nav {
            max-width: 1300px;
        }
    }
    @media screen and (max-width: 768px) {
        .all-category-cards {
            flex-direction: column;
            padding-top: 0;
        }
        .category-item-card {
            width: calc(100% - 2rem);
            margin: 1rem 1rem 0 1rem;
        }
    }

</style>
<!DOCTYPE html>
<html lang="${shop.locale}" xmlns="http://www.w3.org/1999/xhtml" language="${language}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="${shop.contact.description}" />
    <meta name="author" content="${shop.shopName}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="${shop.googleWebsiteVerificator}" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="${shop.shopName}" />
    <meta property="og:description" content="${shop.contact.description}" />
    <meta property="og:url" content="https://${shop.domain}/" />
    <meta property="og:site_name" content="${shop.shopName}" />


    <title>${category.name} | ${shop.shopName} </title>

    <link href="/wisehands/assets/mdb_shop/font/font_awesome/css/font-awesome.min.css" rel="stylesheet" >
    <link href="/wisehands/assets/bootstrap4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/wisehands/assets/mdb_shop/css/mdb.min.css" rel="stylesheet" />
    <link href="/wisehands/shop/css/shop.css" rel="stylesheet" />
    <link href="/wisehands/shop/css/breadcrumb.css" rel="stylesheet" />
    <link href="/wisehands/shop/css/autocomplete.css" rel="stylesheet" >
    <link href="/wisehands/shop/js/directives/angularSelect/angular-selectbox.css" rel="stylesheet" />

    <link rel='shortcut icon' href='/public/shop_logo/${shop.uuid}/${shop.visualSettingsDTO.shopFavicon}' type='image/x-icon' >

    <base href="/">


</head>
<script>
    function setDelayShowCart() {
        document.querySelector(".cart-float").style.display = 'none';
    }
    function buyStart(product) {
        if(!window.IS_SHOP_OPENED) {
            if(window.MESSAGE) {
                toastr.warning(MESSAGE);
            }
            return;
        }
        let url;
        if (product.qrUuid) {
            url = '/api/cart?uuid=' + product.uuid + '&qr_uuid=' + product.qrUuid;
        } else {
            url = '/api/cart?uuid=' + product.uuid;
        }
        fetch(url, {
            method: 'POST'
        }).then(function (response) {
            if(response.ok) {
                document.querySelector(".cart-float").style.display = 'block';
                setTimeout(setDelayShowCart, 2000);
            }
            return response.json();
        }).then(function (data) {
            store.dispatch({ type: 'SHOPPINGCART', payload: data});
        });

    }
</script>
<body>
    #{setup-redux /}
    #{get-cart /}
    #{shop-header /}

    <div class="category-block">
        <div class="category-name">${category.name}</div>
        <div class="category-nav">
            <div class="category-name">
                <ul class="admin-breadcrumb">
                    <li><a href="#">&{'mobile.sidebar.title.categories'}</a></li>
                    <li>
                      <a href="${category.getLinkToCategoryPage(category.uuid, language, qr_uuid, selectedCurrency)}">
                        ${category.name}
                      </a>
                    </li>
                </ul>
            </div>
            <div class="view-block">
                <i id="list-view" class="fa fa-list" aria-hidden="true" style="font-size: 30px"></i>
                <i id="grid-view" class="fa fa-th" aria-hidden="true" style="font-size: 30px"></i>
            </div>
        </div>
        <div class="all-items grid-view">
            #{if dishOfDay}
            <div class="item-card">
                <div class="card inline hoverable" style="">
                    <div class="noselect hm-white-slight z-depth-1" >
                        #{if qr_uuid}
                        %{qrParam = "?qr_uuid="}%
                        <a href="/${language}/product/${dishOfDay.uuid}${qrParam}${qr_uuid}">
                            <img src="/public/product_images/${shop.uuid}/${dishOfDay.mainImage.filename}"
                                 class="item-img" alt="${dishOfDay.name}" loading="lazy">
                        </a>
                        <div class="dish-0f-day-title">${shop.banner.name}</div>
                        <div class="dish-0f-day-discount">-${shop.banner.discount}%</div>
                        #{/if}
                        #{else}
                        <a href="/${language}/product/${dishOfDay.uuid}${qrParam}${qr_uuid}">
                            <img src="/public/product_images/${shop.uuid}/${dishOfDay.mainImage.filename}"
                                 class="item-img" alt="${dishOfDay.name}" loading="lazy">
                        </a>
                        <div class="dish-0f-day-title">${shop.banner.name}</div>
                        <div class="dish-0f-day-discount">-${shop.banner.discount}%</div>
                        #{/else}
                    </div>
                    <div class="card-block text-xs-center">
                        <div class="item-card-title">
                            <h4 class="card-title productNameTruncate"><a href="/${language}/product/${dishOfDay.uuid}">
                                ${dishOfDay.name}</a></h4>
                            <div class="item-card-action-price card-title">
                                <p class="current-price">${dishOfDay.formatDecimal()} <span class="currency">uah</span></p>
                                <p class="discount-price">${dishOfDay.formatDecimalOldPrice()}</p>
                            </div>
                        </div>
                        <div class="card-footer"></div>
                        <div class="item-card-text">
                            <p class="card-text productDescriptionTruncate">${dishOfDay.name}</p>
                        </div>
                        <div class="item-card-action">
                            <button type="button" class="btn btn-outline-primary btn-rounded" onclick="buyStart({uuid: '${dishOfDay.uuid}', qrUuid: '${qr_uuid}'})">&{'page.product.buy'}</button>
                        </div>
                    </div>
                </div>
            </div>
            #{/if}
            %{
            for(_product in productList) {
            }%
            <div class="item-card">
                <div class="card inline hoverable">
                    <div class="noselect hm-white-slight z-depth-1" >
                      <a href="${_product.getLinkToProductPage(_product, language, qr_uuid, selectedCurrency)}">
                        <img src="/public/product_images/${shop.uuid}/${_product.mainImage.filename}" class="item-img" alt="${_product.name}">
                      </a>
                    </div>
                    <div class="card-block text-xs-center">
                        <div class="item-card-title">
                            <h4 class="card-title productNameTruncate h4-responsive">
                              <a href="${_product.getLinkToProductPage(_product, language, qr_uuid, selectedCurrency)}">
                                <strong>${_product.name}</strong>
                              </a>
                            </h4>
                            <div class="item-card-action-price card-title">
                              <div class="item-card-action-price">
                                <p class="current-price">${_product.formatPrice(shop.currencyShop.currency, selectedCurrency)}
                                  <span class="currency">${shop.currencyShop.showCurrency()}</span>
                                </p>
                                <p class="discount-price" ng-show="productDTO.oldPrice">${_product.formatDecimalOldPrice()}</p>
                              </div>
                            </div>
                        </div>
                        <div class="card-footer"></div>
                        <div class="item-card-text">
                            <p class="card-text productDescriptionTruncate" data-toggle="tooltip" data-placement="top" title="${_product.description}">${_product.description}</p>
                        </div>
                        <div class="item-card-action">

                          <button type="button" class="btn btn-outline-primary btn-rounded"
                                  onclick="buyStart({uuid: '${_product.uuid}', qrUuid: '${qr_uuid}'})">&{'page.product.buy'}</button>
                        </div>
                    </div>
                </div>
            </div>
            %{
            }
            }%

        </div>

        <div class="cart-float">
            <div class="cart-float-text">
                <p>&{'page.product.add.to.basket'}</p>
                <i class="fa fa-check-circle"></i>
            </div>
        </div>

        <div class="all-items list-view">
            #{if dishOfDay}
            <div class="card item-card-list hoverable">
                <div class="item-card-list-img noselect hm-white-slight" >
                    #{if qr_uuid}
                    %{qrParam = "?qr_uuid="}%
                    <a href="/${language}/product/${dishOfDay.uuid}${qrParam}${qr_uuid}">
                        <img src="/public/product_images/${shop.uuid}/${dishOfDay.mainImage.filename}"
                             class="item-img" alt="${dishOfDay.name}" loading="lazy">
                    </a>
                    <div class="dish-0f-day-title">${shop.banner.name}</div>
                    <div class="dish-0f-day-discount">-${shop.banner.discount}%</div>
                    #{/if}
                    #{else}
                    <a href="/${language}/product/${dishOfDay.uuid}${qrParam}${qr_uuid}">
                        <img src="/public/product_images/${shop.uuid}/${dishOfDay.mainImage.filename}"
                             class="item-img" alt="${dishOfDay.name}" loading="lazy">
                    </a>
                    <div class="dish-0f-day-title">${shop.banner.name}</div>
                    <div class="dish-0f-day-discount">-${shop.banner.discount}%</div>
                    #{/else}
                </div>
                <div class="item-card-list-content">
                    <div class="item-card-list-info">
                        <a href="/${language}/product/${dishOfDay.uuid}">
                            <h4 class="card-title productNameTruncate">${dishOfDay.name}</h4>
                            <p class="card-text productDescriptionTruncate" data-toggle="tooltip" data-placement="top" title="${dishOfDay.description}">${dishOfDay.description}</p>
                        </a>
                    </div>
                    <div class="item-card-list-action">
                        <div class="item-card-list-action-price">
                            <p class="current-price">${dishOfDay.formatDecimal()} <span class="currency">uah</span></p>
                            <p class="discount-price">${dishOfDay.formatDecimalOldPrice()}</p>
                        </div>
                        <button type="button" class="btn btn-outline-primary btn-rounded" onclick="buyStart({uuid: '${dishOfDay.uuid}', qrUuid: '${qr_uuid}'})">&{'page.product.buy'}</button>
                    </div>
                </div>
            </div>
            #{/if}
            %{
            for(_product in productList) {
            }%
            <div class="card item-card-list hoverable">
                <div class="item-card-list-img noselect hm-white-slight" >
                    <a href="/${language}/product/${_product.uuid}">
                        <img src="/public/product_images/${shop.uuid}/${_product.mainImage.filename}" class="item-img" alt="${_product.name}">
                    </a>
                </div>
                <div class="item-card-list-content">
                    <div class="item-card-list-info">
                        <a href="/${language}/product/${_product.uuid}">
                            <h4 class="card-title productNameTruncate h4-responsive"><strong>${_product.name}</strong></h4>
                            <p class="card-text productDescriptionTruncate" data-toggle="tooltip" data-placement="top" title="${_product.description}">${_product.description}</p>
                        </a>
                    </div>
                    <div class="item-card-list-action">
                        <div class="item-card-list-action-price">
                            <p class="current-price">${_product.formatPrice(shop.currencyShop.currency, selectedCurrency)} <span class="currency">uah</span></p>
                            <p class="discount-price" ng-show="productDTO.oldPrice">${_product.formatDecimalOldPrice()}</p>
                        </div>
                        <button type="button" class="btn btn-outline-primary btn-rounded" onclick="buyStart({uuid: '${_product.uuid}', qrUuid: '${qr_uuid}'})">&{'page.product.buy'}</button>
                        <!--<span class="" onclick="buyStart('${_product.uuid}')"><a data-toggle="tooltip" data-placement="top"><i class="fa fa-shopping-cart"></i></a></span>-->
                    </div>
                </div>
            </div>


            %{
            }
            }%

        </div>
        <div class="cart-float">
            <div class="cart-float-text">
                <p>&{'page.product.add.to.basket'}</p>
                <i class="fa fa-check-circle"></i>
            </div>
        </div>
<!--        <div class="all-category-cards">
            #{verbatim}
                %{
                    for(_product in productList) {
                        }%
                            <div class="category-item-card">
                                <div class="card inline">
                                    #{if qr_uuid}
                                    %{qrParam = "?qr_uuid="}%
                                        <a href="/${language}/product/${_product.uuid}${qrParam}${qr_uuid}">
                                    #{/if} #{else}
                                        <a href="/${language}/product/${_product.uuid}">
                                           #{/else}
                                        <div class="noselect view overlay hm-white-slight z-depth-1">
                                                <img src="/public/product_images/${shop.uuid}/${_product.mainImage.filename}" class="item-img" alt="">
                                            <div class="mask"></div>
                                        </div>
                                    </a>

                                    <div class="card-block text-xs-center">
                                        <div class="fixed-height2">
                                            <h4 class="card-title productNameTruncate h4-responsive"><a href="/${language}/product/${_product.uuid}"><strong>${_product.name}</strong></a></h4>
                                        </div>
                                        <div class="fixed-height">
                                            <p class="card-text productDescriptionTruncate" data-toggle="tooltip" data-placement="top" title="${_product.description}">${_product.description}</p>
                                        </div>
                                        <div class="card-footer">
                                            <span class="left">${_product.formatDecimal()} UAH </span>
                                            <span class="right" onclick="buyStart({uuid: '${_product.uuid}', qrUuid: '${qr_uuid}'})"><a
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="&{'title.add.product.to.basket.label'}">
                                                <i class="fa fa-shopping-cart"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        %{
                    }
                }%
            #{/verbatim}

            <div class="cart-float">
                <div class="cart-float-text">
                    <p>&{'page.product.add.to.basket'}</p>
                    <i class="fa fa-check-circle"></i>
                </div>
            </div>

        </div>-->
    </div>
    #{if shop.visualSettingsDTO.isFooterOn}
        #{footer-shop /}
    #{/if}
    #{if shop.faceBookPixelApiKey}
    <script>
        console.log('present faceBookPixelApiKey');
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '${shop.faceBookPixelApiKey}');
        fbq('track', 'PageView');
    </script>
    #{/if}

    <script>
        document.getElementById("list-view").addEventListener("click", showList );
        function showList() {
            document.querySelector(".grid-view").style.display = 'none';
            document.querySelector(".list-view").style.display = 'flex';
            document.querySelector("#list-view").style.color = '#000';
            document.querySelector("#grid-view").style.color = '#929292';

        }
        document.getElementById("grid-view").addEventListener("click", showGrid );
        function showGrid() {
            document.querySelector(".list-view").style.display = 'none';
            document.querySelector(".grid-view").style.display = 'flex';
            document.querySelector("#grid-view").style.color = '#000';
            document.querySelector("#list-view").style.color = '#929292';
        }
    </script>


</body>
</html>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>

<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuKg9jszEEgoGfUlIqmd4n9czbQsgcYRM&libraries=initMap,drawing,geometry,places"></script>

<script defer src="/wisehands/assets/js/angular.min.js"></script>
<script defer src="/wisehands/assets/js/angular-route.min.js"></script>
<script defer src="/wisehands/assets/js/jquery-2.2.3.min.js"></script>
<script defer src="/wisehands/assets/js/tether.min.js"></script>
<script defer src="/wisehands/assets/bootstrap4.0.0/js/bootstrap.min.js"></script>
<script defer src="/wisehands/assets/mdb_shop/js/mdb.min.js"></script>
<script src="/wisehands/shop/js/services/WokingHoursService.js"></script>

<script defer src="/wisehands/assets/angular-cookies/angular-cookies.js"></script>
<script defer src="/wisehands/assets/angular-sanitize/angular-sanitize.js"></script>
<script defer src="/wisehands/assets/angular-translate/angular-translate.js"></script>
<script defer src="/wisehands/assets/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script defer src="/wisehands/assets/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script defer src="/wisehands/assets/angular-translate-storage-local/angular-translate-storage-local.js"></script>
<script defer src="/wisehands/assets/angular-translate-handler-log/angular-translate-handler-log.js"></script>
<script defer src="/wisehands/assets/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>

<script defer src="/wisehands/shop/js/routes/routeConfig.js"></script>

