<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>Fail</title>
    <link href="wisehands/assets/bootstrap3/css/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row row-centered text-center well">
    <div class="container">
        <h3>&{'order.fail'}</h3>
        <h4><a href="/">&{'gotomain'}</a></h4>
    </div>
</div>
<script src="wisehands/assets/js/jquery-2.2.3.min.js"></script>
<script src="wisehands/assets/bootstrap3/js/bootstrap.min.js"></script>
</body>
</html>