#{set shop:shop /}
#{set language:language /}
#{set categories:categories /}
<style>
    wise-shopping-cart-container {
        padding: 1rem;
        max-width: 900px;
        margin: 0 auto;
    }

    @media screen and (min-width: 1500px) {
        wise-shopping-cart-container {
            max-width: 1300px;
        }
    }

    .form-container {
        display: none;
    }
</style>
<!DOCTYPE html>
<html language="${language}" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <title>${shop.shopName}</title>

    <link href="/wisehands/assets/mdb_shop/font/font_awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/wisehands/assets/bootstrap4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/wisehands/assets/mdb_shop/css/mdb.min.css" rel="stylesheet"/>

    <script src="https://unpkg.com/redux@latest/dist/redux.min.js"></script>

    <script src="/wisehands/polymer3/shopping-cart/build/es5-bundled/node_modules/@webcomponents/webcomponentsjs/custom-elements-es5-adapter.js"></script>
    <script src="/wisehands/polymer3/shopping-cart/build/es5-bundled/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
    <script type="module"
            src="/wisehands/polymer3/shopping-cart/build/es5-bundled/src/wise-shopping-cart-container.js"></script>

</head>
#{setup-redux /}
#{get-cart /}
#{shop-header /}
#{verbatim}
<wise-shopping-cart-container language="${language}" currency-label="UAH" start-shopping-label="&{'shopping.cart.start.shopping.label'}" basket-empty-label="&{'shopping.cart.basket.empty.label'}"
                              delivery-type-label="&{'delivery.type.label'}" payment-type-label="&{'payment.type.label'}" customer-label="&{'customer.label'}"
                              customer-name-label="&{'customer.name.label'}" customer-phone-label="&{'customer.phone.label'}" customer-email-label="&{'customer.email.label'}"
                              customer-comment-label="&{'customer.comment.label'}" amount-products-label="&{'amount.products.label'}" delivery-label="&{'delivery.label'}" general-payment-label="&{'general.payment.label'}"
                              button-next-label="&{'button.next.label'}" error-message-please-write-label="&{'error.message.please.write.label'}"

                              error-message-please-choose-delivery-label="&{'error.message.please.choose.delivery.label'}"
                              error-message-please-choose-payment-label="&{'error.message.please.choose.payment.label'}"
                              error-message-please-minimum-delivery-label="&{'error.message.please.minimum.delivery.label'}"
                              error-message-fill-info="&{'error.message.fill.info'}"


                              page-select-address-placeholder-street="&{'page.select.address.placeholder.street'}"
                              page-select-address-placeholder-house="&{'page.select.address.placeholder.house'}"
                              address-general-label="&{'address.general.label'}"
                              address-entrance-label="&{'address.entrance.label'}"
                              address-entrance-code-label="&{'address.entrance.code.label'}"
                              address-floor-label="&{'address.floor.label'}"
                              address-apartment-label="&{'address.apartment.label'}"

                              map-label="&{'map.label'}"
                              map-choose-your-place-label="&{'map.choose.your.place.label'}"
                              map-error-message="&{'map.error.message'}"

>
</wise-shopping-cart-container>

#{if shop.faceBookPixelApiKey}
<script>
    console.log('present faceBookPixelApiKey');
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '${shop.faceBookPixelApiKey}');
    fbq('track', 'PageView');
    fbq('track', 'InitiateCheckout');
</script>
#{/if}
#{/verbatim}

<div class="form-container"></div>

<script>

  let shoppingCartState = {};
  store.subscribe(() => {
    shoppingCartState = store.getState();
  });

  document.addEventListener('open-product', function (e) {
    console.log(shoppingCartState.items);
    let path = '';
    shoppingCartState.items.forEach(item => {
      if (item.uuid === e.detail) {
        path = item.productId;
      }
    });
    const language = document.querySelector('html').getAttribute('language');
    window.location = '/'+language+'/product/' + path;

  });
  document.addEventListener('shopping-cart-api-response', function (e) {
    store.dispatch({type: 'SHOPPINGCART', payload: e.detail});
  });

  document.addEventListener('proceed-with-shopping-cart', function (e) {
    store.dispatch({type: 'SHOPPINGCART', payload: e.detail});
    console.log("SHOPPINGCART", e.detail);
  });

  document.addEventListener('order-processing-error', function (e) {
     console.log('order-processing-error', e);
     window.location = '/server-error';
  });

</script>
</html>


