<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title></title>

    <link rel="stylesheet" href="public/assets/fonts/font-awesome.min.css">

    <link href="public/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="public/assets/css/mdb.min.css" rel="stylesheet" />
    <link href="public/assets/css/shop.css" rel="stylesheet" />

</head>
<body class="fixed-sn mdb-skin" ng-app="WiseShop" ng-cloak>

    <div ng-view></div>

<script src="public/js/angular.js"></script>
<script src="public/bower_components/angular-route/angular-route.js"></script>
<script src="public/assets/js/jquery-2.2.3.min.js"></script>
<script src="public/assets/js/tether.min.js"></script>
<script src="public/assets/js/bootstrap.min.js"></script>
<script src="public/assets/js/mdb.min.js"></script>

<script src="public/shop/js/routes/routeConfig.js"></script>

<script>
    // SideNav init
    $(".button-collapse").sideNav();
    var el = document.querySelector('.custom-scrollbar');
    Ps.initialize(el);
</script>

<script>
    new WOW().init();
</script>

<script src="public/shop/js/controllers/ShopController.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChjd1ZIoUdxAwO4XCvBVBUQgbQkxRLLL0&signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>
</body>
</html>
