<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="${shop.contact.description}" />
    <meta name="author" content="${shop.shopName}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="${shop.googleWebsiteVerificator}" />

    <title>${shop.shopName}</title>

    <noscript id="deferred-styles">
        <link href="wisehands/assets/mdb_shop/font/font_awesome/css/font-awesome.min.css" rel="stylesheet" >
        <link href="wisehands/assets/bootstrap4.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="wisehands/assets/mdb_shop/css/mdb.min.css" rel="stylesheet" />
        <link href="wisehands/shop/css/shop.css" rel="stylesheet" />
    </noscript>

</head>
<body class="fixed-sn green-skin" ng-app="WiseShop" ng-cloak>
    <!-- Sidebar navigation -->
    <ul id="slide-out" class="side-nav custom-scrollbar" ng-controller="SideNavController">

        <!-- Logo -->
        <!--<li>-->
        <!--<div class="logo-wrapper waves-light sn-avatar-wrapper">-->
        <!---->
        <!--</div>-->
        <!--</li>-->
        <!--/. Logo -->

        <!--About-->
        <li>
            <div class="about">
                <p>{{shopName}}</p>
            </div>
        </li>
        <!--/.About-->

        <!--Social-->
        <!--<li>-->
        <!--<ul class="social">-->
        <!--<li><a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a></li>-->
        <!--<li><a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a></li>-->
        <!--<li><a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a></li>-->
        <!--<li><a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a></li>-->
        <!--<li><a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--/Social-->

        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">
                <li><a href="#/" class="collapsible-header waves-effect arrow-r" ng-class="{active: $route.current.activetab == 'main'}">Головна</a>
                </li>
                <li ng-repeat="category in categories" ng-hide="category.products.length === 0">
                    <a href="#/category/{{category.uuid}}" class="collapsible-header waves-effect arrow-r" ng-class="{ 'active': categoryUuid == category.uuid }">{{category.name}}</a>
                </li>
            </ul>
        </li>
        <!--/. Side navigation links -->

    </ul>
    <!--/. Sidebar navigation -->
    <div ng-view>
        ${shop.contact.description}
    </div>

    <script defer src="wisehands/assets/js/angular.min.js"></script>
    <script defer src="wisehands/assets/js/angular-route.min.js"></script>
    <script defer src="wisehands/assets/js/jquery-2.2.3.min.js"></script>
    <script defer src="wisehands/assets/js/tether.min.js"></script>
    <script defer src="wisehands/assets/bootstrap4.0.0/js/bootstrap.min.js"></script>
    <script defer src="wisehands/assets/mdb_shop/js/mdb.min.js"></script>

    <script defer src="wisehands/shop/js/routes/routeConfig.js"></script>

    <script defer src="wisehands/shop/js/controllers/ShopController.js"></script>
    <script defer src="wisehands/shop/js/controllers/ContactsController.js"></script>
    <script defer src="wisehands/shop/js/controllers/ProductDetailsController.js"></script>
    <script defer src="wisehands/shop/js/controllers/SideNavController.js"></script>
    <script defer src="wisehands/shop/js/controllers/CategoryDetailsController.js"></script>

    <script defer src="wisehands/shop/js/services/SharedDataService.js"></script>
    <script defer src="wisehands/shop/js/services/SideNavInitService.js"></script>

    <script defer src="wisehands/shop/js/directives/onFinishRender.js"></script>
    <script defer src="wisehands/shop/js/directives/orderModal.js"></script>


    <script defer src="wisehands/assets/js/angular-spinners.min.js"></script>


    <script>
        function init_map(latLng) {
            var cords = latLng.split(':')

            var lat = cords[0];
            var lng = cords[1];
            var var_location = new google.maps.LatLng(lat, lng);

            var var_mapoptions = {
                center: var_location,

                zoom: 14
            };

            var var_marker = new google.maps.Marker({
                position: var_location,
                map: var_map,
            });

            var var_map = new google.maps.Map(document.getElementById("map-container"),
                    var_mapoptions);

            var_marker.setMap(var_map);
            new WOW().init();

        }
        window.init_map = init_map;
    </script>



    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '${shop.googleAnalyticsCode}', 'auto');
      ga('send', 'pageview');
    </script>

    <script defer src="http://maps.google.com/maps/api/js?key=AIzaSyChjd1ZIoUdxAwO4XCvBVBUQgbQkxRLLL0"></script>

    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>

</body>
</html>
