<!DOCTYPE html>
<html lang="en" ng-app="SuperWiseHands">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Super Wise Hands</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="wisehands/assets/bootstrap3/css/bootstrap.min.css" rel="stylesheet">

    <link href="wisehands/assets/mdb_superAdmin/css/mdb.min.css" rel="stylesheet">

    <link href="wisehands/superadmin/css/superadmin.css" rel="stylesheet">

</head>

<body>
<ul id="slide-out" class="side-nav admin-side-nav dark-side-nav" ng-controller="SideNavController">
    <div class="row vcentering">
        <div class="col-xs-4">
            <img ng-src="{{getProfileImage()}}" class="img-responsive img-circle">
        </div>
        <div class="col-xs-8">
            <h5 class="white-text cursorPointer" ng-click="getUrl()">{{activeShop.shopName}}</h5>
        </div>
    </div>
    <ul class="collapsible collapsible-accordion">
        <li ng-class="{active: $route.current.activetab == 'shops'}"><a href="#/" class="waves-effect waves-light"><i class="fa fa-shopping-cart"></i> Магазини</a></li>
        <li ng-class="{active: $route.current.activetab == 'users'}"><a href="#/users" class="waves-effect waves-light"><i class="fa fa-users"></i> Користувачі</a></li>
        <li ng-class="{active: $route.current.activetab == 'orders'}"><a href="#/orders" class="waves-effect waves-light"><i class="fa fa-tasks"></i> Замовлення</a></li>
        <li ng-click="signOut()" target="_self"><a class="waves-effect waves-light"><i class="fa fa-sign-out"></i> Вийти</a></li>
    </ul>
</ul>

<div ng-view></div>


<!-- SCRIPTS -->
<script src="wisehands/assets/js/angular.min.js"></script>
<script src="wisehands/assets/js/angular-route.min.js"></script>

<script src="wisehands/superadmin/js/routes/routeConfig.js"></script>

<script src="wisehands/superadmin/js/controllers/ShopListController.js"></script>
<script src="wisehands/superadmin/js/controllers/SideNavController.js"></script>
<script src="wisehands/superadmin/js/controllers/ShopDetailsController.js"></script>
<script src="wisehands/superadmin/js/controllers/UsersController.js"></script>
<script src="wisehands/superadmin/js/controllers/UserDetailsController.js"></script>
<script src="wisehands/superadmin/js/controllers/OrdersController.js"></script>
<script src="wisehands/superadmin/js/controllers/OrderDetailsController.js"></script>

<script src="wisehands/superadmin/js/services/sideNavInitService.js"></script>
<script src="wisehands/superadmin/js/services/SignOutService.js"></script>


<script type="text/javascript" src="wisehands/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="wisehands/assets/bootstrap3/js/bootstrap.min.js"></script>

<script type="text/javascript" src="wisehands/assets/mdb_superAdmin/js/mdb.min.js"></script>


</body>

</html>