<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <title>Реєстрація</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="icon"
          type="image/png"
          href="wisehands/assets/images/favicon.png">
</head>
<style>
    body, p, h1, h2, h3, h4, h5, h6, i, a {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', 'Helvetica', sans-serif;
        overflow-x: hidden;
        font-size: 16px;
        box-sizing: border-box;
    }
</style>
<body>

<div class="wizard-block">
    <form name="wizard-form" class="wizard-form">
        <div class="steps">
            <div class="step">
                <span>1</span>
                <span>Магазин</span>
            </div>
        </div>




        <div class="form-field">
            <input id="signin-email" type="email" name="email" required placeholder=" ">
            <span class="highlight"></span>
            <label for="signin-email">Email</label>
        </div>
        <div class="form-field">
            <input id="signin-password" type="password" name="password" required placeholder=" ">
            <span class="highlight"></span>
            <label for="signin-password">Пароль</label>
        </div>
        <button class="signin-form-button">
            Увійти
        </button>
        <a href="/ua/signup"><p>Зареєструватися</p></a>
    </form>
</div>

</body>
</html>