body, p, h1, h2, h3, h4, h5, h6, i {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
}
canvas {
    display: block;
    vertical-align: bottom;
}
header {
    background-color: rgb(14, 41, 53);
}
.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0.8rem;
}
.header-block {
    position: relative;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    padding: 0.5rem;
    color: #fff;
}
.header-logo, .header-links {
    display: flex;
    align-items: center;
}
.header-logo img {
    width: 60px;
    padding-right: 1rem;
}
.header-logo p {
    font-size: 2.3rem;
}
.header-links {
    width: 400px;
}
.header-links a {
    text-decoration: none;
    color: #fff;
}
.header-links p:hover {
    color: lightseagreen;
}
.header-links p {
    font-size: 1.3rem;
    padding: 0.6rem;
    cursor: pointer;
}
.main-page {
    background-color: rgb(14, 41, 53);
    height: calc(100vh - 82.963px);
}
.slogan {
    color: #fff;
    text-align: center;
    padding-top: 30vh ;
    position: relative;
}
.slogan h1 {
    font-size: 2.4rem;
    text-transform: uppercase;
}
.slogan p {
    font-size: 2rem;
    font-family: 'Righteous', sans-serif;
    padding: 1rem 0;
}
.slogan input[type=button] {
    padding: 0.5rem;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    text-transform: uppercase;
    margin: 1rem auto;
    z-index: 555;
    font-size: 1.7rem;
}
.slogan input[type=button]:hover {
    border: 2px solid #fff;
    background-color: #fff;
    color: #0e2935;
    cursor: pointer;
}

.fe-services {
    height: 100vh;
    background: url("../images/85-original.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.be-services {
    height: 100vh;
    background: url("../images/87-original.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.mob-services {
    height: 100vh;
    background: url("../images/88-original.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.services-h2 {
    font-family: 'Righteous', sans-serif;
    font-size: 4rem;
}
.services-p {
    font-size: 1.5rem;
    line-height: 1.5;
}
.fe-text, .mob-text {
    text-align: right;
    padding-top: 22vh;
}
.be-text {
    text-align: left;
    padding-top: 22vh;
}
.fe-text h2, .fe-text p {
    color: #fff;
}
.services-img img {
    width: 100px;
    padding: 1rem 1rem 0 0;
    filter: grayscale(100%);
    transition: 0.5s;
}
.services-img img:hover {
    filter: grayscale(0);
}
.be-text h2, .be-text p {
    color: #63533a;
}
.mob-text h2, .mob-text p {
    color: #75558d;
}
.double-arrow {
    height: 105px;
    position: absolute;
    top: 88vh;
    left: 46.5%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

}
.double-arrow i:hover {
    cursor: pointer;
    text-shadow: 0 0 5px #fff ;
}

.projects {
    height: 100vh;
    background: url("../images/86-original.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.projects-container {
    padding-top: 15vh;
}
.projects-container h2 {
    color: #aa6d63;
    text-align: center;
    padding-bottom: 1rem;
}

.all-projects {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}
.project-card {
    display: flex;
    flex-direction: column;
    flex-basis: 31%;
    background-color: #fff;
    height: 50vh;
    margin: 1rem 0;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}
.project-screen {
    display: flex;
}
.project-screen img, .project-review p, .project-review h4  {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 1rem  ;
}
.project-screen img {
    height: 200px;
}
.project-footgo img{
    width: 200px;
}
.project-review {
    display: flex;
    flex-flow: column wrap;
    width: 95%;
}
.project-review-author {
    display: flex;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 0.3rem;
}
.project-review-author img {
    width: 36px;
}
@media screen and (max-width: 768px)  {
    .header-links {
        display: none;
    }
    .services-h2 {
        font-size: 2.5rem;
    }
    .fe-text, .mob-text {
        text-align: right;
        padding-top: 5vh;
    }
    .be-text {
        text-align: left;
        padding-top: 5vh;
    }
    .services-img img {
        width: 72px;
    }
}